.back_content{
    width:100%;
    display:flex;
    flex-direction: column;
    h2{
        font-size: $h2-fzSize;
    }
    .box{
        tr{
            td{
                input{
                vertical-align: middle;   
                }
            }
        }
    }
}