.back_content{
    width:100%;
    display:flex;
    flex-direction: column;
    h2{
        font-size: $h2-fzSize;
        margin: 35px 0 10px 30px;
    }
    form{
        display:flex;
        justify-content: space-between;
        margin: 0 35px;
        .btn_left{
            display:flex;
            input{
                margin-right:30px;
                color: $color5;
                background-color: #FFF7AB;
                border: none;
                font-size: $btnMd-fzSize;
            }
        }
    }
    .box{
        border: 1px solid red;
        width:100%;
        
    }
}