.food {
    .full {
        display: flex;
        margin: auto;
        justify-content: center;
        overflow: hidden;
    }
    .full img {
        width: 100%;
        vertical-align: bottom;
        // box-shadow: 0 0 80px white inset;
        @include md(){
            
        }
        @include lg(){
        }
        @include xl(){
        }
    }

    .vapour {
        position: absolute;
        display: flex;
        z-index: 1;
        
        @include md(){
            padding: 0 5px;
            margin-left: 30%;
        }
        @include lg(){
            padding: 0 10px;
            margin-left: 33%;
        }
        @include xl(){
            padding: 0 20px;
            margin-left: 35%;
        }
    }

    .vapour span {
        position: relative;
        display: block;
        background: #fff;
        border-radius: 50%;
        animation: animate 5s linear infinite;
        opacity: 0;
        filter: blur(15px);
        animation-delay: calc(var(--i) * -0.5s);
        @include md(){
            
        }
        @include lg(){

        }
        @include xl(){
            bottom: 300px;
            margin: 0 10px;
            min-width: 10px;
            height: 120px;
        }
    }

    @keyframes animate {
        0% {
            transform: translateY(0) scaleX(1);
            opacity: 0;
        }

        15% {
            opacity: 1;
        }

        50% {
            transform: translateY(-150px) scaleX(5);
        }

        95% {
            opacity: 0;
        }

        100% {
            transform: translateY(-300px) scaleX(10);
        }
    }
}