.food {
    .food_banner{
       .full {
        display: flex;
        margin: auto;
        justify-content: center;
        overflow: hidden;
        img {
            width: 140%;
            vertical-align: bottom;
            @include xl() {
                width: 100%;
            }
            }
        } 
    }

    .vapour {
        position: absolute;
        display: flex;
        z-index: 1;
        padding: 0 5px;
        margin-left:30%;
        
        @include md(){
            padding: 0 5px;
            margin-left: 30%;
        }
        @include lg(){
            padding: 0 10px;
            margin-left: 33%;
        }
        @include xl(){
            padding: 0 20px;
            margin-left: 35%;
        }
    }

    .vapour span {
        position: relative;
        display: block;
        background: #fff;
        border-radius: 50%;
        animation: animate 5s linear infinite;
        opacity: 0;
        filter: blur(15px);
        animation-delay: calc(var(--i) * -0.5s);
        bottom: 260px;
        margin: 0 3px;
        min-width: 6px;
        height: 100px;
        @include md(){
            bottom: 400px;
            margin: 0 7px;
            min-width: 8px;
            height: 150px;
        }
        @include lg(){
            bottom: 420px;
            margin: 0 8px;
            min-width: 10px;
            height: 150px;
        }
        @include xl(){
            bottom: 500px;
            margin: 0 10px;
            min-width: 10px;
            height: 150px;
        }
    }

    @keyframes animate {
        0% {
            transform: translateY(0) scaleX(1);
            opacity: 0;
        }

        15% {
            opacity: 1;
        }

        50% {
            transform: translateY(-150px) scaleX(5);
        }

        95% {
            opacity: 0;
        }

        100% {
            transform: translateY(-300px) scaleX(10);
        }
    }
}