.homepage{
    @include xl(){
        border:0px;
    }
    //首頁才有的header
    .indexHeader{
        border: 2px solid red;
        width: 100%;
        height: 100vh;
        @include xl(){
            border: 1px solid #000;
            display: flex;
            nav{
                // border: 3px solid #000;
                width:4%;
                padding: 0 5px;
                background-color: $color3;
                z-index: 2;
                ul{
                    display: flex;
                    flex-direction: column;
                    li{
                        // border: 1px solid #000;
                        margin-bottom: 16px;
                        position: relative;
                        &:hover ::after{
                            content:'首頁';
                            padding-left: 5px;
                            // border: 1px solid #000;
                            text-align: center;
                            line-height: 23px;
                            width: 62px;
                            height: 23px;
                            position: absolute;
                            top:50%;
                            left:50px;
                            font-size: $sm-word-fzSize;
                            transform: translateY(-50%);
                            background-image: url(../../images/label.svg);
                            background-repeat: no-repeat;
                            background-size: 100%;
                            color:$color4;
                        }
                        &:nth-of-type(2){
                            &:hover ::after{
                                content:'設施';
                            }
                        }
                        &:nth-of-type(3){
                            &:hover ::after{
                                content:'最新消息';
                            }
                        }
                        &:nth-of-type(4){
                            &:hover ::after{
                                content:'園區資訊';
                            }
                        }
                        &:nth-of-type(5){
                            &:hover ::after{
                                content:'饗食餐廳';
                            }
                        }
                        &:nth-of-type(6){
                            &:hover ::after{
                                content:'遊客體驗';
                            }
                        }
                        &:nth-of-type(7){
                            &:hover ::after{
                                content:'聯絡我們';
                            }
                        }
                        img{
                            // border: 1px solid #000;
                            width: 100%;
                        }
    
                    }
                }
            }         
        }
        .video{
            @include xl(){
                // border: 1px solid #000;
                width: 96%;
                background-image: url(../../images/indexTopBcg.svg);
                background-size: 100%;
                background-position: bottom;
                background-repeat: no-repeat;
                position: relative;
            }
            .pic{
                @include xl(){
                    // border: 1px solid #000;
                    position: absolute;
                    bottom:-650px;
                    left:-60px;
                    background-image: none;
                }
                img{
                    // border: 1px solid #000;
                    display: none;
                    @include xl(){
                        display: block;
                        width: 77%;
                    }   
                }
            }
            
        }
        .ticket{
            display:none;
            // @include xl(){
            //     border: 1px solid #000;
            //     display: block;
            //     position: absolute;
            //     right:5%
            // }
            
        }
    
               
    }

    //===============大容器===============
    .bigContainer{
        @include xl(){

            min-height: 100vh;
            border-top: 1px solid $color3;
            border-left: 20px solid $color3;
            border-right:20px solid $color3 ;
        }
        //=============主題園區=============
        section.ThemeArea{
            .full{
                // border: 4px solid #000;
                .block{
                    // border: 2px solid red;
                    width: 100%;
                    padding-right: 6%;
                    display: flex;
                    flex-direction: row;
                    .info{
                        // border: 2px solid blue;
                        width: 50%;
                        @include xl(){
                            padding: 0 40px;

                        }
                        h4{
                            padding-top: 0;
                            font-size: $h4-fzSize;
                            text-align: right;
                            @include md(){
                                margin-top: 100px;
                            }
                            @include xl(){
                                margin-top: 200px;
                            }  
                        }
                    }
                }
                svg{
                    width: 50%;
                }
                .farm{
                    // border: 1px solid #000;
                    flex-direction: row-reverse;
                    padding-right: 0;
                    padding-left: 6%;
                    @include md(){
                        margin-top: -100px;
                    }
                    @include xl(){
                        margin-top: -260px;
                    }
                    .info{
                        margin-top: 60px;
                        text-align: left;
                    }
                }
                .indian{
                    @include md(){
                        margin-top: -60px;
                    }
                    @include xl(){
                        margin-top: -200px;
                    }
                    
                    .info{
                        @include xl(){
                            margin-top: 60px;
                        }
                        
                        
                    }
                }  
            }
   
        }

        //=============熱門設施=============

        //=============所有設施=============
        section.ThrillRide{
            .all-btn,.filter,.all-facility{
                // border: 1px solid #000;
                display: flex;
                justify-content: center;
                margin-bottom: 15px;
            }

            //按鈕
            @include btn(area,$color2,$color3,white);
            //checkboz
            .filter{
                .option{
                    display: flex;
                    align-items: center;
                    margin: 0 16px;
                    input{
                        margin-right: 5px;
                    }
                }
            }
            .all-facility{
                border: 1.5px solid $color8;
                border-radius: 10px;
                padding: 20px;
                p{
                    margin: 0 5px;
                }
                p+p{
                    &::before{
                        // border: 1px solid #000;
                        content:"|";
                        margin-right: 5px;
                    }
                }

            }
            .all-card{
                // border: 1px solid #000;
                display: flex;
                margin-top: 40px;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap:10px;
                @include md(){
                    gap:20px;
                }
                @include xl(){
                    gap:30px;

                }
                
                .card{
                    width: calc(50% - 5px);
                    // border: 1px solid #000;
                    margin-bottom: 10px;
                    @include md(){
                        width: calc(33.333% - 6.6667px);
                        margin-bottom: 20px;
                    }
                    @include xl(){
                        width: calc(25% - 22.5px);
                        margin-bottom: 25px;
                    }
                
                    .pic{
                        // border: 1px solid #000;
                        border-radius: 15px;
                        width: 100%;
                        aspect-ratio: 4.5 / 3;
                        margin-bottom: 5px;
                        position: relative;
                        overflow: hidden;
                        .area{
                            width: 50px;
                            height: 50px;
                            border-radius: 0 0 15px 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top:0;
                            left:0;
                            font-size: $h6-fzSize;
                            font-weight: bold;
                            letter-spacing: 0.08em;
                            line-height: 1em;
                            color:$color4;
                            background-color: $color1;
                            @include lg(){
                                width: 60px;
                                height: 60px;
                            }
                            @include xl(){
                                width: 70px;
                                height: 70px;
                            }
                            
                            
                            &::before{
                                content:"";
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                top:0;
                                right:-6.3px;
                                background-image: url(../../images/cornerRight.svg);
                                background-size: 100%;
                                background-repeat: no-repeat;
                                // border: 1px solid #000;
                            }
                            &::after{
                                content:"";
                                width: 15px;
                                height: 13.7px;
                                position: absolute;
                                bottom:-6px;
                                left:0px;
                                background-image: url(../../images/cornerLeft.svg);
                                background-size: 100%;
                                background-repeat: no-repeat;
                                // border: 1px solid #000;

                            }
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .info{
                        padding: 5px;
                        h4{
                            font-size: $h6-fzSize;
                            color:$color3;
                            display: flex;
                            align-items: center;
                            font-weight: 500;
                            &::before{
                                content:"";
                                display: block;
                                width: 6px;
                                height: 6px;
                                border-radius: 50%;
                                background-color: $color6;
                                margin-right: 6px;
                            }
                        }
                    }
                }

            }
      

        }

        //=============饗食餐飲=============
    }

    //only for首頁的footer微調整
    footer{
        @include xl(){
            border-left: 20px solid $color3;
            border-right:20px solid $color3 ;
        }
        @include xl(){
            margin-top: 0;
        }
        
    }

     
}



