.homepage{
    @include xl(){
        border:0px;
    }
    //首頁才有的header
    .indexHeader{
        border: 2px solid red;
        width: 100%;
        height: 100vh;
        @include xl(){
            border: 1px solid #000;
            display: flex;
            nav{
                // border: 3px solid #000;
                width:4%;
                padding: 0 5px;
                background-color: $color3;
                z-index: 2;
                ul{
                    display: flex;
                    flex-direction: column;
                    li{
                        // border: 1px solid #000;
                        margin-bottom: 16px;
                        img{
                            // border: 1px solid #000;
                            width: 100%;
                        }
    
                    }
                }
            }         
        }
        .video{
            @include xl(){
                // border: 1px solid #000;
                width: 96%;
                background-image: url(../../images/indexTopBcg.svg);
                background-size: 100%;
                background-position: bottom;
                background-repeat: no-repeat;
                position: relative;
            }
            .pic{
                @include xl(){
                    // border: 1px solid #000;
                    position: absolute;
                    bottom:-650px;
                    left:-60px;
                    background-image: none;
                }
                img{
                    // border: 1px solid #000;
                    display: none;
                    @include xl(){
                        display: block;
                        width: 77%;
                    }   
                }
            }
            
        }
        .ticket{
            display:none;
            // @include xl(){
            //     border: 1px solid #000;
            //     display: block;
            //     position: absolute;
            //     right:5%
            // }
            
        }
    
               
    }

    //===============大容器===============
    .bigContainer{
        @include xl(){
            border: 1px solid red;
            min-height: 100vh;
            border-left: 20px solid $color3;
            border-right:20px solid $color3 ;
        }
        //=============主題園區=============
        section.ThemeArea{
            .full{
                // border: 4px solid #000;
                .block{
                    // border: 2px solid red;
                    width: 100%;
                    padding-right: 6%;
                    display: flex;
                    flex-direction: row;
                    .info{
                        // border: 2px solid blue;
                        width: 50%;
                        @include xl(){
                            padding: 0 40px;

                        }
                        h3{
                            padding-top: 0;
                            font-size: $h4-fzSize;
                            text-align: right;
                            @include md(){
                                margin-top: 100px;
                            }
                            @include xl(){
                                margin-top: 200px;
                            }  
                        }
                    }
                }
                svg{
                    width: 50%;
                }
                .farm{
                    // border: 1px solid #000;
                    flex-direction: row-reverse;
                    padding-right: 0;
                    padding-left: 6%;
                    @include md(){
                        margin-top: -100px;
                    }
                    @include xl(){
                        margin-top: -260px;
                    }
                    .info{
                        margin-top: 60px;
                        text-align: left;
                    }
                }
                .indian{
                    @include md(){
                        margin-top: -60px;
                    }
                    @include xl(){
                        margin-top: -200px;
                    }
                    
                    .info{
                        @include xl(){
                            margin-top: 60px;
                        }
                        
                        
                    }
                }  
            }
   
        }

        //=============熱門設施=============
        //=============所有設施=============
        section.ThrillRide{
            .wrap{
                .card{
                    width: 50%;
                    border: 1px solid #000;
                }

            }
      

        }

        //=============饗食餐飲=============
    }

    //only for首頁的footer微調整
    footer{
        @include xl(){
            border-left: 20px solid $color3;
            border-right:20px solid $color3 ;
        }
        @include xl(){
            margin-top: 0;
        }
        
    }

     
}



