// index

.index {
  h1 {
    font-size: 40px;

    // @media screen and (max-width : 414px) {
    //   font-size: 20px;
    // }

    @include t() {
      font-size: 20px;
    }

    @include m() {
      font-size: 12px;
      color: #f20
    }
  }
}