// TODO
// entry button replace bcg method with pseudo-element. prevent rwd bugs

.index__bcg{
    position: relative;
}
.index__bcg img:first-child{
    width: 100%;
}
.index__ballon1, .index__ballon2, .index__cloud{
    position: absolute;
}
.index__ballon1{
    width: 12%;
    left: 25%;
    top: 10%;
}
.index__ballon2{
    width: 8%;
    left: 70%;
    top: 8%;
}
.index__cloud{
    width: 15%;
    left: 60%;
    top: 8%;
}

.index__logo{
    position: absolute;
    width: 40%;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
}
.index__entry{
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;

    width: 50%;
    display: flex;
    justify-content: space-between;
}
.index__entry a{
    position: relative;
}
.index__entry p{
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    font-size: $big-fzsize;
    color: $color1;
}
.index__entry div{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0.6;
}
.index__front div{
    background-color: $color6;
}
.index__back div{
    background-color: $color5;
}