.pyro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    overflow: hidden;
}
@include md{
    .pyro{
        height: 40vh;
    } 
}
@include lg{
    .pyro{
        height: 30vh;
    } 
}
@include xl{
    .pyro{
        height: 50vh;
    } 
}

.pyro > .before,
.pyro > .after {
 position: absolute;
 width: 5px;
 height: 5px;
 border-radius: 50%;
 box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
 -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
 -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
 -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
 -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
 animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
 to {
   box-shadow: 40px -332.6666666667px #00fff7, -81px -224.6666666667px #00fff2, -119px -192.6666666667px #00ff04, -229px -343.6666666667px #4800ff, 227px -317.6666666667px #00f2ff, 139px -185.6666666667px #ff004d, 248px -96.6666666667px #ff1100, -181px -208.6666666667px #00ccff, 181px -227.6666666667px #00ff04, -217px -360.6666666667px #0084ff, -244px 81.3333333333px #00ff77, 198px -262.6666666667px #0044ff, 83px -295.6666666667px #ff006a, 145px -48.6666666667px #00eeff, 152px -19.6666666667px #00d5ff, 189px -353.6666666667px #ffaa00, 147px -387.6666666667px #6200ff, -51px -272.6666666667px #ff00b7, 6px -81.6666666667px #d5ff00, 28px -331.6666666667px #6f00ff, -99px -162.6666666667px #ff5500, -62px -96.6666666667px #00ff59, 175px -357.6666666667px #d5ff00, 224px -51.6666666667px #1aff00, 138px -97.6666666667px #00ffd5, -42px -338.6666666667px #ff0026, -245px -89.6666666667px #9900ff, 103px 25.3333333333px #ff0091, 208px -319.6666666667px #ffd000, -119px -117.6666666667px #00ff11, -226px 9.3333333333px #d000ff, 64px -230.6666666667px #0088ff, -69px -412.6666666667px #ff0080, -91px 52.3333333333px #0091ff, 242px -2.6666666667px #00c4ff, -64px -323.6666666667px #005eff, 97px -63.6666666667px #77ff00, 125px -193.6666666667px fuchsia, -7px -365.6666666667px #00aaff, -53px -137.6666666667px #2b00ff, -30px 49.3333333333px #0009ff, 115px -366.6666666667px #00ff59, -233px 44.3333333333px #ff0055, 36px -74.6666666667px #0040ff, -136px 34.3333333333px #1aff00, -59px -332.6666666667px #c4ff00, -102px -168.6666666667px #ff0066, -211px -54.6666666667px #3cff00, -37px -269.6666666667px #00ffbf, 223px -40.6666666667px #00c4ff, 188px -288.6666666667px #2600ff;
 }
}
@-moz-keyframes bang {
 to {
   box-shadow: 40px -332.6666666667px #00fff7, -81px -224.6666666667px #00fff2, -119px -192.6666666667px #00ff04, -229px -343.6666666667px #4800ff, 227px -317.6666666667px #00f2ff, 139px -185.6666666667px #ff004d, 248px -96.6666666667px #ff1100, -181px -208.6666666667px #00ccff, 181px -227.6666666667px #00ff04, -217px -360.6666666667px #0084ff, -244px 81.3333333333px #00ff77, 198px -262.6666666667px #0044ff, 83px -295.6666666667px #ff006a, 145px -48.6666666667px #00eeff, 152px -19.6666666667px #00d5ff, 189px -353.6666666667px #ffaa00, 147px -387.6666666667px #6200ff, -51px -272.6666666667px #ff00b7, 6px -81.6666666667px #d5ff00, 28px -331.6666666667px #6f00ff, -99px -162.6666666667px #ff5500, -62px -96.6666666667px #00ff59, 175px -357.6666666667px #d5ff00, 224px -51.6666666667px #1aff00, 138px -97.6666666667px #00ffd5, -42px -338.6666666667px #ff0026, -245px -89.6666666667px #9900ff, 103px 25.3333333333px #ff0091, 208px -319.6666666667px #ffd000, -119px -117.6666666667px #00ff11, -226px 9.3333333333px #d000ff, 64px -230.6666666667px #0088ff, -69px -412.6666666667px #ff0080, -91px 52.3333333333px #0091ff, 242px -2.6666666667px #00c4ff, -64px -323.6666666667px #005eff, 97px -63.6666666667px #77ff00, 125px -193.6666666667px fuchsia, -7px -365.6666666667px #00aaff, -53px -137.6666666667px #2b00ff, -30px 49.3333333333px #0009ff, 115px -366.6666666667px #00ff59, -233px 44.3333333333px #ff0055, 36px -74.6666666667px #0040ff, -136px 34.3333333333px #1aff00, -59px -332.6666666667px #c4ff00, -102px -168.6666666667px #ff0066, -211px -54.6666666667px #3cff00, -37px -269.6666666667px #00ffbf, 223px -40.6666666667px #00c4ff, 188px -288.6666666667px #2600ff;
 }
}
@-o-keyframes bang {
 to {
   box-shadow: 40px -332.6666666667px #00fff7, -81px -224.6666666667px #00fff2, -119px -192.6666666667px #00ff04, -229px -343.6666666667px #4800ff, 227px -317.6666666667px #00f2ff, 139px -185.6666666667px #ff004d, 248px -96.6666666667px #ff1100, -181px -208.6666666667px #00ccff, 181px -227.6666666667px #00ff04, -217px -360.6666666667px #0084ff, -244px 81.3333333333px #00ff77, 198px -262.6666666667px #0044ff, 83px -295.6666666667px #ff006a, 145px -48.6666666667px #00eeff, 152px -19.6666666667px #00d5ff, 189px -353.6666666667px #ffaa00, 147px -387.6666666667px #6200ff, -51px -272.6666666667px #ff00b7, 6px -81.6666666667px #d5ff00, 28px -331.6666666667px #6f00ff, -99px -162.6666666667px #ff5500, -62px -96.6666666667px #00ff59, 175px -357.6666666667px #d5ff00, 224px -51.6666666667px #1aff00, 138px -97.6666666667px #00ffd5, -42px -338.6666666667px #ff0026, -245px -89.6666666667px #9900ff, 103px 25.3333333333px #ff0091, 208px -319.6666666667px #ffd000, -119px -117.6666666667px #00ff11, -226px 9.3333333333px #d000ff, 64px -230.6666666667px #0088ff, -69px -412.6666666667px #ff0080, -91px 52.3333333333px #0091ff, 242px -2.6666666667px #00c4ff, -64px -323.6666666667px #005eff, 97px -63.6666666667px #77ff00, 125px -193.6666666667px fuchsia, -7px -365.6666666667px #00aaff, -53px -137.6666666667px #2b00ff, -30px 49.3333333333px #0009ff, 115px -366.6666666667px #00ff59, -233px 44.3333333333px #ff0055, 36px -74.6666666667px #0040ff, -136px 34.3333333333px #1aff00, -59px -332.6666666667px #c4ff00, -102px -168.6666666667px #ff0066, -211px -54.6666666667px #3cff00, -37px -269.6666666667px #00ffbf, 223px -40.6666666667px #00c4ff, 188px -288.6666666667px #2600ff;
 }
}
@-ms-keyframes bang {
 to {
   box-shadow: 40px -332.6666666667px #00fff7, -81px -224.6666666667px #00fff2, -119px -192.6666666667px #00ff04, -229px -343.6666666667px #4800ff, 227px -317.6666666667px #00f2ff, 139px -185.6666666667px #ff004d, 248px -96.6666666667px #ff1100, -181px -208.6666666667px #00ccff, 181px -227.6666666667px #00ff04, -217px -360.6666666667px #0084ff, -244px 81.3333333333px #00ff77, 198px -262.6666666667px #0044ff, 83px -295.6666666667px #ff006a, 145px -48.6666666667px #00eeff, 152px -19.6666666667px #00d5ff, 189px -353.6666666667px #ffaa00, 147px -387.6666666667px #6200ff, -51px -272.6666666667px #ff00b7, 6px -81.6666666667px #d5ff00, 28px -331.6666666667px #6f00ff, -99px -162.6666666667px #ff5500, -62px -96.6666666667px #00ff59, 175px -357.6666666667px #d5ff00, 224px -51.6666666667px #1aff00, 138px -97.6666666667px #00ffd5, -42px -338.6666666667px #ff0026, -245px -89.6666666667px #9900ff, 103px 25.3333333333px #ff0091, 208px -319.6666666667px #ffd000, -119px -117.6666666667px #00ff11, -226px 9.3333333333px #d000ff, 64px -230.6666666667px #0088ff, -69px -412.6666666667px #ff0080, -91px 52.3333333333px #0091ff, 242px -2.6666666667px #00c4ff, -64px -323.6666666667px #005eff, 97px -63.6666666667px #77ff00, 125px -193.6666666667px fuchsia, -7px -365.6666666667px #00aaff, -53px -137.6666666667px #2b00ff, -30px 49.3333333333px #0009ff, 115px -366.6666666667px #00ff59, -233px 44.3333333333px #ff0055, 36px -74.6666666667px #0040ff, -136px 34.3333333333px #1aff00, -59px -332.6666666667px #c4ff00, -102px -168.6666666667px #ff0066, -211px -54.6666666667px #3cff00, -37px -269.6666666667px #00ffbf, 223px -40.6666666667px #00c4ff, 188px -288.6666666667px #2600ff;
 }
}
@keyframes bang {
 to {
   box-shadow: 40px -332.6666666667px #00fff7, -81px -224.6666666667px #00fff2, -119px -192.6666666667px #00ff04, -229px -343.6666666667px #4800ff, 227px -317.6666666667px #00f2ff, 139px -185.6666666667px #ff004d, 248px -96.6666666667px #ff1100, -181px -208.6666666667px #00ccff, 181px -227.6666666667px #00ff04, -217px -360.6666666667px #0084ff, -244px 81.3333333333px #00ff77, 198px -262.6666666667px #0044ff, 83px -295.6666666667px #ff006a, 145px -48.6666666667px #00eeff, 152px -19.6666666667px #00d5ff, 189px -353.6666666667px #ffaa00, 147px -387.6666666667px #6200ff, -51px -272.6666666667px #ff00b7, 6px -81.6666666667px #d5ff00, 28px -331.6666666667px #6f00ff, -99px -162.6666666667px #ff5500, -62px -96.6666666667px #00ff59, 175px -357.6666666667px #d5ff00, 224px -51.6666666667px #1aff00, 138px -97.6666666667px #00ffd5, -42px -338.6666666667px #ff0026, -245px -89.6666666667px #9900ff, 103px 25.3333333333px #ff0091, 208px -319.6666666667px #ffd000, -119px -117.6666666667px #00ff11, -226px 9.3333333333px #d000ff, 64px -230.6666666667px #0088ff, -69px -412.6666666667px #ff0080, -91px 52.3333333333px #0091ff, 242px -2.6666666667px #00c4ff, -64px -323.6666666667px #005eff, 97px -63.6666666667px #77ff00, 125px -193.6666666667px fuchsia, -7px -365.6666666667px #00aaff, -53px -137.6666666667px #2b00ff, -30px 49.3333333333px #0009ff, 115px -366.6666666667px #00ff59, -233px 44.3333333333px #ff0055, 36px -74.6666666667px #0040ff, -136px 34.3333333333px #1aff00, -59px -332.6666666667px #c4ff00, -102px -168.6666666667px #ff0066, -211px -54.6666666667px #3cff00, -37px -269.6666666667px #00ffbf, 223px -40.6666666667px #00c4ff, 188px -288.6666666667px #2600ff;
 }
}
@-webkit-keyframes gravity {
 to {
   transform: translateY(200px);
   -moz-transform: translateY(200px);
   -webkit-transform: translateY(200px);
   -o-transform: translateY(200px);
   -ms-transform: translateY(200px);
   opacity: 0;
 }
}
@-moz-keyframes gravity {
 to {
   transform: translateY(200px);
   -moz-transform: translateY(200px);
   -webkit-transform: translateY(200px);
   -o-transform: translateY(200px);
   -ms-transform: translateY(200px);
   opacity: 0;
 }
}
@-o-keyframes gravity {
 to {
   transform: translateY(200px);
   -moz-transform: translateY(200px);
   -webkit-transform: translateY(200px);
   -o-transform: translateY(200px);
   -ms-transform: translateY(200px);
   opacity: 0;
 }
}
@-ms-keyframes gravity {
 to {
   transform: translateY(200px);
   -moz-transform: translateY(200px);
   -webkit-transform: translateY(200px);
   -o-transform: translateY(200px);
   -ms-transform: translateY(200px);
   opacity: 0;
 }
}
@keyframes gravity {
 to {
   transform: translateY(200px);
   -moz-transform: translateY(200px);
   -webkit-transform: translateY(200px);
   -o-transform: translateY(200px);
   -ms-transform: translateY(200px);
   opacity: 0;
 }
}
@-webkit-keyframes position {
 0%, 19.9% {
   margin-top: 10%;
   margin-left: 40%;
 }
 20%, 39.9% {
   margin-top: 40%;
   margin-left: 30%;
 }
 40%, 59.9% {
   margin-top: 20%;
   margin-left: 70%;
 }
 60%, 79.9% {
   margin-top: 30%;
   margin-left: 20%;
 }
 80%, 99.9% {
   margin-top: 30%;
   margin-left: 80%;
 }
}
@-moz-keyframes position {
 0%, 19.9% {
   margin-top: 10%;
   margin-left: 40%;
 }
 20%, 39.9% {
   margin-top: 40%;
   margin-left: 30%;
 }
 40%, 59.9% {
   margin-top: 20%;
   margin-left: 70%;
 }
 60%, 79.9% {
   margin-top: 30%;
   margin-left: 20%;
 }
 80%, 99.9% {
   margin-top: 30%;
   margin-left: 80%;
 }
}
@-o-keyframes position {
 0%, 19.9% {
   margin-top: 10%;
   margin-left: 40%;
 }
 20%, 39.9% {
   margin-top: 40%;
   margin-left: 30%;
 }
 40%, 59.9% {
   margin-top: 20%;
   margin-left: 70%;
 }
 60%, 79.9% {
   margin-top: 30%;
   margin-left: 20%;
 }
 80%, 99.9% {
   margin-top: 30%;
   margin-left: 80%;
 }
}
@-ms-keyframes position {
 0%, 19.9% {
   margin-top: 10%;
   margin-left: 40%;
 }
 20%, 39.9% {
   margin-top: 40%;
   margin-left: 30%;
 }
 40%, 59.9% {
   margin-top: 20%;
   margin-left: 70%;
 }
 60%, 79.9% {
   margin-top: 30%;
   margin-left: 20%;
 }
 80%, 99.9% {
   margin-top: 30%;
   margin-left: 80%;
 }
}
@keyframes position {
 0%, 19.9% {
   margin-top: 10%;
   margin-left: 40%;
 }
 20%, 39.9% {
   margin-top: 40%;
   margin-left: 30%;
 }
 40%, 59.9% {
   margin-top: 20%;
   margin-left: 70%;
 }
 60%, 79.9% {
   margin-top: 30%;
   margin-left: 20%;
 }
 80%, 99.9% {
   margin-top: 30%;
   margin-left: 80%;
 }
}