.lostClothes{
    .gameRow{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .gameCol{
        width: 100%;
        padding: 15px;
    }
    .gameCol:first-child{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gameCol:last-child{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @include md{
        .gameCol{
            width: 50%;
        }
    }
    .closetTop, .closetMiddle, .closetBottom{
        display: flex;
        align-items: center;
        border-bottom: 2px solid $color5;
    }
    .closetTop p, .closetMiddle p, .closetBottom p{
        padding-left: 10px;
        font-size: $h6-fzSize;
    }

    .closet{
        border: $color5 solid 3px;
        border-radius: 15px;
        background-color: $color7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .closet ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .closet li{
        width: 33.33333%;
        padding: 5px;
    }
    @include md{
        .closet li{
            padding: 10px;
        }
    }
    .closet li:hover{
        cursor: pointer;
        animation: gelatine 0.5s;
    }
    .closet li img{
        width: 100%;
        padding: 5px;
        background-color: $color1;
    }
    @include md{
        .closet li img{
            padding: 15px;
        }
    }
    #btnClear{
        border: none;
        background-color: $color1;
        color: $color5;
        padding: 5px 15px 5px 15px;
        margin: 5px 0  5px 0;
        border-radius: 100px;
        box-shadow: 3px 3px 0 $color5;
    }
    #btnClear:hover{
        cursor: pointer;
        animation: gelatine 0.5s;
    }


    @keyframes gelatine {
        from, to { transform: scale(1, 1); }
        25% { transform: scale(0.9, 1.1); }
        50% { transform: scale(1.1, 0.9); }
        75% { transform: scale(0.95, 1.05); }
      }
}