.member{
    border-bottom:15px solid $color3 ;
    @include md(){
        border-bottom:20px solid $color3 ;
    }
    //共用上半部start
    .member-wrap{
        @include md(){
            width: 80%;
        }  
    }
    .all-btn{
        width: 100%;
        // border: 1px solid #000;
        // margin: auto;
        text-align: center;
        margin-bottom: 50px;
    }
    @include bgBtn(member){
        margin: 0 5px;
        background-color: $color2;
        &:hover{
            background-color: darken($color2, 10%);
        }   
        @include md(){
            margin: 0 20px;
        }
   
    }


    .personal-information{
        padding: 15px;
        border: 2px solid $color4;
        text-align: center;
        @include md(){
            padding: 30px;
        }
        .area-name{
            // border: 1px solid #000;
            border-bottom: 2px solid $color2;
            padding: 15px 0px;
            margin-bottom: 10px;
            display: flex;
            justify-content:space-between;
            p{
                font-size: $h5-fzSize;
                font-weight: bold;
                color:$color4;
            }

            @include mdBtn(logout){
            }
            
            @include md(){
                margin-bottom: 20px;
            }
            

        }
        .area-money{
            // border: 1px solid #000;
            text-align: left;

            .sum-money{
                margin-bottom: 15px;
            }
            .sum-money,.coupon{
                // border: 1px solid #000;
                display: flex;
                align-items: center;
            }
            label{
                // border: 1px solid #000;
                font-size: $h6-fzSize;
                margin-right: 10px;
            }
            input{
                // border: 0px solid #000;
                background-color: $color1;
                width: 15%;
                padding: 10px;
                margin: 0 5px;
                text-align: center;
                font-size: $h6-fzSize;
                @include md(){
                    width: 10%;
                    padding: 10px;
                    margin: 0 15px;
                }
            }
            .color4{
                color:$color4;
                font-weight: bold;
            }
        }

        
    }
    .hr{
        margin-top: 50px;
        margin-bottom: 50px;
        height: 3px;
        background-color: $color2;
    }

    //共用上半部end

    h3{
        font-size: $h4-fzSize;
        color:$color4;
        font-weight: bold;
    }
    //共用frame
    .member-frame{
        padding: 15px;
        box-shadow: $card-shadow2;
        min-height:450px ;
        background-color: lighten($color8, 20%);
        margin-bottom: 100px;
        @include lg(){
            margin: 30px 0 150px 0;
            padding: 80px 120px;
        }
        
    }

    //會員資料
    .member-detail {
        .col{
            width: 100%;
            margin: 30px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap:15px;
            @include md(){
                // margin: 0px 0;
                gap:30px;
           
            }
            input,select{
                border:1.5px solid $color4;
                width: 60%;
                height: 25px;
                border-radius: $sm-word-fzSize;
                @include md(){
                    height: 30px;
                    margin-bottom: 20px;
                }
                @include xl(){
                    height: 35px;
                }
                
            }
            label{
    
                font-size: $word-fzSize;
                color:$color5;
                font-weight: 400;
                @include md(){
                    margin-bottom: 20px;
                }
                
            }
            div{
                width: 100%;
                display: flex;
                flex-direction: column;
                @include md(){
                    flex-direction: column;
                    align-items: flex-start;
                    gap:0px;
                }
                
                input,select{
                    width: 100%;
                }
            }          
        }
        .f-col{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            align-items: flex-start;
            gap:0;
            input{
                width: 100%;
            }
        }
    }
    @include bgBtn(confirm){
        background-color: $color3;
        margin: auto;
        &:hover{
            background-color: darken($color3, 10%);
        }   
        @include md(){
        }
   
    }


    //會員訂單

    .member-order{
        // border: 1px solid #000;
        padding: 0;
        overflow: hidden;
        padding-bottom: 15px;
        @include lg(){
            margin: 30px 0 150px 0;
            padding: 0px;
          
        }
        .order-table{
            display: grid;
            font:$word-fzSize $family2;
            color:color9;
            .th{
                display: grid;
                padding: 20px;
                grid-template-columns: 2.5fr 1fr 1fr 1fr;
                background-color: $color2;
                text-align: center;
                @include md(){
                    grid-template-columns: 2fr 1fr 1fr 1fr;
                }
                
                div{
                    display: none;
                }
                .order-num{
                    // border: 1px solid blue;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    div{
                        // border: 1px solid #000;
                        display: block;
                    }
                    div span:nth-of-type(2){
                        
                        color:$color10;
                    }
                }
                @include lg(){
                    padding: 20px 20px;
                    div{
                        display: block;
                        font-weight: bold;
                    }
                    .order-num{
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        gap:20px;
                    }
                }
                
                .th-col{
                    // border: 1px solid #000;
                    color:$color5
                }
            }
            .all-tr{
                padding: 20px;
                @include lg(){
                    display: grid;
                    grid-template-columns: 2fr 1fr 1fr 1fr;
                    div{
                        border-right: 1.5px solid $color8; 
                    }
                    .product{
                        border-right: 0px solid $color8; 

                    }
                    .product-list{
                        border-left: 1.5px solid $color8; 

                    }
                    .pc-list{
                        
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .pc-pay-state p,.pc-order-state p{
                        color: $color5;
                        font-weight: bold;
                    }
                }
                
            }

            .tr{
                // border: 1px solid #000;
                display: flex;
                flex-direction: column;
                margin: 10px 0;
                .td{
                    margin: 5px 0;
                }
            }
            //商品
            .product{
                padding: 5px 10px;
                border-bottom: 1.5px solid $color8;
                p.td{
                    font-size: $h6-fzSize;
                    color:$color5;
                    font-weight: bold;
                }

            }
            //總金額(手機板)
            .sum{
                background-color: $color2;
                text-align: center;
                color:$color5;
                font-size: $h5-fzSize;
                font-weight: bold;
                @include lg(){
                    display: none;
                }
                
                
            }
            //狀態(電腦板)
            .state{
                display: grid;
                grid-template-columns: repeat(3, 1fr);  
                .tr-col{
                    border-right:1.5px solid $color8;
                    padding: 20px;
                    text-align: center;
                    p:nth-of-type(2){
                        margin-top: 6px;
                        color:$color5;
                        font-weight: bold;
                        font-size: $h6-fzSize;
                    }
                    @include lg(){
                        padding-bottom: 80px;
                    }
                }
                .tr-col:nth-of-type(4){
                    border-right-width:0px;

                }
                @include lg(){
                    display: none;
                }
            }
        }
    }


     //會員優惠券
    .member-coupon{
        background-image: url(../../images/coupon-no.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25%;
        padding: 20px 20px 50px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include lg(){
            align-items: flex-start;
        }
        
        .use-state{
            display: flex;
            p{
                // border: 1px solid #000;
                font-size: $h5-fzSize;
                margin: 20px;
                &:hover{
                 cursor: pointer;   
                }
            }
        }
        p{
            width: 100%;
            text-align: center;
            font-size: $h6-fzSize;
        }
    }

    //color

    .colorchange{
        background-color: lighten($color8, 20%);
    }





}

