.news {
    background-image: url(../images/news_track.png);
    background-repeat: no-repeat;
    background-position: 20% 25%;
    background-size: 95% 42%;

    #airplane {
        display: block;
        margin-left: auto;
        position: absolute;
        right: 0;
        z-index: 20;
        width: 50vw;

        @include md() {
            width: 40vw;
        }

        @include lg() {
            width: 35vw;

        }

        @include xl() {
            width: 30vw;

        }


    }

    .newspapers {
        .wrap {
            .all-card {
                @include md() {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                }
            }

            //文章外面
            .newspaper_item {
                background-color: $color2;
                margin-bottom: 20px;
                display: flex;
                padding: 20px;
                position: relative;
                border-radius: 24px;
                aspect-ratio: 4/2;
                box-shadow: $card-shadow3;
                border: 3px solid #ffffff;
                align-items: center;
                @include md() {
                    aspect-ratio: 9/5;
                    width: 48%;
                    padding: 15px 20px 15px 20px;
                    &:hover{
                        background-color: #d9f1f1;
                    }
                    &:hover i:last-child{
                        color: $color6;
                    }
                    &:hover img {
                        transform: scale(1.10);
                    }
                    &:hover p{
                        color:rgb(42, 42, 42);
                    }
                }

                @include lg() {}

                @include xl() {
                    aspect-ratio: 3/1.3;
                }

                h4 {
                    position: absolute;
                    top: 10%;
                    font-size: $h6-fzSize;
                    background-size: cover;
                    color: $color5;
                    font-family: $family1;
                }

                .picture {
                    // width: 70%; //圖片加文字應該是100%不會是各70%
                    width: 50%;
                    height: 100%;
                    overflow: hidden;
                    aspect-ratio: 4.5/3;    
                    // object-fit: cover;   //這個是設定在圖片本人
                    img {
                        // width: 155%;
                        width: 100%;    //圖片寬高應該都是100%;
                        height: 100%;
                        transition: ease 0.3s;
                        object-fit: cover;
                    }

                    @include md(){
                        aspect-ratio: 4.5/3;
                    }
                }

                .inner_text {
                    // border: 1px solid #000;
                    // width: 70%; //圖片加文字應該是100%不會是各70%
                    width: 50%;
                    // height: 70%;
                    height: 100%;
                    // margin-top: auto;
                    padding: 25px 10px 0px 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;
                    p{
                        font-size: $word-fzSize;
                        
                        @include md() {
                            padding: 10px 10px 0px 10px;
                            font-size: $word-fzSize;
                        }
                    }

                  

                    i {
                        color: $color1;
                        font-size: $h4-fzSize;
                        position: absolute;
                        bottom: 0;
                        right: 10px;
                        cursor: pointer;
                        @include md() {
                            right: 0px;
                        }
                    }
                }

                &:nth-child(2n-1) {
                    h4 {
                        right: -3px;
                        background-image: url(../images/news_h4title_bck2n_1.png);
                        padding: 2px 2px 2px 12px;
                        background-position: 10%;
                    }
                }

                &:nth-child(2n) {
                    h4 {
                        left: -1px;
                        background-image: url(../images/news_h4title_bck2n.png);
                        padding: 2px 12px 2px 2px;
                        background-position: 90%;

                        @include md() {
                            left: auto;
                            right: -3px;
                            background-image: url(../images/news_h4title_bck2n_1.png);
                            padding: 2px 2px 2px 12px;
                            background-position: 10%;
                        }
                    }
                    .picture {
                        order: 1;

                        @include md() {
                            order: 0;
                        }
                    }
                }
            }
            //文章內頁 燈箱
            .news_inner {
                // padding-top: 100px;
                // width: 100%;
                // height: 100%;
                // position: fixed;
                // top: 0;
                // left: 0;
                // right: 0;
                // background-color: rgba(0, 0, 0, 0.199);
                // z-index: 99;     //燈箱背景統一吃style的 所以這裡註解掉了
                display: none;
                .test {
                    display: flex;
                }
                .inner_total {
                    padding: 20px 30px 30px 30px;
                    // width: 90%;
                    background-color: $color1;
                    margin: auto;
                    // border-radius: 10px;
                    // border: 4px solid $color2;
                    position: relative;
                    // overflow-y: auto;
                    overflow: hidden;
                    // height: 70%;
                    @include md() {
                        // width: 80%;
                    }
                    @include lg() {
                        // width: 70%;
                    }
                    @include xl() {
                        // width: 60%;
                    }
                    i {
                        font-size: $h5_fzSize;
                        color: $color9;
                        position: absolute;
                        right: 20px;
                        top: 35px;
                        cursor:pointer;
                    }
                    h4 {
                        text-align: center;
                        background-image: url(../images/news_inner_h4.png);
                        // padding: 10px 0;
                        background-size: 70% 50%;
                        // line-height: 60px;
                        line-height: 90px;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        // margin: 8px 0 8px 0;
                        color: $color5;
                        font-family: $family1;
                        @include md() {
                            line-height: 60px;
                            background-size: 50%;
                            margin: 15px 0 15px 0;
                        }
                        @include lg() {
                            background-size: 50%;
                            margin: 25px 0 25px 0;
                        }
                    }

                    .inner {
                        overflow-y: auto;
                        width: 100%;
                        @include md() {
                            // border: 1px solid #000;
                            display: flex;
                            justify-content: center;
                        }

                        .inner_picture {
                            // border: 1px solid #000;
                            // width: 100%;
                            width: 100%;
                            aspect-ratio: 2 / 1.3;
                            // top: 0;
                            position: relative;
                            // margin-bottom: 15px;
                            overflow: hidden;
                            @include md{
                                width: 50%;
                                aspect-ratio: 1.5 / 1;
                            }
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                            &::before{
                                content: '';
                                width: 65px;
                                height: 10px;
                                background-color: $color2;
                                position: absolute;
                                top: 8px;
                                right: -10px;
                                transform: rotate(40deg);
                                box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.329);
                            }
                            &::after{
                                content: '';
                                width: 65px;
                                height: 10px;
                                background-color: $color2;
                                position: absolute;
                                bottom: 8px;
                                left: -16px;
                                transform: rotate(40deg);
                                box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.329);
                            }
                        }
                        .inner_artical {
                            // border: 1px solid #000;
                            width: 100%;
                            margin-top: 10px;
                            margin-bottom: 15px;
                            @include md(){
                                width: 50%;
                                margin: 0 10px;
                            }
                            
                            p{
                                font-size: $h6-fzSize;
                                @include md(){
                                    font-size: $word-fzSize;
                                }
                                
                            }
                        }
                    }

                }
            }       
        }
    }

    .parade {
        position: relative;

        .full {
            overflow: hidden;
            position: relative;



            .before_after {
                position: relative;
                width: 100vw;
                left: -15px;

                img {
                    aspect-ratio: 1439 / 481;
                    width: 200vw;

                    @include md() {
                        width: 100vw;
                    }
                }

                @include md() {
                    width: -20vw;
                }

                .before {
                    width: 100vw;
                }

                .after {
                    // transition: ease 0.5s;
                    position: absolute;
                    top: 0;
                    overflow: hidden;
                    width: 50vw;
                }

                .center_area {
                    position: absolute;
                    height: 100%;
                    left: 50vw;
                    top: 0%;
                    width: 10px;
                    margin-left: -5px;
                    background-color: $color1;
                    animation: change 3s linear 2s 3;

                    .center {
                        cursor:grab;
                        position: absolute;
                        top: 50%;
                        margin-top: -25px;
                        margin-left: -20px;
                        border-radius: 100%;
                        width: 50px;
                        height: 50px;
                        background-color: $color1;
                        z-index: 10;
                        text-align: center;
                        display: flex;
                        border: 5px solid $color6;

                        i {
                            margin: auto;
                            font-size: 25px;
                            color: $color7;
                        }
                    }
                }
            }
        }
    }

    .facility {
        .full {
            table {
                width: 100%;
                text-align: center;
                border-collapse: collapse;
                table-layout: fixed;
                line-height: $th-line-height;
                font-family: $family2;
                tr {
                    th {
                        color: #ffffff;
                        background-color: $color3;
                        border-radius: 10px;
                        border: 2px dashed #ffffff;
                        padding: 5px 0;
                        font-size: $word2-fzSize;
                        font-weight: bold;
                        @include md(){
                            font-size: $btnMd-fzSize;
                        }
                        @include lg(){
                            font-size: $h6-fzSize;
                        }
                        i {
                            animation: circle infinite 3s;
                            animation-timing-function: linear;
                            display: none;

                            @include md() {
                                display: inline-block;
                            }

                            @keyframes circle {
                                from {
                                    transform: rotate(0deg);
                                }

                                to {
                                    transform: rotate(360deg);
                                }
                            }

                        }
                    }

                    td {
                        line-height: 20px;
                        background-color: $color2;
                        border-radius: 10px;
                        border: 2px dashed #ffffff;
                        color: $color5;
                        padding: 5px 0;
                        font-size: $word2-fzSize;
                        li{
                            // border: 1px solid #000;
                            margin: 5px 0 5px 0;
                        }
                        @include md(){
                            line-height: 30px;
                            padding: 15px 0;
                            font-size: $btnMd-fzSize;
                        }
                        @include lg(){
                            line-height: 35px;
                            padding: 25px 0;
                            font-size: $h6-fzSize;
                        }
                    }

                }

            }
        }

        p {
            // border: 1px solid #000;
            margin-top: 5px;
            color: $color5;
        }
    }
    
}

.ease {
    transition: ease 0.5s;
}