.news{
    .title{
        margin-top :50px;
        display: flex;
        flex-direction: column;
        h2{
            @include h2Set();
            &::before{
                @include h2Decorate();
                @include h2DecorateRwd();
            }
        }
        ul{
            display: flex;
            margin: auto;
            margin-top: 100px;
            @include md(){
                margin-top: 115px;
            };
            @include lg(){
                margin-top: 125px;
            };
            li{
                display: block;
                background-image: url(/images/news_li_tickets.png);
                padding: 10px 20px;
                background-size: 100%;
                font-size:$h6-fzSize;
                @include lg(){
                    // font-weight: 550;
                    padding: 15px 25px;
                };
            }
        }
    }
}