.shop{
 
  .slideshow-container {
    width: 90%;
    position: relative;
    margin: auto;
    padding:10px 50px 10px 50px;
    background-color: $color4;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
    margin: auto;
    overflow: hidden;
    width: 60vw;
  }
  .mySlides img{
    width: 100%;
  }
  /* Next & previous buttons */
  .mySliderContainer{
    position: relative;
  }
  .sliderButton{
      position: absolute;
      z-index: 2;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);
      font-size: 60px;
      color: $color1;
  }
  .sliderButton i{
    font-size: $big-fzsize;
    position: relative;
  }
  .next, .prev{
    position: relative;
    z-index: 2;
    transition: .3s ease-in-out;
    cursor: pointer;
  }

  .next::before, .prev::before {
    content: "";
    z-index: -1;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -115%;
    transform: translateX(50%);
    transform: translateY(-50%);
    background-color: rgba($color4, 0.3); 
    transition: .3s ease-in-out;
  }
  .next:hover::before, .prev:hover::before {
    content: "";
    background-color: rgba($color6, 0.8); 
  }

  @include md{
  
  }

  @include lg{
      
  }
  .postcard{
      width: 60vw;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      position: relative;
  }
  .postcard>img{
      width: 100%;
      display: block;
      margin: auto;
      justify-content: center;
      align-items: center;
  }
  .stamp{
    position: absolute;
    width: 11%;
    left: 82%;
    top: 10%;
    aspect-ratio: 1/1;
  }
  .stamp img{
    width: 100%;
  }
  .stickerslider{
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    aspect-ratio: 560/120;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sticker{
    position: absolute;
    left: 0;
    width: 200%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    transition: 0.3s;
  }
  .sticker li img{
    width: 100%;
  }
  // 明信片貼紙
  .postcardWrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #sliderLeft, #sliderRight{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color:color5;
    font-size: 30px;
  }
  #sliderLeft{
    left: 23%;
  }
  #sliderRight{
    right: 23%;
  }
  .upload{
    display: flex;
    justify-content: center;
  }
  
  @include bgBtn(shop){
    
  }  
  .shopbtn{
    border: 3px solid $color3;
  }
  // ------商品-------------------------------------
  .product{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
  }
  .itemColumn{
    width: 50%; 
    padding: 30px;
    text-align: center;
  }
  @include md{
    .itemColumn{
      width: 33.33333%; 
    }
  }
  .product .item{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product  img{
      width: 100%;
  }
  
  // ----------------------------------------
  .light-box{
    width: 40%;
    background-color: $color1;
    /* 利用FIXED固定在螢幕中間 */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    /* 置中對齊 */
    /* 平常隱藏 */
    display: none;
    z-index: 3;
  }
  .lightBoxContent{
    display: flex;
    z-index: 3;
  }
  .column{
    width: 50%;
  }
  .column img{
    width: 100%;
  }
  .inforcolumn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .productName ,.productPrice{
    display: flex;
  }
  .light-box #turnOff{
    position: absolute;
    top: 10px;
    right:10px;
    font-size: 30px;
    width: 40px;
    height: 40px;
  }
  .lightbox-bdr .count{
    display: flex;
    align-items: center;
  }
  .lightbox-bdr{
    padding: 30px;
  }
  .count .num{
    width: 50px;
    margin: 0 5px;
    text-align: center;
  }
  .addCart{
    margin-top: 20px;
    background-color: $color6;
    border: none;
    border-radius: $sm-word-fzSize;
  }
  #boxBcg{
    background-color: rgba( 36, 93, 104, 0.4);
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
  #turnOff{
    background-color: transparent;
  }

  // 引用RWD 方式
  @include md{
      
  }

  @include lg{
      
      
  }

  // 引用公版顏色變數
}