.shoppingcart{
    .shopcar{
        display: table;
        table{
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
            margin: auto;
            text-align: center;
            font-family:$family2 ;
            tr{
                th{
                    display: none;
                    @include md(){
                        display: table-cell;
                        font-size: $h6-fzSize;
                        background-color: $color2;
                        color:$color5;
                        line-height:$th-line-height;
                        }
                }
                .td-row{
                    display: block;
                    margin: 25px 0;
                    @include md(){
                        display: table-cell;
                    }
                }
                td{
                    vertical-align:middle;
                    font-size: $word-fzSize;
                    color: $color5;
                    @include md(){
                        font-size: $h6-fzSize;
                    }
                    img{
                        width: 25vw;
                        @include md(){
                            width: 10vw;
                        }
                    }
                    @include mdBtn(delete){}
                    .count{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        input{
                            width: 6vw;
                            text-align: center;
                            margin: 0 5px;
                            @include md(){
                                width: 50px;
                            }
                        }
                    }
                }
            }
        }
    }

    .total{
        
        .wrap{
            padding: 20px;
            background-color: $color2;
            border-radius: 10px;
            font-size:12px;
            @include md(){
                font-size: $h6-fzSize;
            }
            .total_area{
                margin-left: auto;
                margin-right: auto;
                display: flex;
                @include lg(){
                }
                .discount{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin-left: auto;
                    margin-right: auto;
                    @include md(){
                        flex-direction: row;
                        margin-right: 0;
                    }
                    @include mdBtn(bill){}
                    .coupon{
                        background-color:$color2;
                    }
                    input{
                        width: 120px;
                    }
                    .bill{
                        margin-top: 10px;
                        @include md{
                            margin-top: 0;
                        }
                    }
                }
            }
        }    
    }
    .coupon{
        font-size: $h6-fzSize;
        color: $color1;
        background-image: url(/images/coupon.png);
        background-size: cover;
        padding: 5px;
        background-image: url(/images/coupon.png);
        background-size: 100% 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border: none;
        padding-left:25px;
        padding-right: 10px;
        cursor:pointer;
    }
    .mycoupons{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0;
        // padding: 20%;
        background-color: rgba(0, 0, 0, 0.199);
        display: flex;
        z-index: 999;
        display: none;
        > div{
            margin: auto;
            background-color:$color1;
            text-align: center;
            position: relative;
            border:4px solid $color2;
            border-radius: 10px;
            padding: 20px 30px;
            p{
                font-size: $h5-fzSize;
                color: $color5;
                margin-bottom: 10px;
            }
            i{
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: $h6-fzSize;
                color: $color9;
                cursor:pointer;
            }
            > div{
                margin: 10px 0;
                font-size: $word-fzSize;
                color: $color5;
                .coupon{
                    background-color:$color1;
                }

            }
        }
    }
}