// themePark
.themePark{
    // 主題設施
    // facilities RWD
    .themePark__facilities {
        display: grid;
        align-items: center;
        justify-content: space-between;
    }
    // grid mobile
    .themePark__facilities {
        grid-template-rows: repeat(2, 50%);
        grid-template-columns: repeat(2, 48%);
    }
    .faLarge1{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .faLarge2{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .faMedium{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;        
    }
    @include md{
        .themePark__facilities {
            grid-template-rows: 100%;
            grid-template-columns: repeat(3, 30%);
        }
        .faLarge1{
            transform: translateY(-13%);
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .faLarge2{
            transform: translateY(13%);
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 3;
            grid-column-end: 4;
        }
        .faMedium{
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 3;        
        }
    }
    .facilitesBox{
        margin-bottom: 15px;
        position: relative;
    }
    .facilitesContent{
        background-color: $color3;
        & .facilitiesInfo{
            height: fit-content;
            background-color: rgba($color6, 0.9);
            border-radius: 10px;
            padding: 5px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin-top: auto;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.4s ease-in-out;
            text-align: center;
            opacity: 1;
            bottom: 30px;
        }

    }


    @include md{
        .facilitesBox{
            margin-bottom: 15px;
            position: relative;
        }
        .facilitesContent{
            background-color: $color3;
            &:hover{
                transition: 0.4s ease-in-out;
                box-shadow: $card-shadow2;
            }
            & .facilitiesInfo{
                height: fit-content;
                opacity: 0;
                border-radius: 10px;
                padding: 5px;
                position: absolute;
                top: 0;
                bottom: 0;
                margin-top: auto;
                left: 50%;
                transform: translateX(-50%);
                transition: 0.4s ease-in-out;
                text-align: center;
            }
            &:hover .facilitiesInfo{
                opacity: 1;
                bottom: 30px;
            }
        }
    }
    .facilitiesInfo p:first-child{
        color: $color5;
        font-size: $word-fzSize;
    }
    .facilitiesInfo p:last-child{
        color: $color4;
        font-size: $md-word-fzSize;
    }
    .facilitiesImg{
        padding: 15px;
    }
    .facilitiesImg img{
        width: 100%;
        display: block;
        border-radius: 5px;
    }


    // 打卡景點
    .themePark__Attractions{
        display: flex;
        justify-content: center;
        overflow: hidden;
        padding-top: 70px;
        padding-bottom: 100px;
    }

    #slider {
        aspect-ratio: 1/1.2;
        width: 40vw;
        position: relative;
        perspective: 1000px;
        perspective-origin: center -100%;
        transform-style: preserve-3d;
        display: flex;
      }

      #slider input{
          position: absolute;
          left: -1000px;
      }
      
      #slider label {
        position: absolute;
        left: 0; 
        right: 0;
        cursor: pointer;
        transition: transform 0.4s ease;
      }
      
        #s1:checked ~ #slide4, #s2:checked ~ #slide5,
        #s3:checked ~ #slide1, #s4:checked ~ #slide2,
        #s5:checked ~ #slide3 {
        transform: translate3d(-150%,0,-300px);
       
      }
      
      #s1:checked ~ #slide5, #s2:checked ~ #slide1,
      #s3:checked ~ #slide2, #s4:checked ~ #slide3,
      #s5:checked ~ #slide4 {
        transform: translate3d(-85%,0,-200px);
       top:2%;
      }
      
      #s1:checked ~ #slide1, #s2:checked ~ #slide2,
      #s3:checked ~ #slide3, #s4:checked ~ #slide4,
      #s5:checked ~ #slide5 {
        transform: translate3d(0,0,0);
        top:6%;
       
      }
      
      #s1:checked ~ #slide2, #s2:checked ~ #slide3,
      #s3:checked ~ #slide4, #s4:checked ~ #slide5,
      #s5:checked ~ #slide1 {
        transform: translate3d(75%,0,-200px);
        top:2%;
      }
      
      #s1:checked ~ #slide3, #s2:checked ~ #slide4,
      #s3:checked ~ #slide5, #s4:checked ~ #slide1,
      #s5:checked ~ #slide2 {
        transform: translate3d(150%,0,-300px);
       
      }
      
    @include md{
        .col{
            width: 33.33333%;
        }
    }
    .card{
        background-color: $color3;
        padding: 15px;
        box-shadow: $card-shadow2;
    }
    .cardImg img{
        width: 100%;
        display: block;
    }
    .card p:nth-of-type(1){
        font-size: $h6-fzSize;
        padding: 10px 0 10px 0;
    }
    .card p:nth-of-type(2){
        font-size: $md-word-fzSize;
    }
    @include md{
        .card p:nth-of-type(2){
            font-size: $word2-fzSize;
        }        
    }
    .themePark__AttractionsBTN{
        display: flex;
        justify-content: center;
    }
    .themePark__AttractionsBTN button{
        background-color: $color7;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 15px;
        color: $color5;
        border: none;
    }

    .gradientTail{
        --tailHeight: 80px;
        position: absolute;
        transform: translateY( calc( var(--tailHeight )*-1 ));
        width: 100%;
        height: var(--tailHeight);

        background: linear-gradient(180deg, #FEF5D8 0.78%, #FFFBED 33.3%, #D4CDB6 76.36%);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
        
    }

    // 遊行表演
    .themePark__Parades{
        // 標題會與上方產生重疊 目前先以透明框線讓位置能讀到
        border: 1px solid rgba($color: #000000, $alpha: 0);
        background-color: $color3;
        padding: 0 0 15px 0;
    }
    .paradesBoard{
        display: grid;
        align-items: center;
    }
    // grid RWD mobile
    .paradesBoard{
        grid-template-rows: 50% 25% 25%;
        grid-template-columns: 50% 50%;
    }
    .paradesBox:first-child{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .paradesBox:nth-child(2){
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .paradesBox:nth-child(3){
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .paradesBox:nth-child(4){
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .paradesBox:nth-child(5){
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    // grid RWD regular
    @include md{
        .paradesBoard{
            grid-template-rows: 50% 50%;
            grid-template-columns: 50% 25% 25%;
        }
        .paradesBox:first-child{
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .paradesBox:nth-child(2){
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 2;
            grid-column-end: 3;
        }
        .paradesBox:nth-child(3){
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 3;
            grid-column-end: 4;
        }
        .paradesBox:nth-child(4){
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 3;
        }
        .paradesBox:nth-child(5){
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 3;
            grid-column-end: 4;
        }
    }
    // parades content 
    .paradesBox:first-child{
        height: 100%;
        padding: 15px;
    }
    .paradesBox:nth-child(n+2){
        padding: 15px;
    }
    .paradesContent{
        display: flex;
        flex-direction: column;
        height: 100%;
        border: 4px solid $color1;
    }

    // 文字大小尚未修正完畢
    .paradesTypeDate{
        display: flex;
    }
    .paradesTypeDate p:nth-of-type(1){
        font-size: $sm-word-fzSize;
    }
    .paradesTypeDate p:nth-of-type(2){
        font-size: $sm-word-fzSize;
    }
    .paradesTitle{
        font-size: $sm-word-fzSize;
    }
    @include md{
        .paradesTypeDate p:nth-of-type(1){
            font-size: $md-word-fzSize;
        }
        .paradesTypeDate p:nth-of-type(2){
            font-size: $md-word-fzSize;
        }
        .paradesTitle{
            font-size: $md-word-fzSize;
        } 
    }
    @include lg{
        @include md{
            .paradesTypeDate p:nth-of-type(1){
                font-size: $sm-word-fzSize;
            }
            .paradesTypeDate p:nth-of-type(2){
                font-size: $sm-word-fzSize;
            }
            .paradesTitle{
                font-size: $word-fzSize;
            } 
        }
    }
    .paradesBox:first-child .paradesTypeDate{
        padding: 10px;
    }
    .paradesBox:nth-child(n+2) .paradesTypeDate{
        padding: 3px;
    }
    .paradesTypeDate span{
        align-self: center;
        height: 15px;
        width: 2px;
        margin: 0 10px 0 10px;
        background-color: $color1;
    }
    .videoBox{
        border-top: 4px solid $color1;
        border-bottom: 4px solid $color1;
        padding: 15px;
        overflow: hidden;
    }
    .videoBox video{
        width: 100%;
        aspect-ratio: 960/540;
    }
    .paradesBox:first-child .videoBox{
        flex-grow: 1;
        // center inside imgage
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .paradesBox:first-child .paradesTitle{
        padding: 10px;
    }
    .paradesBox:nth-child(n+2) .paradesTitle{
        padding: 3px 3px 3px 5px;
    }

}

