// themePark
.themePark{
    // 主題設施
    // facilities RWD
    .themePark__facilities {
        display: grid;
        align-items: center;
        justify-content: space-between;
    }
    // grid mobile
    .themePark__facilities {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
    }
    .faMedium{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;       
    }
    .faLarge1{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .faLarge2{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    @include md{
        .themePark__facilities {
            grid-template-rows: 100%;
            grid-template-columns: repeat(3, 30%);
        }
        .faLarge1{
            transform: translateY(-13%);
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .faLarge2{
            transform: translateY(13%);
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 3;
            grid-column-end: 4;
        }
        .faMedium{
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 3;        
        }
    }
    .facilitesBox{
        margin-bottom: 15px;
        position: relative;
    }
    .facilitesContent{
        background-color: $color3;
        box-shadow: $card-shadow1;
        & .facilitiesInfo{
            width: 100%;
            background-color: white;
            border-radius: 0 0 10px 10px;
            padding: 10px;
            padding: 5px 15px 15px 15px;
            position: relative;
            transition: 0.4s ease-in-out;
            opacity: 1;
        }
        & .facilitiesInfo p:nth-of-type(1){
            text-align: center;
            font-weight: bold;
            margin-bottom: 5px;
        }
        & .facilitiesInfo p:nth-of-type(2){
            text-align: left;
        }

    }


    @include md{
        .facilitesContent{
            background-color: $color3;
            & .facilitiesInfo{
                width: 100%;
                height: fit-content;
                opacity: 0;
                border-radius: 0 0 12px 12px;
                padding: 10px 20px 20px 20px;
                position: absolute;
                bottom: 30%;
                margin-top: auto;
                transition: 0.4s ease-in-out;
            }
            &:hover .facilitiesInfo{
                opacity: 1;
                bottom: 0;
            }
        }
    }
    .facilitiesInfo p:first-child{
        color: $color5;
        font-size: $word-fzSize;
        font-weight: bold;
    }
    .facilitiesInfo p:last-child{
        color: $color4;
        font-size: $md-word-fzSize;
    }
    .facilitiesImg{
        padding: 5px;
    }
    @include md{
        .facilitiesImg{
            padding: 15px;
        }
    }
    .facilitiesImg img{
        width: 100%;
        display: block;
        border-radius: 5px;
    }


    // 打卡景點
    .themePark__AttrSection{
        position: relative;
    }
    .themePark__Attractions{
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        padding-top: 50px;
        transform: translateY(-80px);
        margin-bottom: -80px;
    }


    // card slider outer container
    #slider {
        width: 45vw;
        position: relative;
        perspective: 2000px;
        perspective-origin: 50% top;
        transform-style: preserve-3d;
        display: flex;
      }
    @include md{
        #slider {
            height: 50%;
            width: 40vw;
            perspective-origin: center -50%;
        }
    }

    #slider input{
        position: absolute;
        left: -1000px;
    }
    
    #slider label {
        position: absolute;
        left: 0; 
        right: 0;
        cursor: pointer;
        transition: transform 0.4s ease;
    }
    
    #s1:checked ~ #slide4, #s2:checked ~ #slide5,
    #s3:checked ~ #slide1, #s4:checked ~ #slide2,
    #s5:checked ~ #slide3 {
        transform: translate3d(-150%,0,-300px);
    }
    
    #s1:checked ~ #slide5, #s2:checked ~ #slide1,
    #s3:checked ~ #slide2, #s4:checked ~ #slide3,
    #s5:checked ~ #slide4 {
        transform: translate3d(-85%,0,-200px);
        top:2%;
    }
    
    #s1:checked ~ #slide1, #s2:checked ~ #slide2,
    #s3:checked ~ #slide3, #s4:checked ~ #slide4,
    #s5:checked ~ #slide5 {
        transform: translate3d(0,0,0);
        top:6%;
    }
    
    #s1:checked ~ #slide2, #s2:checked ~ #slide3,
    #s3:checked ~ #slide4, #s4:checked ~ #slide5,
    #s5:checked ~ #slide1 {
        transform: translate3d(75%,0,-200px);
        top:2%;
    }
    
    #s1:checked ~ #slide3, #s2:checked ~ #slide4,
    #s3:checked ~ #slide5, #s4:checked ~ #slide1,
    #s5:checked ~ #slide2 {
        transform: translate3d(150%,0,-300px);
    }

    .card{
        position: relative;
        padding: 5px;
        box-shadow: $card-shadow2;
        background-color: $color4;
        transition: 1s;
        opacity: 0.9;
    }
    @include md{
        .card{
            padding: 15px;
        }
    }
    .cardImg img{
        width: 100%;
        display: block;
    }
    // .cardInfo{
    //     background-color: $color11;
    //     padding: 5px;
    //     bottom: 5px;
    //     left: 4px;
    //     right: 4px;
    //     position: absolute;
    //     opacity: 0;
    //     transition: 1.5s;
    // }
    .cardInfo{
        background-color: $color11;
        padding: 5px;
        position: absolute;
        opacity: 0;
        transition: 1.5s;
    }

    --infoOpacity : 0.9;
    --smallWidth : 50vw;
    #s1:checked ~ #slide1 .card{
        background-color: $color11;
        width: var(--smallWidth);
        transform: translateX(-10%);
        opacity: 1;
        & .cardInfo{
            position: relative;
            opacity: var(--infoOpacity);
        }
    }
    #s2:checked ~ #slide2 .card{
        background-color: $color11;
        width: var(--smallWidth);
        transform: translateX(-10%);
        opacity: 1;
        & .cardInfo{
            position: relative;
            opacity: var(--infoOpacity);
        }
    }
    #s3:checked ~ #slide3 .card{
        background-color: $color11;
        width: var(--smallWidth);
        transform: translateX(-10%);
        opacity: 1;
        & .cardInfo{
            position: relative;
            opacity: var(--infoOpacity);
        }
    }
    #s4:checked ~ #slide4 .card{
        background-color: $color11;
        width: var(--smallWidth);
        transform: translateX(-10%);
        opacity: 1;
        & .cardInfo{
            position: relative;
            opacity: var(--infoOpacity);
        }
    }
    #s5:checked ~ #slide5 .card{
        background-color: $color11;
        width: var(--smallWidth);
        transform: translateX(-10%);
        opacity: 1;
        & .cardInfo{
            position: relative;
            opacity: var(--infoOpacity);
        }
    }

    --mdWidth : 50vw;
    @include md{
        #s1:checked ~ #slide1 .card{
            background-color: $color11;
            width: var(--mdWidth);
            transform: translateX(-10%);
            opacity: 1;
            & .cardInfo{
                position: absolute;
                padding: 10px;
                bottom: 15px;
                left: 14px;
                right: 14px;
                opacity: var(--infoOpacity);
            }
        }
        #s2:checked ~ #slide2 .card{
            background-color: $color11;
            width: var(--mdWidth);
            transform: translateX(-10%);
            opacity: 1;
            & .cardInfo{
                position: absolute;
                padding: 10px;
                bottom: 15px;
                left: 14px;
                right: 14px;
                opacity: var(--infoOpacity);
            }
        }
        #s3:checked ~ #slide3 .card{
            background-color: $color11;
            width: var(--mdWidth);
            transform: translateX(-10%);
            opacity: 1;
            & .cardInfo{
                position: absolute;
                padding: 10px;
                bottom: 15px;
                left: 14px;
                right: 14px;
                opacity: var(--infoOpacity);
            }
        }
        #s4:checked ~ #slide4 .card{
            background-color: $color11;
            width: var(--mdWidth);
            transform: translateX(-10%);
            opacity: 1;
            & .cardInfo{
                position: absolute;
                padding: 10px;
                bottom: 15px;
                left: 14px;
                right: 14px;
                opacity: var(--infoOpacity);
            }
        }
        #s5:checked ~ #slide5 .card{
            background-color: $color11;
            width: var(--mdWidth);
            transform: translateX(-10%);
            opacity: 1;
            & .cardInfo{
                position: absolute;
                padding: 10px;
                bottom: 15px;
                left: 14px;
                right: 14px;
                opacity: var(--infoOpacity);
            }
        }
    }

    .card p:nth-of-type(1){
        font-size: $md-word-fzSize;
        padding: 5px 0 5px 0;
    }
    .card p:nth-of-type(2){
        font-size: $sm-word-fzSize;
    }
    @include md{
        .card p:nth-of-type(1){
            font-size: $h5-fzSize;
        }
        .card p:nth-of-type(2){
            font-size: $h6-fzSize;
        }        
    }

    .gradientTail{
        --tailHeight: 50px;
        --tailHeightMd: 80px;
        position: absolute;
        width: 100%;
        height: var(--tailHeight);
        transform: translateY( calc( var(--tailHeight )*-1 ));

        background: linear-gradient(180deg, #FEF5D8 0.78%, #FFFBED 33.3%, #D4CDB6 76.36%);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    }
    @include md{
        .gradientTail{
            height: var(--tailHeightMd);
            transform: translateY( calc( var(--tailHeightMd )*-1 ));
        }
    }

    // 遊行表演
    .themePark__Parades{
        background-color: $color3;
        padding: 0 0 15px 0;
    }
    .paradesBoard{
        display: grid;
        align-items: center;
        // grid RWD mobile
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    .paradesBox:first-child{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .paradesBox:nth-child(2){
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .paradesBox:nth-child(3){
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .paradesBox:nth-child(4){
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .paradesBox:nth-child(5){
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .paradesBox:nth-child(n+2):hover{
        cursor: pointer;
        animation: bounce 0.8s;
    }

    @keyframes bounce {
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-100px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
    }

    // grid RWD regular
    @include md{
        .paradesBoard{
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 2fr 1fr 1fr;
        }
        .paradesBox:first-child{
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .paradesBox:nth-child(2){
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 2;
            grid-column-end: 3;
        }
        .paradesBox:nth-child(3){
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 3;
            grid-column-end: 4;
        }
        .paradesBox:nth-child(4){
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 3;
        }
        .paradesBox:nth-child(5){
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 3;
            grid-column-end: 4;
        }
    }
    // parades content layout setting
    .paradesContent{
        display: flex;
        flex-direction: column;
        height: 100%;
        border: 4px solid $color1;
    }
    .paradesContent p{
        color: $color1;
    }
    .paradesBox{
        height: 100%;
    }

    // parades font size setting
    .paradesTypeDate{
        display: flex;
        align-items: center;
    }
    .paradesBox:nth-child(1) .paradesTypeDate p:nth-of-type(1){
        font-size: $h6-fzSize;
    }
    .paradesBox:nth-child(1) .paradesTypeDate p:nth-of-type(2){
        font-size: $h6-fzSize;
    }
    .paradesBox:nth-child(1) .paradesTitle{
        font-size: $h6-fzSize;
        padding: 10px;
    }
    .paradesBox:nth-child(n+2) .paradesTypeDate p:nth-of-type(1){
        font-size: 6px;
    }
    .paradesBox:nth-child(n+2) .paradesTypeDate p:nth-of-type(2){
        font-size: 6px;
        line-height: 15px;
    }
    .paradesBox:nth-child(n+2) .paradesTitle{
        font-size: $md-word-fzSize;
    }
    @include md{
        .paradesTypeDate p:nth-of-type(1){
            font-size: $md-word-fzSize;
        }
        .paradesTypeDate p:nth-of-type(2){
            font-size: $md-word-fzSize;
        }
        .paradesTypeDate br{
            display: none;
        }
        .paradesTitle{
            font-size: $md-word-fzSize;
        } 
    }
    @include lg{
        .paradesTypeDate p:nth-of-type(1){
            font-size: $word-fzSize;
        }
        .paradesTypeDate p:nth-of-type(2){
            font-size: $word-fzSize;
        }
        .paradesTitle{
            font-size: $word-fzSize;
        } 
    }
    .paradesBox:first-child .paradesTypeDate{
        padding: 10px;
    }
    .paradesBox:nth-child(n+2) .paradesTypeDate{
        padding: 10px;
    }
    .paradesTypeDate span{
        align-self: center;
        height: 15px;
        width: 2px;
        margin: 0 10px 0 10px;
        background-color: $color1;
    }
    .videoBox{
        border-top: 4px solid $color1;
        border-bottom: 4px solid $color1;
        padding: 10px;
        overflow: hidden;
    }
    .paradesBox:nth-child(n+2) .videoBox{
        padding: 5px;
    }
    @include md{
        .videoBox{
            padding: 15px;
        }
        .paradesBox:nth-child(n+2) .videoBox{
            padding: 10px;
        }
    }
    .videoBox video{
        clip-path: inset(1px 1px);
        width: 100%;
        aspect-ratio: 960/540;
    }
    .paradesBox:first-child .videoBox{
        flex-grow: 1;
        // center inside imgage
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .paradesBox:first-child .paradesTitle{
        padding: 10px;
    }
    .paradesBox:nth-child(n+2) .paradesTitle{
        padding: 10px;
    }

    // ultraviolet index API 
    #uvIndex{
        position: absolute;
        right: 10%;
        top: 10%;
        background-color: $color2;
        width: 150px;
        height: 100px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        img{
            width: 30px;
            height: 30px;
        }
        .iconBox{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

