.container {
    width: 80%;
    margin: auto;

    @include md() {
        width: 70%;
    }
    @include lg(){
        width: 50%;
    }

    .card {
        background-color: #fff;
        box-shadow: $card-shadow1;

        .card-header {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: $color2;
            padding: 10px;
        }

        .card-pic {
            .pic {
                img {
                    aspect-ratio: 1.5/1;
                    object-fit: cover;
                    width: 100%;
                    display: block;
                }

            }

            .mem {
                display: flex;
                width: 100%;
                align-items: center;
                font-weight: bold;
                font-size: $word-fzSize;
                padding: 10px;

                img {
                    aspect-ratio: 1/1;
                    width: 10%;
                }

                .mem-name {
                    color: $color3;
                    background-color: $color1;
                    border-radius: 20px;
                    font-size: $h6-fzSize;
                }
            }

        }

        .card-body {
            p {
                color: $color8;
                padding: 50px 15px;
                font-size: $h5-fzSize;
                font-family: $family2;
            }
        }

    }

    .card-footer {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: $color2;
        padding: 10px;
    }

    .message-area {
        background-color: #fff;
        margin: 5px 0;
        padding: 5px;
        .item {
            display: flex;
            align-items: center;
            margin: 10px;
            border-bottom: 2px solid$color8;

            .pic {
                border-radius: 100%;
                background-color: $color1;
                width: 40px;
                height: 40px;
                text-align: center;
                margin: 5px;

                img {
                    width: 50%;
                }
            }

            .message-strip {
                // border: 2px solid$color4;
                width: 100%;

                .message {
                    color: $color5;
                    font-size: $h6-fzSize;

                    .message-content {
                        line-height: 1.5;

                        p {
                            color: $color9;
                            font-size: $h6-fzSize;
                            font-family: $family2;
                        }

                    }
                }
            }
        }

        .message-bar {
            display: flex;
            margin: 14px;
            align-items: center;

            .pic {
                background-color: $color1;
                border-radius: 100%;
                text-align: center;
                width: 40px;
                height: 40px;

                img {
                    width: 50%;
                }
            }

            input {
                margin: 5px;
                height: 30px;
                width: 100%;
                border-radius: 10px;
                outline: none;
                border: 1px solid$color4;
                @include md(){
                    font-size: $h6-fzSize;
                    height: 50px;
                }
            }

            a {
                margin: 10px;
                font-size: 20px;
                color: $color4;
            }
        }
    }
}