@include bgBtn(post) {
    margin-left: auto;
    margin-right: 0;
    display: block;
    margin-bottom: 20px;
    color: $color4;
    background-color: #fff;
    border: 1px solid$color4;
}


.light-box {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    
    .forum-box {
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        bottom: 200px;
        z-index: 100;
        background-color: #fff;
        margin: auto;
        padding-bottom: 80px;
        width: 70%;
        height: 50%;
        @include md() {
            width: 60%; 
            height: 40%;
        }
        @include lg(){
            width: 50%;
            height: 60%;
        }

        .box-header {
            padding: 20px;
            background-color: $color3;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border: 1px solid$color3;
        }
        @include md(){
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        @include lg(){
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
        }

        input[type="text"] {
            width: 50%;
            height: 20px;
            margin: 20px 10px;
            border: 2px solid$color4;
            outline: none;

            @include md() {
                height: 50px;
                border-radius: 10px;
                font-size: 30px;
            }
        }

        input[type="file"] {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }

        @include smBtn(insert-pic) {
            color: $color4;
            background-color: #fff;
            display: block;
            font-size: $md-word-fzSize;
            border: 2px solid$color4;
            text-align: center;
            width: 50%;
            
            @include md() {
                font-size: $h6-fzSize;
                width: 170px;
                

                &:hover {
                    background-color: $color3;
                    color: #fff;
                }
            }
            @include lg(){
                margin-right: 180px;
            }

        }

        .image-Preview {
            display: flex;
            align-items: center;

            .img {
                border: 1px solid$color4;
                border-radius: 5px;
                width: 60%;
                margin-right: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color8;
                .blah {
                    display: none;
                    width: 100%;
                }
            }
        }

        
        textarea {
            width: 90%;
            margin-top: 30px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid$color4;
            outline: none;
            resize: none;
            border-radius: 10px;
            @include md() {
                font-size: $h5-fzSize;
            }
            @include lg(){
                width: 95%;
            }
        }

        img {
            max-width: 180px;
        }

        p {
            text-align: center;
        }

        .btn {
            text-align: center;

            @include smBtn(cancel) {
                background-color: #fff;
                border: 2px solid$color4;
                color: $color4;
            }

            @include smBtn(submit) {
                background-color: $color4;
                color: #fff;
            }
        }
    }
}


.show-Lightbox {
    display: block;
}

.container-grid {
    width: 90%;
    .card {
        border-radius: 10px;
        background-color: #fff;
        box-shadow: $card-shadow1;

        .card-header {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: $color2;
            padding: 10px;
        }

        .card-pic {
            position: relative;

            .pic {
                overflow: hidden;

                img {
                    aspect-ratio: 1.5/1;
                    object-fit: cover;
                    width: 100%;
                    transform: scale(1);
                    transition: all .5s ease-out;
                    display: block;

                    &:hover {
                        transform: scale(1.2);
                    }
                }

            }

            .mem {
                display: flex;
                width: 100%;
                align-items: center;
                font-weight: bold;
                font-size: $word-fzSize;
                padding: 10px;

                img {
                    aspect-ratio: 1/1;
                    width: 10%;
                }

                .mem-name {
                    color: $color3;
                    background-color: $color1;
                    border-radius: 20px;
                }
            }

        }

        .card-body {
            p {
                padding: 50px 15px;
                font-size: $word-fzSize;
                font-family: $family1;
            }
        }

    }

    .card-footer {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: $color2;
        padding: 10px;
    }
}