
    @include btn1(post){};

.container {
    .card {
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 5px 5px  $color4;

        .card-header{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: $color2;
            padding: 10px;
        }

        .card-pic {
            img {
                // aspect-ratio: 1.5/1;
                object-fit: cover;
                width: 100%;
            }
            .mem {
                width: 100%;
                img {
                    aspect-ratio: 1/1;
                    border-radius: 100%;
                    width: 20%;
                }
            }
        }

    }
    .card-footer{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: $color2;
        padding: 10px;
    }
}