//==========斷點=========

$md_breakpoint:768px;
$lg_breakpoint:996px;
$xl_breakpoint:1200px;

//==========顏色=========
$color1:#FFFBEF;
$color2:#A7D4D3;
$color3:#4EACB7;
$color4:#398590;
$color5:#245D68;//h2顏色
$color6:#FDB52D;
$color7:#ffcd71;
$color8:#C4C4C4;
$color9:#606060;

//==========陰影=========
$card-shadow1:.4rem .4rem 0px $color2;
$card-shadow2:.4rem .4rem 0px $color7;
$big-shadow:1rem 1rem 0px $color2;
$big-shadow:1rem 1rem 0px $color4;

//============字體============
$family1:'M PLUS Rounded 1c', sans-serif;
$family2:sans-serif;

//============new文字大小============
$big-fzsize:4rem;      //特殊大字
$h2-fzSize:2.5rem;         //h2主標題大小 (藍綠標)
$h3-fzSize:2.2rem;       //h2/h3(月亮黃標)
//============new文字大小============
$h4-fzSize:2rem;         //h4(自己頁面除了以上標題次重要的標題)
$h5-fzSize:1.8rem;       //h5
$h6-fzSize:1.4rem;       //h6
$word-fzSize:1.1rem;     //內文
$md-word-fzSize:1rem;    //小內文
$sm-word-fzSize:.7rem;    //更小內文

