//==========斷點=========

$md_breakpoint:768px;
$lg_breakpoint:996px;
$xl_breakpoint:1200px;

//==========顏色=========
$color1:#FFFBEF;
$color2:#A7D4D3;
$color3:#4EACB7;
$color4:#398590;
$color5:#245D68;//h2顏色
$color6:#FDB52D;
$color7:#ffcd71;
$color8:#C4C4C4;
$color9:#606060;

//============字體============
$family1:'M PLUS Rounded 1c', sans-serif;
$family2:sans-serif;

//============new文字大小============
$big-fzsize:2.5rem;      //特殊大字
$h2-fzSize:2.5rem;         //h2主標題大小 (藍綠標)
$h3-fzSize:2.2rem;       //h2/h3(月亮黃標)
//============new文字大小============
$h4-fzSize:2rem;         //h4(自己頁面除了以上標題次重要的標題)
$h5-fzSize:1.8rem;       //h5
$h6-fzSize:1.4rem;       //h6
$word-fzSize:1.1rem;     //內文
$md-word-fzSize:1rem;    //小內文
$sm-word-fzSize:.7rem;    //更小內文


//=========文字大小======學長姊的

// $fontSize_Title : 20px; //彈窗標題  h1
// $fontSize_SubTitle : 18px; //彈窗小標  h2
// $fontSize : 16px;  //預設值
// $fontSizeLink : 14px; //a連結、header, footer 字體大小
// $fontSizeSmall : 12px; //tooltip

//- 預設16px
// - h1: 　預設20px, 行高 25px
// - h2:　預設18px, 行高 20px


//變數
// $color : #333;
// $bgc : #eee;
// $margin : 10px auto;
// $fontSize : 20px;
// $layout : 1920px;
/*==css== */
// map 數值型態

// $map : (
//     'red' : #f20,
//     'black' : #333);

// images url
// $path  :  dist/images;


//map
// $title : (
//   "h1" : 50px,
//   "h2" : 40px, 
//   "h3" : 30px,
//   "h4" : 20px,
//   "h5" : 16px,
//   ".small" : 10px,
//   ".large" : 3rem
// );


