// 引用 var.scss
// _告訴scss 不要編譯 
@import 'base/var';
@import 'base/reset';
@import 'base/grid';
@import 'mixin/mixin';
//@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'layout/header';
@import 'layout/footer';
@import 'page/index';
@import 'page/indexFirework';
@import 'page/news';
@import 'layout/buyTicket';
@import 'page/homepage';
@import 'page/ticket';
@import 'page/themePark';
@import 'page/shop';
@import 'page/food';
@import 'page/games';
@import 'page/lostClothes';
@import 'page/visitor-experience';
@import 'layout/showFood';
@import 'page/test';
@import 'layout/map';
@import 'page/shoppingCart';
@import 'layout/loginLightbox';
@import 'page/member-info.scss';
@import 'page/visitor-experience-page';
@import 'page/ticket-purchase';
@import 'layout/robot';
@import 'page/back_login';
@import 'page/back_ticket';
@import 'page/back_emp';
@import 'layout/backNav';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

html{
    font-size:11px;
    @include md(){
        font-size:12px;
    }
    @include lg(){
        font-size:12.5px;
    }
    @include xl(){
        font-size:13px;
    }
}

h2,h3,h4,h5,h6{
    font-weight: 400;
    letter-spacing: 0.1em;
    text-indent: 0.1em;
    line-height: 2em;
    font-size: $h3-fzSize;
}
p,label{
    font-weight: 200;
    color:$color9;
    letter-spacing: 0.1em;
    text-indent: 0.1em;
    line-height: 1.6em;
    font-family: $family2;
    font-weight: 300;
}

input{
    outline: none;
    padding: 10px;
}
body{
    // border: 1px solid #000;
    background-color: $color1;
    min-height: 100vh;
    border-left: 15px solid $color3;
    border-right:15px solid $color3 ;
    position: relative;
    overflow-x: hidden;
    @include md(){
        //平板
        border-left: 20px solid $color3;
        border-right:20px solid $color3 ;
    }
}

//固定容器
.wrap{
    border: 3px dashed gray;
    width: 88%;
    margin: auto;
    @include md(){
        //平板
        border: 3px dashed red;
        width: calc(720 / 768 * 100%);
    }
    @include lg(){
        //平板橫
        border: 3px dashed blue;
        width: calc(880 / 960 * 100%);
    }
    @include xl(){
        border: 3px dashed pink;
        width: calc(1100 / 1200 * 100%);
    }

}
//滿版容器
.full{
    width: 100%;
}
//區塊
section{
    border: 5px dashed purple;
    margin-top: 25px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap:5%;
    @include md(){
        margin-top: 35px;
        margin-bottom: 80px;
    }
    @include lg(){
        margin-top: 40px;
        margin-bottom: 100px;
    }
    @include xl(){
        margin-top: 50px;
        margin-bottom: 120px;
    }
    
}
//黃色月亮標題
.moon-title{
    margin: 20px auto 60px ;
    width: 100%;
    color:$color4;
    position: relative;
    display: inline-block;
    p{
        margin: auto;
        font-weight: bold;
        font-weight: 500;
        text-align: center;
        color:$color5;
        font-family: $family2;
        font-weight: 400;
    }
    p:nth-of-type(2){
        margin-top: -5px;
        font-size: $word-fzSize;;
    }
    &::after{
        content: "";
        width: 120px;
        height: 50px;
        position: absolute;
        left: 50%;
        bottom:-5%;
        border-bottom: 5px solid $color6;
        border-radius:  50% 50% 50% 50% / 48% 52% 51% 49% ;
        transform: rotate(-10deg)  translateX(-30%);
        z-index: 10;
        
    }
}
//地圖
.map{
    margin-bottom: 40px;
    @include md(){
        margin-bottom: 80px;
    }
    @include lg(){
        margin-bottom: 100px;
    }
    @include xl(){
        margin-bottom: 120px;
    }
    img{
        width: 100%;
        margin: auto;
    }
}
//內頁h2
.title_h2{
    // border: 1px solid blue;
    margin-top :50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include h2Set();
}

//border-radius
.card-bdr{
    border-radius: 10px;
    @include md(){
        border-radius: 12px;
    }
    @include lg(){
        border-radius: 15px;
    }
}

.big-card-bdr{
    border-radius: 20px;
    @include md(){
        border-radius: 25px;
    }
    @include lg(){
        border-radius: 30px;
    }
}

// 燈箱所有設定，只有燈箱才可以用
.lightbox-bdr{
    border-radius: 20px;
    border:6px solid $color3;
    // aspect-ratio: 2 / 3.2;
    max-height:70vh;
    max-width: 80vw;
    z-index: 1001;
    @include md(){
        border-radius: 25px;
        border:8px solid $color3;
        aspect-ratio: 2 / 1;
    }
    @include lg(){
        border-radius: 30px;
        border:8px solid $color3;
        aspect-ratio: 1.8 / 1;
    }
    @include xl(){
        max-height:70vh;
        aspect-ratio: 2 / 1.2;
    }
}


.lightbox-bdr-up{
    border-radius: 20px 20px 0 0 ;
    @include md(){
        border-radius: 25px 25px 0 0;
    }
    @include lg(){
        border-radius: 40px 40px 0 0;
    }

}
.lightbox-bdr-down{
    border-radius: 0 0 20px 20px;
    @include md(){
        border-radius: 0 0 25px 25px;
    }
    @include lg(){
        border-radius: 0 0 40px 40px;
    }

}

// 燈箱背景

.full-screen{
    position: absolute;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;

}



//show | hide
.show{
    display: block;
}
.flex{
    display: flex;
}
.hide{
    display: none;
}











