// 引用 var.scss
// _告訴scss 不要編譯 
@import 'base/var';
@import 'base/reset';
@import 'mixin/mixin';
//@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'layout/header';
@import 'layout/footer';
@import 'page/index';
@import 'page/ticeket'
// @import 'page/about';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    font-size:12px;
    @include md(){
        font-size:13.5px;
    }
    @include lg(){
        font-size:14.5px;
    }
    @include xl(){
        font-size:16px;
    }
}

h2,h3,h4,h5,h6{
    font-weight: 400;
    letter-spacing: 0.1em;
    text-indent: 0.1em;
    line-height: 1.8em;
}
p{
    font-weight: 200;
    color:$color9;
    letter-spacing: 0.08em;
    text-indent: 0.08em;
    line-height: 1.8em;
}

body{
    // border: 1px solid #000;
    background-color: $color1;
    min-height: 100vh;
    border-left: 15px solid $color3;
    border-right:15px solid $color3 ;
    
    @include md(){
        //平板
        border-left: 20px solid $color3;
        border-right:20px solid $color3 ;
    }
}

//固定容器
.wrap{
    // border: 3px dashed gray;
    width: 88%;
    margin: auto;
    @include md(){
        //平板
        // border: 3px dashed red;
        width: calc(720 / 768 * 100%);
    }
    @include lg(){
        //平板橫
        // border: 3px dashed blue;
        width: calc(880 / 960 * 100%);
    }
    @include xl(){
        // border: 3px dashed pink;
        width: calc(1100 / 1200 * 100%);
    }
    
}

//黃色標題
.moon-title{
    width: 150px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    color:$color4;
    position: relative;
    display: flex;
    flex-direction: column;
    @include md(){
        width: 20%;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    @include lg(){
        width: 180px;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    @include xl(){
        width: 200;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    p{
        font-size: $h3-fzSize;
        text-align: center;
    }
  
    p:nth-of-type(2){
        font-size: $h5-fzSize;;
    }
    &::after{
        // border: 1px solid #000;
        content: "";
        width: 80px;
        height: 45px;
        background-image: url(../images/titleYellowShape.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        bottom:-25px;
        transform: translateX(-35%);
        z-index: 10;
        @include md(){
            width: 100px;
            bottom:-20px;
            transform: translateX(-20%);
        }
        @include lg(){
            width: 100px;
            bottom:-20px;
            transform: translateX(-20%);
     
        }
        @include xl(){  
            width: 120px;
            height: 45px;
            bottom:-15px;
            transform: translateX(-10%);
        }
    }
}

//地圖
.map{
    img{
        width: 100%;
        margin: auto;
    }
}



















