//===========斷點設計-平板直以上===========
@mixin md(){
    @media screen and (min-width: $md_breakpoint){
        @content
    }
    
};
//===========斷點設計-平板橫以上===========
@mixin lg(){
    @media screen and (min-width: $lg_breakpoint){
        @content
    }
     
 };
 //===========斷點設計-桌機以上===========
@mixin xl(){
    @media screen and (min-width: $xl_breakpoint){
        @content
    }
     
};
//============h2設定======================
@mixin h2Set(){
    font-size: $h2-fzSize; 
    color:$color5;
    margin: auto;
    font-weight: $h2-fontWeight;
    position: relative;
}
//============h2偽元素裝飾線===================
@mixin h2Decorate(){
    content: '';
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70vw;
    height: 13vw;
    border-top: 0.5rem solid $color5;
    border-radius: 48% 52% 51% 49% / 50% 50% 50% 50%;
 }
//============h2偽元素RWD===================
@mixin h2DecorateRwd(){
    @include md(){
        top: 180px;
        border-top: 0.5rem solid $color5;
    };
    @include lg(){
        top: 210px;
        border-top: 0.6rem solid $color5;    
    };
    @include xl(){
        top: 240px;
        border-top: 0.65rem solid $color5; 
    };
}



