// @import url('../base/var');//

//===========斷點設計-手機直以上===========
@mixin sm(){
    @media screen and (min-width: $sm_breakpoint){
        @content
    }
};

//===========斷點設計-平板直以上===========
@mixin md(){
    @media screen and (min-width: $md_breakpoint){
        @content
    }
    
};
//===========斷點設計-平板橫以上===========
@mixin lg(){
    @media screen and (min-width: $lg_breakpoint){
        @content
    }
     
 };
 //===========斷點設計-桌機以上===========
@mixin xl(){
    @media screen and (min-width: $xl_breakpoint){
        @content
    }
     
};
//============h2設定======================
@mixin h2Set(){
    // border: 1px solid blue;
    h2{
        font-size: $h2-fzSize; 
        font-family:$family1;
        color:$color5;
        margin: auto;
    }
    .title_h2_round{
        width: 40vw;
        height: 6vw;
        border-top: 0.5rem solid $color2;
        border-radius: 48% 52% 51% 49% / 50% 50% 50% 50%;
    }
}

// 有要border或是背景色或是hover自行增加
//===================按鈕 小===================
@mixin smBtn($name,$bgcolor:$color6){
    .smBtn-#{$name} {
        border: 1px solid transparent;
        border-radius: 3px;
        display: inline-block;
        margin: 0 10px;
        padding: 2px 8px;
        font-size: $md-word-fzSize;
        color:$color1;
        background-color: $bgcolor;
        transition: .2s;
        @content;
        &:hover{
            cursor: pointer;
            background-color: darken($bgcolor, 10%);
            @content;
            
        }
        @include lg(){
            border-radius: 6px;
            padding: 5px 14px;
            @content;
        }
    }
}

//===================按鈕 中===================
@mixin mdBtn($name,$bgcolor:$color6){
    .mdBtn-#{$name} {
        border: 1px solid transparent;
        border-radius: 4px;
        display: inline-block;
        margin: 0 10px;
        padding: 3px 10px;
        font-weight: 600;
        font-size: $btnMd-fzSize;
        color:$color1;
        background-color: $bgcolor;
        transition: .2s;
        @content;
        &:hover{
            cursor: pointer;
            background-color: darken($bgcolor, 10%);
            @content;
        }
        @include lg(){
            border-radius: 6px;
            padding: 4px 14px;
            @content;
        }
    }
}
//===================按鈕 大===================
@mixin bgBtn($name,$bgcolor:$color6){
    .bgBtn-#{$name} {
        border: 1px solid transparent;
        border-radius: 5px;
        display: inline-block;
        margin: 0 10px;
        padding: 5px 18px;
        font-weight: 600;
        font-size: $h6-fzSize;
        color:$color1;
        background-color: $bgcolor;
        transition: .2s;
        @content;
        @include lg(){
            border-radius: 8px;
            padding: 6px 24px;
            @content;
        }
        &:hover{
            cursor: pointer;
            background-color: darken($bgcolor, 10%);
            @content;
        }
     
    }
}
