//top
.top-bottom{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: $color7;
    box-shadow: 1px 1px 2px gray;
    color:$color1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:20px;
    right: 24px;
    z-index: 2;

    i{
        font-size: $sm-word-fzSize;
        color:$color5;
        font-size: $word-fzSize;

    }
    p{
        color:$color5;
        font-size: $md-word-fzSize;
        font-weight: 600;
    }
    @include xl(){
        width: 50px;
        height: 50px;
    }
}
//機器人
.robot{
    border: 2px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom:65px;
    right: 24px;
    z-index: 2;
    background-color: $color2;
    img{
        width:100%;
    }
    &:hover{
        cursor: pointer;
    }
    @include xl(){
        bottom:80px;
        width: 50px;
        height: 50px;
    }
}


footer{
    border-top: 10px solid $color3;
    width: 100%;
    padding-top: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    position:relative;
    @include xl(){
        border-top: 15px solid $color3;
        padding-top: 80px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include xl(){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .inf{
            // border: 1px solid #000;
            display: flex;
            flex-direction: column;
            gap:15px;
            margin-bottom: 40px;
            @include xl(){
                display: flex;
                flex-direction: column;
                gap:10px;
            }
            
            .logo{
                // border: 1px solid #000;
                text-align: center;
                @include xl(){
                    text-align: left;
                }  
                img{
                    width: 180px;
                }
            }
            p{
                padding: 5px 10px;
                margin-bottom: 10px;
                font-size: $word-fzSize;
                color:$color9;
                text-align: center;
                @include xl(){
                    border: 1.5px solid $color8;
                    border-radius: 10px;
                    padding: 3px 10px;
                }
            }

            .time{
                border: 1.5px solid $color8;
                border-radius: 15px;
                padding: 10px;
                p:nth-of-type(1){ 
                    font-size: $h5-fzSize;
                    color:$color4;
                    font-weight: 400;
                }
                p:nth-of-type(2),p:nth-of-type(3){ 
                    font-size: $h6-fzSize;
                }
                @include xl(){
                    p{
                        text-align: left;
                        border:0;
                        padding: 0;
                    }
                }
                
            }


        }
        nav{
            // border: 1px solid #000;
            display: flex;
            flex-direction: column;
            @include xl(){
                display: flex;
                flex-direction: row;
            }
            ul{
                @include xl(){
                    margin-left: 35px;
                }
                
                >a{
                    // border-bottom: 1px solid $color9;
                    color:$color9;
                    display: block  ;
                    margin-bottom: 15px;
                    padding-bottom: 5px;
                    position: relative;
                    &::after{
                        // border: 1px solid #000;
                        content:"";
                        width: 0%;
                        height: .7px;
                        background-color: $color9;
                        position: absolute;
                        bottom:0;
                        left: 0;
                        right: 0;
                        transition: .5s;
                    }
                    &:hover::after{
                        content:"";
                        width: 100%;
                        transform-origin: left;
                    }
              

                    @include xl(){
                        color:$color9;
                        display: block  ;
                        margin-bottom: 25px;
                    }
                    
                }
                li a{
                    display: none;
                    @include xl(){
                        // border: 1px solid #000;
                        display: block;
                        margin-left: 5px;
                        margin-bottom: 20px;
                        color:$color9;
                        font-size: .8rem;
                    }
                    
                }
            }

        }
        .icon{
            display: flex;
            margin-bottom: 20px;
            @include xl(){
                display: flex;
                flex-direction: column;
            }
            
            img{
                width: 35px;
                @include xl(){
                    width: 35px;
                }
                
            };
        }
    }
    svg{
        margin-bottom: -1%;
    }
    .final{
        width: 100%;
        height: 40px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color3;
        @include xl(){
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color3;
        }
        
        P{
            color:$color1;
            font-size: .8rem;
            @include xl(){
                color:$color1;
                font-size: 1.2rem;
            }
            
        }
        a{
            font-size: .6rem;
            font-weight: 100;
            color:$color5;
            margin-top: 5px;
            text-align: center;
            font-family: $family2;
            @include md(){
                font-size: 1rem;
            }
            
        }
    }
}

//SVG

// 摩天輪單一車廂
.ft-car{
    animation: ft-car 5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
    -webkit-transform-origin: center;
    -webkit-transform-box: fill-box;
}
@keyframes  ft-car {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

// 旋轉木馬

#horse1{
    animation: horse1 2s linear infinite;
}

@keyframes  horse1 {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform:translateY(10%)
    }
    100% {
        transform:translateY(0%)
    }
}

#horse2{
    animation: horse2 3s linear infinite;
}

@keyframes  horse2 {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform:translateY(5%)
    }
    100% {
        transform:translateY(0%)
    }
}

#horse3{
    animation: horse1 2.5s linear infinite;
}

@keyframes  horse3 {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform:translateY(8%)
    }
    100% {
        transform:translateY(0%)
    }
}

