h1{
    display: none;
}
header{
  border-top:10px solid $color3;
  width: 100%;
  height: 65px;
  position: sticky;
  top:0;
  background-color: $color3;
  z-index: 100;
  @include lg(){
      height: 75px;
      border-top:16px solid $color3;
  }
  @include xl(){
      border-left: 20px solid $color3;
      border-right:20px solid $color3 ;
  }
  
  .left-back,.right-back{
      position: absolute;
      top:0;
      bottom:0;
  }
  .left-back{
    //   border: 1px solid #000;
      width: 85%;
      border-radius: 15px 15px 0 0;
      left:0;
      background-color: $color1;
      &::before{
          content: "";
          width: 120%;
          height: 30px;
          background-color: $color3;
          position: absolute;
          left:-10px;
          top:-15px;
          z-index: -10;
          @include lg(){
              content: "";
              width: 100%;
              height: 40px;
              left:0;
              top:0;
          }
      }
      @include lg(){
          width: 25%;
          border-radius: 30px 25px 0 0;
      }
     
  }
  .right-back{
    //   border: 1px solid #000;
      border-radius: 0 0 0 15px;
      width: 15%;
      right:0;
      top:0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color3;
      &::after{
          content:"";
          width: 100%;
          height: 40px;
          background-color: $color1;
          position: absolute;
          bottom:0;
          z-index: -10;
      }
      @include lg(){
          // border: 1px solid #000;
          border-radius: 0 0 0 20px;
          width: 75%;
      }
      .hbg{
          width: 35px;
          height: 29px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap:10px;
          z-index: 10;
          &:hover{
              cursor: pointer;
          }
          span{
              width: 100%;
              height: 3px;
              background-color: $color1;
          }
          @include lg(){
              display: none;
          }
      }
     
  }
  //主要內容
  .wrap{
      height: 100%;
      display: flex;
      justify-content: space-between;
      .logo{
          margin-top: 5px;
          background-color: $color1;
          z-index: 1;
          @include lg(){
              margin-top: 5px;
          }
          img{
              width: 120px;
              @include lg(){
                  width: 170px;
              }
          }
      }
      //電腦版nav
      .pc-nav{
          border-radius: 0 0 0 15px;
          width: 75%;
          z-index: 2;
          @include lg(){
              border-radius: 0 0 0 30px;
          }
          .icon{
              display: none;
              @include lg(){
                  display: flex;
                  justify-content: end;
                  align-items: center;
                  a:nth-of-type(1) img{
                      width: 22px;
                      margin-right: 10px;
                  };
                  a:nth-of-type(2) img{
                      width: 24px;
                  };
              }
          }
          ul{
              display: none;  
              @include lg(){
                  margin-top: 6px;
                  display: flex;
                  justify-content: end;
                  li{
                    //   border: 1px solid blue;
                      @include md(){
                        margin-left: 30px;
                      }
                      @include xl(){
                        margin-left: 55px;
                      }
                      &:hover .sec-nav{
                          display: flex;
                        }
                      

                  }
                  li .main-nav{
                    //   border: 1px solid #000;
                      display: block;
                      margin-bottom: 8px;
                      color:$color1;
                      font-weight: bold;
                      position: relative;
                      &::before{
                        content:"";
                        width: 0%;
                        height: 8px;
                        position: absolute;
                        bottom:0;
                        left: 0;
                        right: 0;
                        background-color: $color6;
                        z-index: -1;
                        transition: .3s;
                      }
                      &:hover::before{
                          content:"";
                          width: 100%;
                      }
                      
                  }
                  .sec-nav{
                    //   border: 1px solid #000;
                        padding: 10px 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        background-color: $color2;
                        display: none;
                      a{

                          font-size: $sm-word-fzSize;
                          margin-bottom: 10px;
                          color:$color5;
                          

                      }
                  }
              }
          }
      }
     
  }
  //手機板nav
  .mobile-nav{
      width: 100%;
      height: 100vh;
      position: fixed;
      top:0;
      right: 0;
      z-index: 50;
      background-color: $color3;
    //   opacity: 0.8;
      @include md(){
          display: none;
      }
      .top-block{
        //   border: 1px solid #000;
          width: 100%;
          height: 65px;
          padding: 20px 30px;
          margin-bottom: 30px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: $color2;
          img{
            //   border: 1px solid #000;
              width: 140px;
          }
          .close{
            width: 35px;
            height: 30px;
            display: flex;
            flex-direction: column;
            position: relative;
          }
          span{
            width: 100%;
            height: 3px;
            background-color: $color5;
            position: absolute;
            top:50%;
            bottom:0;
            transform: translateY(-50%);
            &:hover{
                cursor: pointer;
            }
          }
          span:nth-of-type(1){
            bottom: 0;
            transform: rotate(-45deg);
          }
          span:nth-of-type(2){
            bottom:0;
            transform: rotate(45deg);
        }
      }
      ul{
        //   border: 1px solid #000;
          li{
            // border: 1px solid #000;
            padding: 10px 40px;
            font-size: $h5-fzSize;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                cursor: pointer;
            }
            img{
                transform: scale(.7);
                margin-right: 10px;
            }
            
            a{
                // border: 1px solid #000;
                color:$color1;
            }
          }
      }

  }
  .ticket{
      position: absolute;
      top:-10px;
      left:60%;
      z-index: 2;
    //   transform: rotate(-20deg);
      @include lg(){
          top:-16px;
          left:30%;
          z-index: 2;
      }
      @include xl(){
        left:26%;
      }
      
      img{
          width: 120px;
          @include lg(){
              width: 180px;
          }
      }
  }
  .bottom-back{
    //   border: 1px solid #000;
      width: 100%;
      height: 80px;
      position: sticky;
      top:10px;
      background-image:linear-gradient(rgba(255,251,239,0.7),rgba(255,251,239,0));
      &::after{
        //   border: 1px solid #000;
          content:"";
          width: 100%;
          height: 10px;
          background-color: $color3;
          position: absolute;
          top:0;
          z-index: -10;
      }
      @include lg(){
          width: 100%;
          height: 50px;
          top:7px;
      }
      .bcg-front{
        //   border: 1px solid red;
          width: 100%;
          height: 35px;
          border-radius: 0 10px 0 0;
        //   background-color: $color1;
          background-image:linear-gradient(rgba(255,251,239,1) 25%,rgba(255,251,239,0) );
      }
      @include lg(){
          height: 20px;
          border-radius: 0 20px 0 0;
      }
  
  }
}
