.robot_area {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.644);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 100px 0;
    justify-content: center;

    [v-cloak] {
        display: none;
    }

    img {
        width: 23%;
        transform: rotateY(180deg);

        @include md() {
            width: 17%;
        }

        @include lg() {
            width: 19%;
        }

        @include xl() {
            width: 23%;
        }
    }

    .robot_inner {
        margin: auto;
        background-color: $color1;
        position: relative;
        padding: 20px 10px;
        width: 80%;

        @include md() {
            width: 60%;
        }

        @include lg() {
            width: 50%;
        }

        @include xl() {
            width: 40%;
        }

        i {
            font-size: $h5_fzSize;
            color: $color9;
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

        .robot_talk {
            
            .box {
                margin: 1.25rem;

                #content {
                    height: 340px;
                    overflow-y: scroll;
                    font-size: $word-fzSize;
                    width: 100%;

                    .info_r {
                        position: relative;

                        .circle_r {
                            position: absolute;
                            left: 0;
                        }

                        .con_r {
                            // 左對話框顏色
                            display: inline-block;
                            width: 70%;
                            min-height: 55px;
                            background-color: #FDB52D;
                            border-radius: 6px;
                            padding: 10px;
                            margin-left: 40px;

                            @include xl() {
                                width: 55%;
                            }
                        }

                        .con_text {
                            // 左側對話文字顏色
                            color: #333;
                            margin-bottom: 5px;
                            line-height: 1.5;

                            .con_que {
                                // 可能想問內容框
                                height: 30px;
                                line-height: 30px;
                                cursor: pointer;

                                .czkj-question-msg {
                                    // 可能想問框
                                    float: left;
                                    font-size: $word-fzSize;
                                    color: #245D68;
                                }
                            }
                        }

                        .time_r {
                            // 左下時間
                            margin-left: 45px;
                            color: #999999;
                            font-size: $sm-word-fzSize;
                            margin-bottom: 15px;
                        }
                    }

                    .info_l {
                        // 右側對話框
                        text-align: right;
                        margin-top: 10px;

                        .time_l {
                            // 右下時間
                            margin-right: 10px;
                            color: #999999;
                            font-size: $sm-word-fzSize;
                            margin-top: 5px;
                            margin-bottom: 15px;
                        }

                        .con_l {
                            // 右側提問框
                            display: inline-block;
                            width: 150px;
                            min-height: 45px;
                            background-color: #A7D4D3;
                            border-radius: 6px;
                            padding: 10px;
                            text-align: left;
                            color: #333;
                            margin-right: 5px;

                            @include xl() {
                                width: 220px;
                            }
                        }
                    }
                }
            }
        }

        .setproblem {
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 10px;

            textarea {
                // 下方提問輸入框
                color: #333;
                padding: 10px;
                box-sizing: border-box;
                height: 100px;
                width: 78%;
                resize: none;
                border-color: #ccc;
                border-radius: 15px;
                outline: none;
                font-size: $word-fzSize;
                box-shadow: $button-shadow;
                
                @include xl() {
                    width: 87%;
                }
            }

            button {
                // 下方送出按鈕
                width: 4rem;
                height: 2.5rem;
                line-height: 2.5rem;
                background: #FDB52D;
                color: #ffffff;
                font-weight: bold;
                font-size: $word-fzSize;
                cursor: pointer;
                border: none;
                border-radius: $sm-word-fzSize;
                box-shadow: $button-shadow;
            }
        }
    }
}