.food-wrap{
    display:flex;
    flex-direction: column;
    margin:auto;
    align-items: center;
    overflow: hidden;
    @include xl(){
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap:5em;
    }
    .text{
        width: 100%;
        border-radius: 15px;
        background: linear-gradient($color4, $color3, $color1);
        @include xl(){
            width:45%;
        }
        h2{
            color: $color1;
            font-size: $h2-fzSize;
            margin: 1em;
        }
        p{
            color: $color1;
            font-size: $h6-fzSize;
            margin: 0 2em;
            padding-bottom: 4em;
            @include md(){
                font-size: $word-fzSize;
            }
            
            @include xl(){
                padding-bottom: 10em;
            }
        }
    }
    .carousel{
    // height: 100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    perspective: 100em;
    @include md(){
        padding-top:2em;
    }
    @include lg(){
        padding-top:2em;
    }
    @include xl(){
        padding-top:2em;
    }
        .carousel_cards{
        position: relative;
        width: 20rem;
        height: 20rem;
        transform-style: preserve-3d;
        transform: translateZ(-25rem);
        transition: transform 0.3s ease-in;
        @include md(){
            width: 30rem;
            height: 30rem;
            transform: translateZ(-25rem);
        }
        @include lg(){
            width: 30rem;
            height: 30rem;
            transform: translateZ(-25rem);
        }
        @include xl(){
            width: 30rem;
            height: 30rem;
            transform: translateZ(-25rem);
        }

        }
            .carousel_card {
                width: 100%;
                height: 100%;
                position: absolute;
                border: 2px solid $color1;
                font-weight: 700;
                @include md(){
                    border: 8px solid $color1;
                }
                @include lg(){
                    border: 8px solid $color1;
                }
                @include xl(){
                    border: 8px solid $color1;
                }
            }

            .carousel_card:nth-child(1) {
                transform: rotateY(0deg) translateZ(25rem);
                @include md(){
                    transform: rotateY(0deg) translateZ(35rem);
                }
                @include lg(){
                    transform: rotateY(0deg) translateZ(35rem);
                }
                @include xl(){
                    transform: rotateY(0deg) translateZ(35rem);
                }
            }

            .carousel_card:nth-child(2) {
                transform: rotateY(45deg) translateZ(25rem);
                @include md(){
                    transform: rotateY(45deg) translateZ(35rem);
                }
                @include lg(){
                    transform: rotateY(45deg) translateZ(35rem);
                }
                @include xl(){
                    transform: rotateY(45deg) translateZ(35rem);
                }
            }

            .carousel_card:nth-child(3) {
                transform: rotateY(90deg) translateZ(25rem);
                @include md(){
                    transform: rotateY(90deg) translateZ(35rem);
                }
                @include lg(){
                    transform: rotateY(90deg) translateZ(35rem);
                }
                @include xl(){
                    transform: rotateY(90deg) translateZ(35rem);
                }
            }

            .carousel_card:nth-child(4) {
                transform: rotateY(135deg) translateZ(25rem);
                @include md(){
                    transform: rotateY(135deg) translateZ(35rem);
                }
                @include lg(){
                    transform: rotateY(135deg) translateZ(35rem);
                }
                @include xl(){
                    transform: rotateY(135deg) translateZ(35rem);
                }
            }

            .carousel_card:nth-child(5) {
                transform: rotateY(180deg) translateZ(25rem);
                @include md(){
                    transform: rotateY(180deg) translateZ(35rem);
                }
                @include lg(){
                    transform: rotateY(180deg) translateZ(35rem);
                }
                @include xl(){
                    transform: rotateY(180deg) translateZ(35rem);
                }
            }

            .carousel_card:nth-child(6) {
                transform: rotateY(225deg) translateZ(25rem);
                @include md(){
                    transform: rotateY(225deg) translateZ(35rem);
                }
                @include lg(){
                    transform: rotateY(225deg) translateZ(35rem);
                }
                @include xl(){
                    transform: rotateY(225deg) translateZ(35rem);
                }
            }

            .carousel_card:nth-child(7) {
                transform: rotateY(270deg) translateZ(25rem);
                @include md(){
                    transform: rotateY(270deg) translateZ(35rem);
                }
                @include lg(){
                    transform: rotateY(270deg) translateZ(35rem);
                }
                @include xl(){
                    transform: rotateY(270deg) translateZ(35rem);
                }
            }

            .carousel_card:nth-child(8) {
                transform: rotateY(315deg) translateZ(25rem);
                @include md(){
                    transform: rotateY(315deg) translateZ(35rem);
                }
                @include lg(){
                    transform: rotateY(315deg) translateZ(35rem);
                }
                @include xl(){
                    transform: rotateY(315deg) translateZ(35rem);
                }
            }
                .carousel_img{
                    width: 100%;
                    height: 100%;
                    display: inline-block; 
                    // -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, rgb(0,0,0,.12));
                }
        .carousel_btn{
            outline: none;
            border: none;
            border-radius: 50%;
            background-color: $color6;
            color: $color1;
            font-size: $btnMd-fzSize;
            height:3rem;
            width:3rem;
            margin: 2rem 5rem;
            font-weight: 500;
            cursor: pointer;
        }
        .carousel_btn:hover{
            background: $color7;
        }
    }
}