<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/meta.html', {
    "title" : "商品管理"
    })
</head>
<!-- 改body class名稱 -->

<body class="back_product back_reset">
    <!-- 共用header -->
    <!-- @@include('layout/header-final.html') -->
    <!-- 共用header end -->
    <!-- 大標使用這個-->
    <!-- @@include('layout/h2Style.html',{
        "h2Title" : "首頁"
    }) -->
    <!-- 小標使用這個 -->
    <!-- @@include('layout/title.html',{
        "h3TitleTC" : "主題園區",
        "h3TitleEN": "Theme Area"
    }) -->

    @@include('layout/backNav.html')

    <div id="back" class="back_content">
        <h2>商品管理</h2>
        <div>
            <button @click="addHandler">新增</button>
        </div>

        <div class=box_father>
            <table class="box">
                <tr>
                    <th>品號</th>
                    <th>商品圖</th>
                    <th>品名</th>
                    <th>商品介紹</th>
                    <th>售價</th>
                    <th>狀態</th>
                    <th></th>
                </tr>
                <tr v-for="prodRow in prodRows">
                    <td>{{prodRow.product_no}}</td>
                    <td><img :src="'images//' + prodRow.product_pic"></td>
                    <td>{{prodRow.product_name}}</td>
                    <td>{{prodRow.product_infor}}</td>
                    <td>{{prodRow.product_price}}</td>
                    <td>{{prodRow.product_st?"上架":"下架"}}</td>
                    <td><button @click="show(prodRow.product_no)">編輯</button></td>
                </tr>
            </table>
        </div>


        <div class="back_lightbox backLightbox" v-show="isOpen">
            <div>
                <i @click="isOpen = false" id="close" class="fa-solid fa-xmark"></i>
                <table class="innerData">
                    <tr>
                        <th>商品照片</th>
                        <td><input type="file" id="uploadPic"></td>
                    </tr>
                    <tr>
                        <th>商品名稱</th>
                        <td><input type="text" v-model="popup.product_name"></td>
                    </tr>
                    <tr>
                        <th>商品介紹</th>
                        <td>
                            <textarea name="" id="" cols="23" rows="10" v-model="popup.product_infor"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>商品狀態</th>
                        <td>
                            <select v-model="popup.product_st">
                                <option value="0">上架</option>
                                <option value="1">下架</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>售價</th>
                        <td><input type="text" v-model="popup.product_price"></td>
                    </tr>
                </table>
                <div>
                    <button @click="addPro" type="button">新增</button>
                    <button @click="changeHandler" type="button">修改確定</button>
                </div>
            </div>
        </div>
    </div>

    <!--  ===============map ===============  -->
    <!-- @@include('layout/map.html') -->
    <!-- footer  -->
    <!-- @@include('layout/footer.html') -->
</body>

</html>
<!-- 共用燈箱js -->
<script src="./js/back_product.js"></script>