<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/meta.html', {
    "title" : "設施管理"
    })
</head>
<!-- 改body class名稱 -->

<body class="back_facility back_reset">
    @@include('layout/backNav.html')

    <div id="back" class="back_content">
        <h2>設施管理</h2>
        <div>
            <button>新增</button>
        </div>

        <div class="box_father">

            <table class="box" >
                <tr>
                    <th v-for="title in facilityTitle">{{title}}</th>
                </tr>
                <tr v-for="facilityRow in facilityRows">
                    <td>{{facilityRow.fac_no}}</td>
                    <td><img :src="'images//' + facilityRow.fac_pic" alt=""></td>
                    <td>{{facilityRow.fac_name}}</td>
                    <td>{{facilityRow.fac_area}}</td>
                    <td>{{facilityRow.fac_maintain_date}}</td>
                    <td>{{facilityRow.fac_rainy}}</td>
                    <td>{{facilityRow.fac_preg}}</td>
                    <td>{{facilityRow.fac_wheelchair}}</td>
                    <td>{{facilityRow.fac_chart}}</td>
                    <td><button @click="show(facilityRow.fac_no)" >編輯</button></td>
                </tr>
            </table>
        </div>
        <!-- 燈箱 -->
        <div class="back_lightbox backLightbox" v-show="isOpen">
            <div>
                <i @click="isOpen = false" id="close" class="fa-solid fa-xmark"></i>
                
                <table class="innerData">
                    <tr>
                        <th>設施圖片</th>
                        <td><input type="file"></td>
                    </tr>
                    <tr>
                        <th>設施名稱</th>
                        <td><input type="text" v-model="popup.fac_name"></td>
                    </tr>
                    <tr>
                        <th>所在園區</th>
                        <td>
                            <select v-model="popup.fac_area">
                                <option value="紐約都會">紐約都會</option>
                                <option value="西部農莊">西部農莊</option>
                                <option value="印安部落">印安部落</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>維護時間</th>
                        <td>
                            <select  v-model="popup.fac_maintain_date">
                                <option value="1">星期一</option>
                                <option value="2">星期二</option>
                                <option value="3">星期三</option>
                                <option value="4">星期四</option>
                                <option value="5">星期五</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>雨天影響</th>
                        <td>
                            <select v-model="popup.fac_rainy">
                                <option value="1">可乘</option>
                                <option value="0">不可乘</option>
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <th>孕婦乘坐</th>
                        <td>
                            <select v-model="popup.fac_preg">
                                <option value="1">可乘</option>
                                <option value="0">不可乘</option>
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <th>輪椅乘坐</th>
                        <td>
                            <select v-model="popup.fac_wheelchair">
                                <option value="1">可乘</option>
                                <option value="0">不可乘</option>
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <th>排名</th>
                        <td>
                            <select v-model="popup.fac_chart">
                                <option value="1">第一名</option>
                                <option value="2">第二名</option>
                                <option value="3">第三名</option>
                                <option value="4">第四名</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <div>
                    <button  @click="addPro">新增</button>
                    <button  @click="change">修改確定</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
<!-- 共用燈箱js -->
<script src="js/back_facility.js"></script>