<!DOCTYPE html>
<html lang="en">
<head>
    @@include('layout/meta.html', {
        "title" : "會員管理"
    })
</head>
<!-- 改body class名稱 -->
<body class="back_member back_reset">
    @@include('layout/backNav.html')

    <div class="back_content" id="backmemberVue">
        <h2>會員管理</h2>
        <table class="box">
            <tr>
                <th v-for="title in memTitle">{{title}}</th>
            </tr>
            <tr v-for="memRow in memRows">
                <td>{{memRow.mem_no}} </td>
                <td>{{memRow.mem_id}}</td>
                <td>{{memRow.mem_lastname}} {{memRow.mem_name}}</td>
                <td>{{memRow.mem_date}}</td>
            </tr>
        </table>
    </div>

    <script type="text/javascript">
        let memVue = new Vue({
            el:"#backmemberVue",
            data:{
                memTitle: ['會員序號','會員帳號','會員名稱','建立時間'],
                memRows:[],
            },
            mounted(){                                                  
                let xhr = new XMLHttpRequest();                            
                // xhr.onload = function(){                                 
                //     this.memRows = JSON.parse(xhr.responseText);
                //     alert(this.memRows);
                //     console.log(this.memRows);
                // }
                xhr.onload = () => {                                    
                    this.memRows = JSON.parse(xhr.responseText);            
                    console.log(this.memRows);
                }
                xhr.open("get","php/get_back_member.php",true);         
                xhr.send(null);                                         
            },
        });

    </script>

</body>
</html>