<!DOCTYPE html>
<html lang="en">
<head>
    @@include('layout/meta.html', {
        "title" : "首頁"
    })
</head>

<body class="homepage">
    <!-- 共用header -->
    <!-- @@include('layout/header-final.html', {
      "class" : "hide"
    }) -->
    <!-- 共用header end -->

    <!-- 首頁才有的header -->
    <div class="wrap indexHeader" >
        <nav>
            <ul>
                <li>
                    <a href="homepage.html">
                        <img src="./images/navHome.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="themePark_NewYork.html">
                        <img src="./images/navThemePark.png"alt="">
                    </a>
                </li>
                <li>
                    <a href="news.html">
                        <img src="./images/navNew.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="ticket.html">
                        <img src="./images/navTicket.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="shop.html">
                        <img src="./images/Shopify.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="food.html">
                        <img src="./images/navFastfood.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="visitor_experience.html">
                        <img src="./images/navConversation.svg" alt="">
                    </a>
                </li>
            </ul>

        </nav>

        <div class="video">
            <div class="video-frame">
                <video muted src="./images/big-movie3.mp4" autoplay loop playsinline></video>
            </div>

            <div class="pic">
                <img src="./images/coludCar.png" alt="">
            </div>
            <div class="bcg">
                <img src="./images/indexTopBcg.svg" alt="">
            </div>
        </div>

        <a href="ticket.html" class="ticket">
            <img src="./images/ticket.svg" alt="">
        </a>

        <a href="homepage.html">
            <img src="./images/logo.svg" alt="" id="index-top-logo">
        </a>

    </div>

    <!-- ===============大票券=============== -->
    <div class="buy-ticket" id="buy-big-ticket">
        <div class="wrap">
            <h2>歡迎來到伊果樂園</h2>
            <p class="info">伊果樂園有三大園區：紐約都會、西部農莊，印安部落
                建議各用一天時間遊玩。每個區域都各具特色。快來伊果樂園在不同園區，與果果共度美好時光！<br>
                2022年5月22日正式啟程！</p>
            @@include('layout/buyTicket.html')
        </div>
    </div>
    <!-- ===============票券以下大區塊=============== -->
    <div class="bigContainer">
        <!-- ===============主題園區=============== -->
        @@include('layout/h2Style.html',{
            "h2Title" : "主題園區"
        })
        <section class="ThemeArea" id="ThemeArea">
            <div class="full">
                <!-- 紐約都會 -->
                <div class="block newyork">
                    <svg viewBox="0 0 793 824" height="0" width="0" clipPathUnits="objectBoundingBox">
                        <defs>
                            <clipPath id="svgMask1">
                                <rect width="846" height="846" class="newyork-svg"/>
                            </clipPath >
                        </defs>
                        <a href="themePark_NewYork.html">
                            <image xlink:href="images/themepark.jpg" clip-path="url(#svgMask1)"  -webkit-clip-path="url(#svgMask1)" class="path"/>

                        </a>
                       
                    </svg>
                    <div class="info">
                        <h4>
                            紐約都會
                        </h4>
                        <p>
                            踏入紐約都會區，
                            乘上世界最高的伊果摩天輪，
                            俯瞰美國紐約場景，
                            展開時尚的美國夢幻之旅
                        </p>
                    </div>
                    <div class="cloud-1">
                        <img src="./images/index__cloud3.png" alt="">
                    </div>
                
                    
                    
                </div>
                <!-- 西部農莊 -->
                <div class="block farm">
                    <svg viewBox="0 0 793 824" height="824" width="793">
                        <defs>
                            <clipPath id="svgMask2">      
                                <rect width="846" height="846" fill="#D9D9D9"class="farm-svg"/>
                            </clipPath >
                        </defs>
                        <a href="themePark_West.html">
                            <image xlink:href="images/themepark2.jpg" clip-path="url(#svgMask2)" -webkit-clip-path="url(#svgMask2)"/>

                        </a>
                    </svg>

                    <div class="info">
                        <h4>
                            西部農莊
                        </h4>
                        <p>
                            兒時憧憬的美國西部場景，此刻真真切切的出現在你眼前，坐在牛仔快車
                            一起進入西部農莊的世界！
                        </p>
                    </div>
                    <div class="cloud-2">
                        <img src="./images/index__cloud3.png" alt="">
                    </div>
                    
                </div>
                <!-- 印安部落 -->
                <div class="block indian">
                    <svg viewBox="0 0 793 824" >

                        <defs>
                            <clipPath id="svgMask1">
                                <rect width="846" height="846" class="newyork-svg"/>
                            </clipPath >
                        </defs>
                        <a href="themePark_Indian.html">
                            <image xlink:href="images/facilities7.jpg" clip-path="url(#svgMask1)" clip-path="url(#svgMask1)" />
                        </a>

                       
                        <!-- <animateMotion path="M0 0C0 0 700 80 600 250 200 600 700 750 400.5 500 780 0 600V0Z" begin="4s" dur="2s"></animateMotion> -->
                     
                    </svg>

                    <div class="info">
                        <h4>
                            印安部落
                        </h4>
                        <p>
                            印安部落，
                            除了刺激的設施，
                            還有印安民族特色美食，
                            將給你最美妙的遊玩體驗

                        </p>
                    </div>

                    <div class="cloud-3">
                        <img src="./images/index__cloud3.png" alt="">
                    </div>
                </div>
            </div>


        </section>

        <!-- ===============熱門設施=============== -->
        @@include('layout/h2Style.html',{
            "h2Title" : "熱門設施"
        })
        <section class="HotFacility" id="HotFacility">
            <div class="full">
                <div class="word">
                    <p>TOP1</p>
                    <P>TOP2</P>
                    <P>TOP3</P>
                </div>
                <!-- 摩天輪 -->
                <svg id="wheels" data-name="wheels" viewBox="-10 -80 1807 2000" >
                    <defs>
                        <style>.cls-1,.cls-2,.cls-3,.cls-4,.cls-12{fill:none;}
                            .cls-1{stroke:#8c8c8c;}
                            .cls-1{stroke-width:45px;}
                            .cls-2,.cls-5{stroke-width:40px;}
                            .cls-2,.cls-3,.cls-4{stroke:#c4c4c4;}
                            .cls-3{stroke-width:40px;}
                            .cls-4{stroke-width:40px;}
                            .cls-5,.cls-7{fill:#fff;}
                            .cls-5{stroke:#707070;}
                            .cls-6{fill:#398590;}
                            .cls-8{fill:#a7d4d3;}
                            .cls-9{fill:#707070;}
                            .cls-12{stroke:#c4c4c4;}
                            .cls-12{stroke-width:30px;}

                        .cls-10,.cls-11{
                            font-size:50px;
                            font-family:'M PLUS Rounded 1c', 
                            sans-serif;
                            fill:#245D68;
                        };
                        .cls-10{fill:#245D68;}
                        .cls-11{fill:white;}

                        </style>
                    </defs>
                    
                    <!-- 底座三角形 -->
                    <path class="cls-1" d="M908.26,1053.08l388.16,791.6H520.1Z"/>
                    <!-- 輪框 -->
                    <g id="circle-frame">
                        <path class="cls-2" d="M908.27,200V1627.57"/>
                        <line class="cls-3" x1="1412.71" y1="399.37" x2="403.29" y2="1408.79"/>
                        <line class="cls-2" x1="190.75" y1="899.48" x2="1618.28" y2="899.48"/>
                        <line class="cls-4" x1="413.55" y1="400.2" x2="1422.96" y2="1409.63"/>
                    </g>
                    
                    <!-- 大圓圈外框 -->
                    <circle class="cls-1" id="big-circle" cx="904.51" cy="919.48" r="713.77" transform = "rotate(-45 903.5 953)"/>
                    <circle class="cls-12" id="big-circle" cx="930.51" cy="919.48" r="360" transform = "rotate(-45 903.5 953)"/>
                    <!-- 所有車廂 -->
                    <g id="all-cabin">
                        <!-- 車廂1 -->
                        <g class="cabin">
                            
                            <ellipse class="cls-8" cx="908" cy="177.74" rx="195" ry="195"/>
                            <defs>
                                <clipPath id="car1" >
                                    <path class="cls-7" d="M1064.79,172.59c0-1.14,0-2.29,0-3.44,0-81.23-70.4-147.08-157.24-147.08S750.37,87.92,750.37,169.15c0,1.15,0,2.3.06,3.44h-.18v33.49H1065V172.59Z"/>        
                                </clipPath>
                            </defs>
                            <image xlink:href="./images/newyork.jpg" clip-path="url(#car1)" x="600" y="0" width="500"/>

                            <!-- 車廂果果 -->
                            <image xlink:href="./images/eagle-shock-half.png" x="780" y="-50"width="230"/>

                            <text class="cls-10" transform="translate(818.5 267.64)">伊果樂園</text>     
                            
                        </g>
                        <!-- 車廂2 -->
                        <a href="themePark_NewYork.html">
                            <g class="cabin">
                                
                                <ellipse class="cls-6" cx="395" cy="377.74" rx="195" ry="195"/>
                                <defs>
                                    <clipPath id="car2">
                                        <path class="cls-7" d="M551.77,372.59c0-1.14.07-2.29.07-3.44,0-81.23-70.4-147.08-157.24-147.08S237.37,287.92,237.37,369.15c0,1.15,0,2.3.06,3.44h-.18v33.49H552V372.59Z"/>
                                    </clipPath>
                                </defs>
                                <image xlink:href="./images/facilities8 (20).jpg" clip-path="url(#car2)" x="195" y="220" width="350"/>
    
                                <text class="cls-11" transform="translate(297.93 477.79)">極速飛鷹</text>
                    
                            </g>

                        </a>
                    
                        <!-- 車廂3 -->
                        <a href="themePark_Indian.html">
                            <g class="cabin">
                                
                                <ellipse class="cls-8" cx="190" cy="853.74" rx="195" ry="195"/>
                                <defs>
                                    <clipPath id="car3">
                                        <path class="cls-8" d="M346.77,848.59c0-1.14.07-2.29.07-3.44,0-81.23-70.4-147.08-157.24-147.08S32.37,763.92,32.37,845.15c0,1.15,0,2.3.06,3.44h-.18v33.49H347V848.59Z"/>        
                                    </clipPath>
                                </defs>
                                <image xlink:href="./images/facilities8 (2).png" clip-path="url(#car3)" x="0" y="650" width="400"/>
    
                                <text class="cls-10" transform="translate(94.05 953)">自由落體</text>
                        
                            </g>

                        </a>
                        <!-- 車廂4 -->
                        <a href="themePark_West.html">

                            <g class="cabin">
                                
                                <ellipse class="cls-6" cx="395" cy="1381.74" rx="195" ry="195"/>
                                <defs>
                                    <clipPath id="car4">
                                        <path class="cls-7" d="M551.77,1376.59c0-1.14.07-2.28.07-3.44,0-81.23-70.4-147.08-157.24-147.08s-157.23,65.85-157.23,147.08c0,1.16,0,2.3.06,3.44h-.18v33.49H552v-33.49Z"/>        
                                    </clipPath>
                                </defs>
                                <image xlink:href="./images/facilities8 (24).jpg" clip-path="url(#car4)" x="195" y="1200" width="500"/>
    
                                <text class="cls-11" transform="translate(297.93 1488.66)">仙女散花</text>
                                
                            </g>

                        </a>
                        <!-- 車廂5 -->
                        <a href="themePark_West.html">
                            <g class="cabin">
                            
                                <ellipse class="cls-8" cx="910" cy="1614.74" rx="195" ry="195"/>
                                <defs>
                                    <clipPath id="car5">
                                        <path class="cls-7" d="M1066.79,1609.59c0-1.14,0-2.29,0-3.44,0-81.23-70.4-147.08-157.24-147.08s-157.23,65.85-157.23,147.08c0,1.16,0,2.3.06,3.44h-.18v33.49H1067v-33.49Z"/>
                                        
                                    </clipPath>
                                </defs>
                                <image xlink:href="./images/facilities8 (18).jpg" clip-path="url(#car5)" x="600" y="1450" width="500"/>  
                                <text class="cls-10" transform="translate(818.5 1716.69)" >空中UFO</text>
                        
                            </g>
                        </a>
                      
                        <!-- 車廂6 -->
                        <g class="cabin">
                            
                            <ellipse class="cls-6" cx="1447" cy="1383.74" rx="195" ry="195"/>
                            <defs>
                                <clipPath id="car6">
                                    
                                    <path class="cls-7" d="M1603.79,1378.59c0-1.14,0-2.29,0-3.44,0-81.23-70.4-147.08-157.24-147.08s-157.23,65.85-157.23,147.08c0,1.16,0,2.3.06,3.44h-.18v33.49h314.8v-33.49Z"/>
                                    
                                </clipPath>
                            </defs>
                            <image xlink:href="https://www.hotelscombined.com.tw/news/wp-content/uploads/sites/316/2018/05/Cardu20170726_14502011-Copy.jpg" clip-path="url(#car6)" x="1200" y="1200" width="500"/>
                            
                        </g>
                        <!-- 車廂7 -->
                        <g class="cabin">
                            
                            <ellipse class="cls-8" cx="1617" cy="853.74" rx="195" ry="195"/>
                            <defs>
                                <clipPath id="car7">            
                                    <path class="cls-7" d="M1773.79,848.59c0-1.14,0-2.29,0-3.44,0-81.23-70.4-147.08-157.24-147.08s-157.23,65.85-157.23,147.08c0,1.15,0,2.3.06,3.44h-.18v33.49h314.8V848.59Z"/>
                                </clipPath>
                            </defs>
                            <image xlink:href="https://www.hotelscombined.com.tw/news/wp-content/uploads/sites/316/2018/05/Cardu20170726_14502011-Copy.jpg" clip-path="url(#car7)" x="1400" y="700" width="500"/>
                            
                        </g>
                        <!-- 車廂8 -->
                        <g class="cabin">
                            
                            <ellipse class="cls-6" cx="1408" cy="377.74" rx="195" ry="195"/>
                            <defs>
                                <clipPath id="car8">
                                    <path class="cls-7" d="M1564.79,372.59c0-1.14,0-2.29,0-3.44,0-81.23-70.4-147.08-157.24-147.08s-157.23,65.85-157.23,147.08c0,1.15,0,2.3.06,3.44h-.18v33.49h314.8V372.59Z"/>        
                                </clipPath>
                            </defs>
                            <image xlink:href="https://www.hotelscombined.com.tw/news/wp-content/uploads/sites/316/2018/05/Cardu20170726_14502011-Copy.jpg" clip-path="url(#car8)" x="1200" y="200" width="500"/>
                            
                        </g>
                        
                    </g>
                    <!-- 中心 -->
                    <circle class="cls-5" cx="905" cy="922.07" r="132"/>
                    <!-- 底座 -->
                    <rect class="cls-9" x="475" y="1819" width="860" height="87" rx="10"/>
                
                    <!-- 文字 -->
                    <text class="cls-11" transform="translate(1311.83 481.09)">雲霄飛車</text>
                    <text class="cls-10" transform="translate(1548.49 953)">雲霄飛車</text>
                    <text class="cls-11" transform="translate(1358.83 1491.95)">雲霄飛車</text>               
                    <!-- <ellipse class="cls-10" cx="1447" cy="1383.74" rx="190" ry="177.74"/> -->


                </svg>


                <a href="games.html" class="game-enter">
                    <img src="./images/elglfly.png" alt="">
                    <p class="mdBtn-game">點擊果果玩遊戲
                        <br>
                        換取優惠券
                    </p>
                        <!-- <img src="./images/talk.svg" alt=""> -->
                </a>
                <div class="ballon">
                    <img src="./images/hotballon.svg" alt="">
                </div>
                <div class="cloud">
                    <img src="./images/index__cloud3.png" alt="">
                    <img src="./images/index__cloud3.png" alt="">
                </div>
            
            </div>
        </section>

        <!-- ===============所有設施=============== -->
        @@include('layout/h2Style.html',{
            "h2Title" : "所有設施"
        })
        <section class="ThrillRide">
            <div class="wrap"  id="all-thrill-ride" >
                <!-- 設施區域的btn -->
                <div class="all-btn">
                    <div   class="bgBtn-area" :class="{'is-active' : currentArea == item}"  @click="currentArea = item" v-for="item in names">
                        {{item}}
                    </div>

                </div>
                
                <!-- check -->
                <div class="filter">
                    <div class="option">
                        <input type="checkbox" v-model="rain" id="rain">
                        <label for="rain">雨天可乘</label>
                    </div>
                    <div class="option">
                        <input type="checkbox" v-model="pregnant" id="pregnant">
                        <label for="pregnant">孕婦可乘</label>
                    </div>
                    <div class="option">
                        <input type="checkbox" v-model="wheelchair" id="wheelchair">
                        <label for="wheelchair">輪椅可乘</label>
                    </div>
                </div>

                <!-- 名稱 -->
                <ul class="facility-list card-bdr">
                    <li v-for="(item,idx) of filterCheck" :key="item.id">{{item.fac_name}}</li>
                </ul>
                

                <!-- 所有設施組件 -->
                <div class="all-card">
                    <card-component v-for="item in filterCheck" :item="item">
                </div>


            </div>
        </section>

        <!-- ===============饗食餐飲=============== -->
        @@include('layout/h2Style.html',{
            "h2Title" : "饗食餐飲"
        })
        <section class="">
            
            @@include('layout/showFood.html',{
                "foodTitleh2" : "三大主題餐廳",
                "foodContp" : "肚子餓了嗎？別擔心，依果樂園提供了最美味的佳餚讓你補充體力。從可口嫩爽的紐約客牛排再到鮮嫩多汁的印安風味烤雞，絕對讓你讚不絕口，好吃又好玩！",
                "foodimg1" : "./images/burger1.jpg",
                "foodimg2" : "./images/stk3.jpg",
                "foodimg3" : "./images/chick6.jpg",
                "foodimg4" : "./images/burger4.jpg",
                "foodimg5" : "./images/stk5.jpg",
                "foodimg6" : "./images/chick3.jpg",
                "foodimg7" : "./images/burger7.jpg",
                "foodimg8" : "./images/chick1.jpg",
            })
        </section>
    
        <!--  ===============map ===============  -->
        @@include('layout/map.html')

    </div>
    <!-- footer  -->
    @@include('layout/footer.html')
</body>
</html>

<!-- 電腦版導覽列滾輪事件 -->
<script src="./js/homepage-nav-scroll.js"></script>

<!-- vue -->
<script src="./js/homepage-allFacility.js"></script>

<!-- gsap -->
<script src="./js/homepage-gsap.js"></script>

<!-- food -->
<script src="./js/food.js"></script>
