<!DOCTYPE html>
<html lang="en">
<head>
    @@include('layout/meta.html', {
        "title" : "會員中心"
    })
</head>
<!-- 改body class名稱 -->
<body class="member member-info">
    <!-- 共用header -->
    @@include('layout/header-final.html')
    <!-- 共用header end -->
    <!-- 大標使用這個-->
    @@include('layout/h2Style.html',{
        "h2Title" : "會員中心"
    })
    <script src="./js/member_info_php.js"></script>
    <div id="member">

        <!-- ==================共用上半部start ================== -->
      
        
       

        <section>
            <div class="wrap  member-wrap">
                <div class="personal-information card-bdr">
                    <div class="area-name">
                        <p>王小明</p>
                        <button class="mdBtn-logout" id="logoutBtn">登出</button>
                    </div>
            
                    <div class="area-money">
                        <form action="">
                            <div class="sum-money">
                                <label for="">累積消費金額</label>
                                <label for=""  class="color4" >NT$</label>
                                <input type="number" value="0" disabled  class="color4">
                            </div>
                            <div class="coupon">
                                <label for="">專屬優惠券</label>
                                <input type="number" value="0" disabled  class="color4">
                                <label for="">張</label>
                            </div>
            
                        </form>
                    </div>
                </div>

            </div>
        </section>

        <div class="all-btn">
            <div class="bgBtn-member" @click="changeA" ref="A">
                會員資料
            </div>
            <div class="bgBtn-member" @click="changeB" ref="B">
                訂單查詢
                
            </div>
            <div class="bgBtn-member" @click="changeC" ref="C">
                我的優惠
            </div>
        </div>

        <div class="hr wrap member-wrap"></div>
         <!-- ================== 共用上半部end ================== -->


        <!-- 會員資料 -->
        <section v-if="type == 'A'">    
            <div class="wrap member-wrap">
                <h3>編輯會員資料</h3>
                <div class="member-frame member-detail big-card-bdr">
                    <div class="col">
                        <div>
                            <label for="" >名字</label>
                            <input type="text" id="mem_name" placeholder="小明" >
                        </div>
                        
                        <div>
                            <label for="">姓氏</label>
                            <input type="text" id="mem_lastname" placeholder="王">
                        </div>
                    </div>
        
                    <div class="col">
                        <div>
                            <label for="">國家/地址</label>
                            <select name="" id="mem_country">
                                <option value="">台灣</option>
                                <option value="">中國</option>
                                <option value="">美國</option>
                                <option value="">加拿大</option>
                            </select>
                        </div>
                        <div>
                            <label for="">連絡電話</label>
                            <input type="text" id="mem_tel" placeholder="請輸入手機號碼">
                        </div>
                    </div>
        
                    <div class="col f-col">
                        <label for="">電子郵件信箱</label>
                        <input type="mail" id="mem_mail" placeholder="eagle@gmail.com">
                    </div>
        
                    <div class="col f-col">
                        <label for="">聯絡地址</label>
                        <input type="text" id="mem_adress">
                    </div>
                    
                    <div class="col f-col password-change">
                        <label for="">修改密碼</label>
                        <input type="password" id="mem_psw" placeholder="請輸入舊密碼">
                        <input type="password" placeholder="請輸入新密碼">
                        <input type="password" placeholder="新密碼確認">
                    </div>
        
                    <div class="col">
                        <button class="bgBtn-confirm" id="confirmBtn">確認修改</button>
                    </div>
        
        
        
                </div>
            </div>
        </section>

        <!-- 會員訂單 -->

        <section v-else-if="type=='B'" id="member-order">
            <div class="wrap member-wrap">
                <h3>近期訂單</h3>

                <!-- 訂單一 -->
                    <member-order v-for="item in orderDetail" :item="item" :key="item.id">
                    </member-order>

                <!-- 訂單二 -->

            </div>
        </section>

        <!-- 優惠券 -->

        <section v-else-if="type=='C'">
            <div class="wrap member-wrap">
                <h3>我的優惠券</h3>
                <div class="member-frame member-coupon big-card-bdr">
                    <div class="use-state">
                        <p>已使用</p>
                        <p>未使用</p>
                    </div>

                    <p>目前沒有可使用優惠券</p>

                </div>
            </div>

        </section>

    </div>
   

   
    <!-- ================== vue點擊 ================== -->

    <script>

        const orderDetail=[{
            id:"#1111",
            date:'2022-05-28',
            sum:'111',  //如何計算
            payState:'已收到款項',
            orderState:'已完成',
            productList:[
            {
                id:1,
                name:'伊果帽子',
                price:'700',
                count:'3',
            },
            {
                id:2,
                name:'伊果雨衣',
                price:'100',
                count:'5',
            },
            {
                id:3,
                name:'伊果短T',
                price:'700',
                count:'1',
            },
            ]
        },
        {
            id:"#1112",
            date:'2022-05-29',
            sum:'1332',
            payState:'已收到款項',
            orderState:'已完成',
            productList:[
            {
                id:1,
                name:'伊果褲子',
                price:'200',
                count:'2',
            },
            ]
        }
        ]
        // 會員訂單組件
        Vue.component('member-order',{
            data(){
                return{}
            },
            props:{
                item:Object
            },
            computed: {
                list() {
                return this.item.productList ?? []; //如果item裡面沒有list,就空陣列
                }
            },
            template:`
            <div class="member-frame member-order big-card-bdr">
                <div class="order-table">
                    <!-- 標題 -->
                    <div class="th">
                        <div class="th-col order-num">
                            <div>
                                <span>訂單編號</span>
                                <span>{{item.id}}</span>
                            </div>
                            <div>
                                <span>訂單日期</span>
                                <span>{{item.date}}</span>
                            </div>
                        </div>
                        <div class="th-col">
                            <span>總金額</span>
                        </div>
                        <div class="th-col">
                            <span>付款狀態</span>
                        </div>
                        <div class="th-col">
                            <span>訂單狀態</span>
                        </div>

                    </div>

                    <!-- 商品欄位 -->
                    <div class="all-tr">
                        <div class="product-list">
                            <product-list  v-for="subitem in list" :item="subitem" :key="subitem.id"> </product-list>  
                        </div>

                        <div class="pc-sum pc-list">
                            <p> $ {{item.sum}}</p>

                        </div>
                        
                        <div class="pc-pay-state pc-list">
                            <p>{{item.payState}}</p>

                        </div>

                        <div class="pc-order-state pc-list">
                            <p>{{item.orderState}}</p>

                        </div>
    
                
                    </div>

                    <!-- 總金額 -->

                    <div class="tr sum">總金額   $1255</div>
                    <!-- 狀態 -->
                    <div class="tr state">

                        <div  class="tr-col">
                            <p>付款狀態</p>
                            <p>已收到款項</p>
                        </div>
    
                        <div  class="tr-col">
                            <p>配送狀態</p>
                            <p>已出貨</p>
                        </div>
    
                        <div  class="tr-col">
                            <p>訂單狀態</p>
                            <p></p>
                        </div>

                    </div>

                </div>
                
            </div>
            `
        }),
    
        // 商品明細組件
        Vue.component('product-list',{
            data(){
                return{}
            },
            props:{
                item:Object
            },
            method:{
                //所有總數如何相加
            },
            template:`
                <div class="tr product">
                    <p class="td">{{item.name}}</p>
                    <span class="td">
                        <p>{{item.price}}</p>
                        <p>數量: {{item.count}}</p>
                    </span>
                </div>
            `,
        }),

        
        new Vue({
            el: '#member',
            data: {     // 變數放這裡!
                type:'A',
                isActive: true,
            },
            methods: {  // 函數大部分放這裡!

                changeA(){
                this.type = 'A';
                this.$refs.A.style.background="#FDB52D";
                this.$refs.B.style.background="#A7D4D3";
                this.$refs.C.style.background="#A7D4D3";
                },
                changeB(){
                this.type = 'B'
                this.$refs.B.style.background="#FDB52D";
                this.$refs.A.style.background="#A7D4D3";
                this.$refs.C.style.background="#A7D4D3";
                },
                changeC(){
                this.type = 'C'
                this.$refs.C.style.background="#FDB52D";
                this.$refs.B.style.background="#A7D4D3";
                this.$refs.A.style.background="#A7D4D3";
                }
               
            },
            computed: { // 函數也可以放這裡，但是放在這裡的函數不能傳參數，一定要有傳回值(return)
 
         
            },
        });
        
    </script>
    
    <!-- 登出按鍵 -->
    <script src="./js/ajax_login.js"></script>
</body>
</html>