<!DOCTYPE html>
<html lang="en">
<head>
    @@include('layout/meta.html', {
        "title" : "會員中心"
    })
</head>
<!-- 改body class名稱 -->
<body class="member member-info">
    <!-- 共用header -->
    @@include('layout/header-final.html')
    <!-- 共用header end -->
    <!-- 大標使用這個-->
    @@include('layout/h2Style.html',{
        "h2Title" : "會員中心"
    })
    
    <div id="memberCentre">

        <!-- ==================共用上半部start ================== -->
        <section>
            <div class="wrap  member-wrap">
                <div class="personal-information card-bdr">
                    <div class="area-name">
                        <p>{{objResult.mem_lastname}}{{objResult.mem_name}}</p>
                        <button class="mdBtn-logout" id="logoutBtn">登出</button>
                    </div>
            
                    <div class="area-money">
                        <form action="">
                            <div class="sum-money">
                                <label for="">累積消費金額</label>
                                <label for=""  class="color4" >NT$</label>
                                <input type="number" value="0" disabled  class="color4">
                            </div>
                            <div class="coupon">
                                <label for="">專屬優惠券</label>
                                <input type="number" value="0" disabled  class="color4">
                                <label for="">張</label>
                            </div>
            
                        </form>
                    </div>
                </div>

            </div>
        </section>

        <div class="all-btn">
            <div class="bgBtn-member" @click="changeA" ref="A">
                會員資料
            </div>
            <div class="bgBtn-member" @click="changeB" ref="B">
                訂單查詢
                
            </div>
            <div class="bgBtn-member" @click="changeC" ref="C">
                我的優惠
            </div>
        </div>

        <div class="hr wrap member-wrap"></div>
         <!-- ================== 共用上半部end ================== -->


        <!-- 會員資料 -->
        <section v-if="type == 'A'">    
            <div class="wrap member-wrap">
                <h3>編輯會員資料</h3>
                <div class="member-frame member-detail big-card-bdr">
                    <div class="col">
                        <div>
                            <label for="" >名字</label>
                            <input type="text" id="mem_name" v-model="objResult.mem_name">
                        </div>
                        
                        <div>
                            <label for="">姓氏</label>
                            <input type="text" id="mem_lastname" v-model="objResult.mem_lastname">
                        </div>
                    </div>
        
                    <div class="col">
                        <div>
                            <label for="">國家/地址</label>
                            <select name="" id="mem_country" v-model="objResult.mem_country">
                                <!-- <option value="" disabled  selected=selected >請選擇</option> -->
                                <option value="台灣">台灣</option>
                                <option value="中國">中國</option>
                                <option value="美國">美國</option>
                                <option value="加拿大">加拿大</option>
                            </select>
                        </div>
                        <div>
                            <label for="">連絡電話</label>
                            <input type="text" id="mem_tel" v-model="objResult.mem_tel">
                        </div>
                    </div>
        
                    <div class="col f-col">
                        <label for="">電子郵件信箱</label>
                        <input type="mail" id="mem_mail" v-model="objResult.mem_mail">
                    </div>
        
                    <div class="col f-col">
                        <label for="">聯絡地址</label>
                        <input type="text" id="mem_adress" v-model="objResult.mem_address">
                    </div>
                    
                    <div class="col f-col password-change">
                        <label for="">修改密碼</label>
                        <input type="password" id="mem_psw" placeholder="請輸入舊密碼">
                        <input type="password" placeholder="請輸入新密碼">
                        <input type="password" placeholder="新密碼確認">
                    </div>
        
                    <div class="col">
                        <button class="bgBtn-confirm" id="confirmBtn" @click="sendData">確認修改</button>
                    </div>
        
        
        
                </div>
            </div>
        </section>

        <!-- 會員訂單 -->

        <section v-else-if="type=='B'" id="member-order">
            <div class="wrap member-wrap">
                <h3>近期訂單</h3>

                <!-- 訂單一 -->
                    <member-order v-for="item in orderDetail" :item="item" :key="item.id">
                    </member-order>

                <!-- 訂單二 -->

            </div>
        </section>

        <!-- 優惠券 -->

        <section v-else-if="type=='C'">
            <div class="wrap member-wrap">
                <h3>我的優惠券</h3>
                <div class="member-frame member-coupon big-card-bdr">
                    <div class="use-state">
                        <p>已使用</p>
                        <p>未使用</p>
                    </div>

                    <p>目前沒有可使用優惠券</p>

                </div>
            </div>

        </section>

    </div>
   

   
    <!-- ================== vue點擊 ================== -->

    <!-- 登出按鍵 -->
    <!-- <script src="./js/ajax_login.js"></script> -->

    <script>
        // (會員中心的登出按鍵所觸發的函式)
        function logout(){
        alert("您已登出");
        
        let xhr = new XMLHttpRequest();

        window.location.href = "homepage.html#buy-big-ticket";
        xhr.open("get", "./php/logout_ajax.php", true);
        xhr.send(null);
        }

        function init(){
             //===設定會員中心的的登出按鍵.onclick 事件處理程序是 sendForm
            document.getElementById("logoutBtn").onclick = logout;

        }; 

        window.addEventListener("load", init);
    </script>
    <!-- 拉登入資料進來 -->
    <script src="./js/ajax_get-member.js"></script>
    


</body>
</html>