<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/meta.html', {
    "title" : "最新消息"
    })
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>

    <style>

    </style>
</head>

<body class="news">
    <!-- 共用header -->
    @@include('layout/header-final.html')
    <!-- 共用header end -->
    <!-- 最新消息h2 -->
    @@include('layout/h2Style.html',{
        "h2Title" : "最新消息"
    })
    <img id="airplane" src="./images/airplane.svg" alt="">

    <!-- 伊果快報 -->
    <section id="all_news" class="newspapers">
        @@include('layout/title.html',{
        "h3TitleTC" : "伊果快報",
        "h3TitleEN": "Eagle News"
        })
        <div class="wrap">
            <div class="all-card" name="cards">
                <card-component v-for="(item,index) in cards" :item="item" :key="item.id"
                    @click.native="setFocusId(item.news_no)" />
            </div>
            <div id="newsinner " class="news_inner full-screen">
                <div id="lightbox" class="inner_total  lightbox-bdr">
                    <i @click="close" id="close" class="fa-solid fa-xmark"></i>
                    <div>
                        <news-component :item="showPopupItem" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 遊行活動 -->
    <section id="parade" class="parade">
        @@include('layout/title.html',{
        "h3TitleTC" : "遊行活動",
        "h3TitleEN": "Parades"
        })

        <div class="full">
            <div class="before_after aaa">
                <button class="center_area">
                    <div class="center">
                        <i class="fa-solid fa-caret-left"></i>
                        <i class="fa-solid fa-caret-right"></i>
                    </div>
                </button>
                <div class="before">
                    <img src="./images/news_night.png" alt="">
                </div>
                <main class="after box">
                    <img src="./images/news_morning.png" alt="">


                </main>

            </div>
        </div>

    </section>

    <!-- 設施保養 -->
    <section id="facility" class="facility">
        @@include('layout/title.html',{
        "h3TitleTC" : "設施保養",
        "h3TitleEN": "Maintenance"
        })
        <div class="full">
            <table>
                <tr>
                    <th><i class="fa-solid fa-circle-half-stroke"></i> Mon</th>
                    <th><i class="fa-solid fa-circle-half-stroke"></i> Tue</th>
                    <th><i class="fa-solid fa-circle-half-stroke"></i> Wed</th>
                    <th><i class="fa-solid fa-circle-half-stroke"></i> Thu</th>
                    <th><i class="fa-solid fa-circle-half-stroke"></i> Fri</th>
                </tr>
                <tr>
                    <td>
                        <li v-for="one in filterFacDate1">{{one.fac_name}}</li>
                        <!-- <li>天旋地轉</li>
                        <li>旋轉木馬</li>
                        <li>伊果飛車</li> -->
                    </td>
                    <td>
                        <li v-for="two in filterFacDate2">{{two.fac_name}}</li>            
                        <!-- <li>極速飛鷹</li>
                        <li>伊果飛車</li> -->
                    </td>
                    <td>
                        <li v-for="three in filterFacDate3">{{three.fac_name}}</li>     
                        <!-- <li>大海盜</li>
                        <li>空中UFO</li>
                        <li>極速飛鷹</li> -->
                    </td>
                    <td>
                        <li v-for="four in filterFacDate4">{{four.fac_name}}</li>     
                        <!-- <li>自由落體</li>
                        <li>伊飛沖天</li> -->
                    </td>
                    <td>
                        <li v-for="five in filterFacDate5">{{five.fac_name}}</li>     
                        <!-- <li>仙女散花</li> -->
                    </td>
                </tr>
            </table>
            <p><i class="fa-solid fa-check"></i>備註說明:每逢例假日園區內設施皆無保養安排</p>
        </div>
    </section>
    <!--  ===============map ===============  -->
    @@include('layout/map.html')
    <!-- footer  -->
    @@include('layout/footer.html')
    <script src="js/news.js"></script>
    <script src="js/MNevents.js"></script>
    <script src="js/littlefly.js"></script>
</body>

</html>