<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/meta.html', {
    "title" : "購物車"
    })
</head>
<!-- 改body class名稱 -->

<body class="shoppingcart">
    <!-- 共用header -->
    @@include('layout/header-final.html')
    <!-- 共用header end -->
    <!-- 大標使用這個-->
    <!-- @@include('layout/h2Style.html',{
        "h2Title" : "購物車"
    }) -->
    <!-- 小標使用這個 -->
    @@include('layout/title.html',{
    "h3TitleTC" : "購物車",
    "h3TitleEN": "Theme Area"
    })
    <div id="shoppingcart">
        <section class="shopcar">
            <div class="wrap">
                <div class="table">
                    <!-- 表格名稱 -->
                    <div class="tr table-title">
                        <div class="th">圖片</div>
                        <div class="th">名稱</div>
                        <div class="th">售價</div>
                        <div class="th">數量</div>
                        <div class="th">刪除</div>
                    </div>
                    <div>
                        <shoppingcart-component v-for="item in items" :item="item"/>
                    </div>
                </div>
            </div>
        </section>
        <section class="total">
            <div class="wrap discount-wrap">
                <!-- 下方結帳框 -->
                <div class="discount">
                    <button @click="coupons" class="coupon">
                    點選優惠券</button>
                    <div class="price">
                        <div class="discount-row">
                            <label for="">折扣前:</label>
                            <input type="text" value="1000" disabled>
                        </div>
                        <div  class="discount-row">
                            <label for="">總金額:</label>
                            <input type="text" value="" v-model="sum" disabled>
                        </div>
                        <button class="bgBtn-bill bill">前往結帳</button>
                    </div>
                    <!-- 燈箱 -->
                    <div class="mycoupons full-screen">
                        <div class="lightbox-bdr">
                            <p>選擇優惠券</p>
                            <i @click="close" id="close" class="fa-solid fa-xmark"></i>
                            <div>
                                <button class="coupon">折扣150元</button>
                                <label for="">使用期限:</label>
                                <span>無期限</span>
                            </div>
                            <div>
                                <button class="coupon">折扣150元</button>
                                <label for="">使用期限:</label>
                                <span>無期限</span>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        
        </section>
    </div>

    <!--  ===============map ===============  -->
    @@include('layout/footer.html')
    <script>
        const items=[{
            image:"./images/shop_cap.png",
            name:"伊果一杯",
            price:300,
        },{
            image:"./images/shop_cap.png",
            name:"伊果二杯",
            price:400,
        },{
            image:"./images/shop_cap.png",
            name:"伊果三杯",
            price:500,
        }]
        Vue.component('shoppingcart-component',{
          
            template:`
            <div class="cart-row">
                        <div class="pic">
                            <img :src="item.image">"
                        </div>
                        <div class="info">
                            <div class="td">{{item.name}}</div>
                            <div class="td">{{item.price}}</div>
                            <div class="td">
                                <div class="count">
                                    <div class="minus">
                                        <i class="fa-solid fa-minus"></i>
                                    </div>
                                    <input type="text" class="num" min="0" value="0" disabled>
                                    <div class="plus">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="td">
                            <button class="mdBtn-delete">刪除</button>
                        </div>
                    </div>
                `,
                props:{
                    item:Object,
                }
            })

        new Vue({
            el:'#shoppingcart',
            data() {
                return {
                    items,
                }
            },
            methods: {   
                coupons:function(todo){
                    document.querySelector('.mycoupons').style.display="flex";
                },            
                close:function(todo){
                    document.querySelector('.mycoupons').style.display="none";
                }    
            },
            computed: { 
                calculate(){
                    let sum = this.item.price;
                    return sum;
                }
            }
        })
    </script>
    <script src="js/buyTicketadd.js"></script>
</body>

</html>

