<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/meta.html', {
    "title" : "購物車"
    })
</head>
<!-- 改body class名稱 -->

<body class="shoppingcart">
    <!-- 共用header -->
    @@include('layout/header-final.html')
    <!-- 共用header end -->
    <!-- 大標使用這個-->
    <!-- @@include('layout/h2Style.html',{
        "h2Title" : "購物車"
    }) -->
    <!-- 小標使用這個 -->
    @@include('layout/title.html',{
    "h3TitleTC" : "購物車",
    "h3TitleEN": "Theme Area"
    })
    <div id="shoppingcart">
        <section class="shopcar">
            <div class="wrap">
                <div class="table">
                    <!-- 表格名稱 -->
                    <div class="tr table-title">
                        <div class="th">圖片</div>
                        <div class="th">名稱</div>
                        <div class="th">售價</div>
                        <div class="th">數量</div>
                        <div class="th">刪除</div>
                    </div>
                    <div v-for="(item,index) in carts" :item="item" :key='item.id'>
                        <div class="cart-row">
                            <div class="pic">
                                <img :src="item.image">
                            </div>
                            <div class="info">
                                <div class="td">{{item.name}}</div>
                                <div class="td">{{"$"+item.price}}</div>
                                <div class="td">
                                    <div class="count">
                                        <div @click="amountreduce(index,-1)" class="minus">
                                            <i class="fa-solid fa-minus"></i>
                                        </div>
                                        <input type="text" class="num" min="0" v-model="item.amount" disabled>
                                        <div class="plus" @click="item.amount++">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="td">
                                <button @click="deleteitem(index)" class="mdBtn-delete">刪除</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="total">
            <div class="wrap discount-wrap">
                <div class="discount">
                    <button @click="isOpen=true" class="coupon">
                        點選優惠券</button>
                    <div class="price">
                        <div class="discount-row">
                            <label for="">折扣前:   $</label>
                            <input type="text" class="acount" v-model="calculate" disabled>
                        </div>
                        <div class="discount-row">
                            <label for="">總金額:   $</label>
                            <input type="text" class="acount" v-model="calculate" disabled>

                        </div>
                        <button class="bgBtn-bill bill">前往結帳</button>
                    </div>
                    <div class="mycoupons full-screen" v-show="isOpen">
                        <div class="lightbox-bdr">
                            <p>選擇優惠券</p>
                            <i @click="isOpen=false" id="close" class="fa-solid fa-xmark"></i>
                            <div>
                                <button class="coupon">折扣150元</button>
                                <label for="">使用期限:</label>
                                <span>無期限</span>
                            </div>
                            <div>
                                <button class="coupon">折扣150元</button>
                                <label for="">使用期限:</label>
                                <span>無期限</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </div>

    <!--  ===============map ===============  -->
    @@include('layout/footer.html')
    <script>
        if (localStorage.getItem('carts') === null) {
            const carts = [];
            localStorage.setItem('carts', JSON.stringify(carts));
            //當localStorage已存在資料陣列，指定一個內容與陣列資料庫相同的陣列
        } else {
            var carts = JSON.parse(localStorage.getItem('carts'));//這裡只能用var carts??
        };
        new Vue({
            el: '#shoppingcart',
            data: {
                isOpen: false,
                carts,
            },
            watch: {
            },
            methods: {
                getdata(){},
                amountreduce(index, amount) {
                    let item = this.carts[index].amount + amount;
                    if (item >0) {
                        this.carts[index].amount = item;
                    }else{
                        carts.splice(index, 1);
                        localStorage.setItem('carts',JSON.stringify(carts));
                    }
                },
                deleteitem(index) {
                    carts.splice(index, 1);
                    localStorage.setItem('carts',JSON.stringify(carts));
                }
            },
            computed: {
                // 目前購買的金額
                calculate() {
                    let sum = 0;
                    let stotal = 0
                    this.carts.forEach((item, i) => {
                        stotal = item.amount * item.price
                        sum += stotal
                    });
                    return sum;
                }
            },
        })
    </script>
</body>

</html>