<html lang="en">

<head>
    @@include('layout/meta.html', {
    "title" : "伊果商城"
    })
</head>

<body class="shop">
    <!-- 共用header -->
    @@include('layout/header-final.html')
    <!-- 共用header end -->
    @@include('layout/h2Style.html',{
    "h2Title" : "伊果商城"
    })
    <section id="make-post">
        <!-- 大標使用這個-->

        @@include('layout/title.html',{
        "h3TitleTC" : "客製商品",
        "h3TitleEN": "Product"
        })
        <!-- 明信片圖片 -->
        <div class="wrap postbg">
            <div class="slideshow-container">
                <div class="mySliderContainer">
                    <div class="mySlides">
                        <img src="./images/postcard1.jpg">
                    </div>
                    <div class="mySlides fade">
                        <img src="./images/postcard2.jpg">
                    </div>
                    <div class="mySlides fade">
                        <img src="./images/postcard3.jpg">
                    </div>
                    <div class="mySlides fade">
                        <img src="./images/postcard4.jpg">
                    </div>
                    <div class="sliderButton">
                        <div class="prev" onclick="plusSlides(-1)"><i class="fa-solid fa-angle-left"></i></div>
                        <div class="next" onclick="plusSlides(1)"><i class="fa-solid fa-angle-right"></i></div>
                    </div>
                </div>
                <!-- 明信片內容 -->
                <div class="postcard">
                    <img src="./images/postcardback.jpg" alt="">
                    <div class="stamp">
                        <img id="stamp" src="./images/sticker1.png" alt="">
                    </div>
                </div>
            </div>
            <!-- 明信片貼紙 -->
            <div class="postcardWrap">
                <div class="stickerslider">
                    <ul class="sticker">
                        <li><img src="./images/sticker1.png" alt=""></li>
                        <li><img src="./images/sticker2.png" alt=""></li>
                        <li><img src="./images/sticker3.png" alt=""></li>
                        <li><img src="./images/sticker4.png" alt=""></li>
                        <li><img src="./images/sticker5.png" alt=""></li>
                        <li><img src="./images/sticker6.png" alt=""></li>
                        <li><img src="./images/sticker7.png" alt=""></li>
                        <li><img src="./images/sticker8.png" alt=""></li>
                        <li><img src="./images/sticker9.png" alt=""></li>
                        <li><img src="./images/sticker10.png" alt=""></li>
                    </ul>
                </div>
                <button id="sliderLeft">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
                <button id="sliderRight">
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
            <!-- 寄送按鈕 -->
            <div class="upload">
                <button class="bgBtn-shop  shopbtn" id="shopBtn">寄送</button>
            </div>
        </div>
    </section>
    <!-- ---------------------- -->
    <!-- 小標使用這個 -->
    <section id="product-list">
        @@include('layout/title.html',{
        "h3TitleTC" : "商品列表",
        "h3TitleEN": "Product"
        })
        <!-- My name is <input v-model="name"> -->
        <div class="product wrap">
            <div>
                <product-componet v-for="(item,index) in items" :item="item" :key='item.id' @open-lightbox="isOpen=true"
                    @click.native="setFocusId(item.id)" />
            </div>
        </div>
        <div id="lightBox" class="lightbox-bdr light-box" v-show="isOpen">
            <div class="lightBoxContent">
                <productdetail-componet @tocart="addcartlocal" @count="countadd" :item="showthispro">
                </productdetail-componet>
                <i @click="isOpen = false" class="fa-solid fa-xmark" id="turnOff"></i>
            </div>
            <span id="boxBcg"></span>
        </div>
    </section>
    <!--  ===============map ===============  -->
    @@include('layout/map.html')
    <!-- footer  -->
    @@include('layout/footer.html')
    <!-- 燈箱 -->



    <!-- ----------------------------------------------------------- -->
    <script>
        const carts = [];
        const items = [{
            id: 1,
            image: "./images/shop_cup.png",
            name: "伊果馬克杯",
            price: 300,
            amount: 1,
        }, {
            id: 2,
            image: "./images/shop_keyring.png",
            name: "伊果鑰匙圈",
            price: 150,
            amount: 1,
        }, {
            id: 3,
            image: "./images/shop_bottle.png",
            name: "伊果保溫瓶",
            price: 600,
            amount: 1,
        }]
        Vue.component('product-componet', {

            methods: {
                show() {
                    this.$emit("open-lightbox");
                }
            },
            template: `
            <div @click="show" class="itemColumn">
                <div class="item">
                    <div class="itempic" id="lightBtn">
                        <img :src="item.image">
                    </div>
                    <div class="card">
                        <p>{{item.name}}</p>
                        <p>{{'$'+item.price}}</p>
                    </div>
                </div>
            </div> `,
            props: {
                item: Object,
                isOpen: false,
            }
        });
        Vue.component('productdetail-componet', {

            methods: {
                countadd(id, amount) {
                    this.$emit('count', id, amount)
                },
                addtocart(id) {
                    this.$emit('tocart', id)
                }
            },
            template: `
            <div class="column">
                <div>
                    <img :src="item.image" alt="">
                </div>
                <div class="column inforcolumn">
                    <div class="productName">
                        <p>商品名稱:</p>
                        <p>{{item.name}}</p>
                    </div>
                    <div class="productPrice">
                        <p>價格:</p>
                        <p>{{'$'+item.price}}</p>
                    </div>
                    <form>
                        <div class="count">
                            <div @click="countadd(item.id,-1)"class="minus">
                                <i class="fa-solid fa-minus"></i>
                            </div>
                            <input type="text" class="num" min="0" v-model="item.amount" disabled>
                            <div class="plus" @click="countadd(item.id,1)">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                        <input type="button" @click="addtocart(item.id)" value="加入購物車" class="mdBtn-addCart">
                    </form>
                </div>
            </div>    
            `,
            props: {
                item: Object,
                isOpen: false,
            }
        });
        new Vue({
            el: "#product-list",
            data() {
                return {
                    isOpen: false,
                    items,
                    focusKey: '',
                    name: '',
                    carts,
                }
            },
            computed: {
                showthispro() {
                    return this.items.find(v => v.id == this.focusKey) ?? this.items[0];
                },
            },
            watch:{
                shoppingcarts(carts){
                    localStorage.shoppingcarts = JSON.stringify(carts);
                }
            },
            methods: {
                countadd(id, amount) {
                    let item = this.items[id - 1].amount + amount;
                    if (item >= 1) {
                        this.items[id - 1].amount = item;
                    }
                    // console.log(item)
                },
                show() {
                    this.isOpen = true;
                },
                setFocusId(id) {
                    this.focusKey = id;
                    this.$nextTick(() => {})
                },
                addcartlocal(id) {
                    this.isOpen = false;
                    alert('已加入購物車')
                    let sid = this.items[id - 1].id;
                    let simage = this.items[id - 1].image;
                    let sname = this.items[id - 1].name;
                    let sprice = this.items[id - 1].price;
                    let samount = this.items[id - 1].amount;
                    // carts.push({'id':sid})
                    // console.log(carts)
                    carts.push({
                        id: sid,
                        image: simage,
                        name: sname,
                        price: sprice,
                        amount: samount,
                    })
                    console.log(carts)

                    localStorage.setItem('carts',JSON.stringify(carts));
                    // console.log(localStorage.getItem('carts'));
                    //prepare a item object;
                    // let item = 
                    // //push item to vue
                    // this.items.push(item);
                    //write to localStorage
                }
            },
        })
    </script>

    <script src="./js/shopSlideshow.js"></script>
    <script src="./js/shopStickerslider.js"></script>
    <script src="./js/postcardStamp.js"></script>
    <!-- <script src="./js/buyTicketadd.js"></script>
<script src="./js/shopProductLightBox.js"></script> -->
</body>

</html>