<body class="back_reset">
    <div class="back_nav">
        <div class="logo_img">
            <img src="./images/logo.svg" alt="logo">
        </div>
        <h6>後台管理系統</h6>
        <ul>
            <li><a href="back_emp.html">後台人員管理</a></li>
            <li><a href="back_member.html">會員管理</a></li>
            <li><a href="back_facility.html">設施管理</a></li>
            <li><a href="back_news.html">最新消息管理</a></li>
            <li><a href="back_ticket.html">票券管理</a></li>
            <li><a href="">票券訂單管理</a></li>
            <li><a href="">商品管理</a></li>
            <li><a href="">商品訂單管理</a></li>
            <li><a href="">討論區</a></li>
            <li><a href="">客服小幫手</a></li>
            <li><a href="">登出</a></li>
        </ul>
    </div>
</body>