    <!-- ===============大票券=============== -->
    <div class="buy-ticket">
        <div class="wrap">
            <h2>歡迎來到伊果主題樂園</h2>
            <p class="info">六福村主題遊樂園」設有國內外知名設施，如全球第二座&亞洲唯一之「笑傲飛鷹」、全國最大人工河道「大峽谷急流泛舟」及「大海盜」、雙重體驗旅程設計之「火山歷險」、國內知名「大怒神」與360度正反向旋轉之「風火輪」，國內唯一刺激設施「3G老油井」等等。除上述刺激設施外，「六福村主題遊樂園」仍舊是臺灣目前最具規模之開放式野生動物園，包括約七十種、近千頭動物，提供遊客近距離觀賞野生動物生態之美。</p>
            <div class="big-ticket">
                <div class="leftOrTop">

                </div>

                <div class="rightOrBottom">
                    <h4>樂園票券</h4>
                    <form action="">
                        <div class="col">
                            <label for="">
                                <p>成人</p>
                                <p>(12+)</p>
                            </label>
                            <div class="count">
                                <div class="plus">+</div>
                                <input type="text" class="num" min="1" value="1">
                                <div class="minus">-</div>
                            </div>
                        </div>
    
                        <div class="col">
                            <label for="">
                                <p>小孩</p>
                                <p>(4-11)</p>
                            </label>
                            <div class="count">
                                <div class="plus">+</div>
                                <input type="text" class="num" min="1" value="1">
                                <div class="minus">-</div>
                            </div>
                        </div>
    
                        <div class="col">
                            <label for="">
                                <p>年長者</p>
                                <p>(65+)</p>
                            </label>
                            <div class="count">
                                <div class="plus">+</div>
                                <input type="text" class="num" min="1" value="1">
                                <div class="minus">-</div>
                            </div>
                        </div>
    
                        <input type="submit" name="" id="" value="我要訂票" class="book">
                    </form>

                </div>
            
            </div>
        </div>
    </div>