    <!-- ===============大票券=============== -->
    <div class="big-ticket">
        <div class="leftOrTop">
        </div>
        <div class="rightOrBottom">
            <h4>樂園票券</h4>
            <form action="">
                <div class="col">
                    <label for="">
                        <p>成人票</p>
                        <p>(12+)</p>
                    </label>
                    <div class="count">
                        <div class="minus">
                            <i class="fa-solid fa-minus"></i>
                        </div>
                        <input type="text" class="num" min="0" value="0" disabled>
                        <div class="plus">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <label for="">
                        <p>兒童票</p>
                        <p>(4-11)</p>
                    </label>
                    <div class="count">
                        <div class="minus">
                            <i class="fa-solid fa-minus"></i>
                        </div>
                        <input type="text" class="num" min="0" value="0" disabled>
                        <div class="plus">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <label for="">
                        <p>愛心票</p>
                        <p>(65+)</p>
                    </label>
                    <div class="count">
                        <div class="minus">
                            <i class="fa-solid fa-minus"></i>
                        </div>
                        <input type="text" class="num" min="0" value="0" disabled>
                        <div class="plus">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                </div>
                <a href="ticket-purchase.html" class="bgBtn-book">我要訂票</a>
            </form>

        </div>
    
    </div>



<script src="../js/buyTicketadd.js"></script>



