<!-- 客服機器人 -->
<div class="robot" id="robot">
    <img src="../images/eagleRobot.png" alt="">
</div>

<!-- top -->
<a href="" class="top-bottom" id="top">
    <i class="fa-solid fa-angle-up"></i>
    <p>TOP</p>
</a>

<!-- footer -->
<footer>
    <!-- 地址&資訊 -->
    <div class="container wrap">
        <div class="inf">
            <div class="logo">
                <img src="/images/logo.svg" alt="">
            </div>
            <p>台灣 32041 桃園市中壢區復興路46號9樓</p>
            <div class="time">
                <p>伊果樂園基本營業時間</p>
                <p>【平日】09：30～17：00</p>
                <p>【假日】09：00～17：00</p>
            </div>
        </div>

        <nav>
            <ul>
                <a href="">主題園區</a>
                <li>
                    <a href="themePark_NewYork.html">紐約都會</a>
                </li>
                <li>
                    <a href="">西部農莊</a>
                </li>
                <li>
                    <a href="">印安部落</a>
                </li>
            </ul>
            <ul>
                <a href="news.html">最新消息</a>
                <li>
                    <a href="">活動專區</a>
                </li>
            </ul>
            <ul>
                <a href="ticket.html">購票指南</a>
                <li>
                    <a href="">票價資訊</a>
                </li>
                <li>
                    <a href="">交通資訊</a>
                </li>
            </ul>
            <ul>
                <a href="">伊果商城</a>
            </ul>
            <ul>
                <a href="food.html">饗食餐廳</a>
            </ul>
            <ul>
                <a href="">遊客體驗</a>
            </ul>
        </nav>

        <div class="icon">
            <a href="">
                <img src="/images/Facebook.svg" alt="">
            </a>
            <a href="">
                <img src="/images/Instagram.svg" alt="">
            </a>
            <a href="">
                <img src="/images/Twitter.svg" alt="">
            </a>
            <a href=""> 
                <img src="/images/YouTube Logo.svg" alt="">
            </a>

        </div>
    </div>

    </div>
        <div class="down">
    <!-- svg -->
        <svg id="footer-svg" data-name="footer-svg" viewBox="0 -90 1325 420">
              <defs id="a">
                  <style>
                      .ft-1{fill:#66441c;}
                      .ft-2{fill:#ccda9c;}
                      .ft-3,
                      .ft-7{fill:#4eacb7;}
                      .ft-11,.ft-13,.ft-16,.ft-17,.ft-19,.ft-21,.ft-3,.ft-9{fill-rule:evenodd;}
                      .ft-21,.ft-4{fill:#707070;}
                      .ft-5{fill:#a7d4d3;}
                      .ft-6{fill:#fffbef;}
                      .ft-11,.ft-8{fill:#fdc251;}
                      .ft-12,.ft-17,.ft-9{fill:#c4c4c4;}
                      .ft-10,.ft-13{fill:#fdb52d;}
                      .ft-14{fill:#6c883e;}
                      .ft-15{fill:#7caa48;}
                      .ft-16{fill:#8c8c8c;}
                      .ft-17,.ft-18{stroke:#c4c4c4;stroke-miterlimit:10;stroke-width:2px;}
                      .ft-18{fill:none;}
                      .ft-19,.ft-20{fill:#fff;}

                  </style>
                </defs>
                <!-- 樹 -->
                <g>
                    <path class="ft-1" d="M224.5,202.8h3.8l1.6,33.7h-7.5Z"/>
                    <path class="ft-2" d="M248,181.8c0,14.8-9.9,26.7-22,26.7s-22-11.9-22-26.7,9.9-26.8,22-26.8S248,167,248,181.8Z"/>
                    
                </g>
                <!-- 草地 -->
                <path class="ft-3" d="M1320.9,253.5,1027.1,147,14.2,253.5H0v83H1325v-83Z"/>
                <!-- 旋轉木馬 -->
                <g>
                    <!-- 旋轉木馬 -->
                    <path class="ft-4" d="M734,111h5V211h-5Z"/>
                    <path class="ft-4" d="M787,111h5V211h-5Z"/>
                    <path class="ft-4" d="M840,111h5V211h-5Z"/>
                    <!-- 旋轉木馬底 -->
                    <path class="ft-5" d="M704.2,103.9H875l-6.4,6.9H709.4Z"/>
                    <path class="ft-5" d="M701.6,215.2a2,2,0,0,1,2-2h172a2,2,0,0,1,2,2v12.2a2,2,0,0,1-2,2h-172a2,2,0,0,1-2-2Z"/>
                    <path class="ft-6" d="M697,212.3a2.7,2.7,0,0,1,2.7-2.7H879.6a2.7,2.7,0,0,1,2.6,2.7,2.6,2.6,0,0,1-2.6,2.6H699.7A2.6,2.6,0,0,1,697,212.3Z"/>
                    <!-- 旋轉木馬屋頂 -->
                    <path class="ft-7" d="M790.5,75.1l-41.4,28.7H705.7Z"/>
                    <path class="ft-8" d="M790.5,75l41.4,28.8h43.4Z"/>
                    <path class="ft-8" d="M790.5,75.1v28.8H748.9Z"/>
                    <path class="ft-7" d="M790.5,75.1v28.7h41.6Z"/>

                    <image xlink:href="../images/horse1.svg" x="710" y="120" width="55" id="horse1"/>
                    <image xlink:href="../images/horse2.svg" x="760" y="140" width="55" id="horse2"/>
                    <image xlink:href="../images/horse3.svg" x="810" y="110" width="55" id="horse3"/>
                </g>
                <!-- 氣球 -->
                <g class="ft-all-ballon">               
                    <!-- 氣球 -->
                    <g class="ft-ballon1">
                        <path class="ft-9" d="M1231.8,20.4a1.7,1.7,0,0,1,1.2.4.6.6,0,0,1,.1.7.5.5,0,0,1-.7.1,1,1,0,0,0-.7-.2,3.4,3.4,0,0,0-1.3.2,13.4,13.4,0,0,0-3.5,1.4,13,13,0,0,0-5.9,7.1.6.6,0,0,0-.1.4c-1.1,3.9-2.1,7.3-3.6,9.6a6.7,6.7,0,0,1-7.4,3.1.4.4,0,0,1-.4-.6c0-.2.3-.4.5-.4a6.1,6.1,0,0,0,3.9-.3,5.5,5.5,0,0,0,2.5-2.3c1.5-2.2,2.4-5.5,3.6-9.5v-.2a13.7,13.7,0,0,1,6.4-7.7,11.9,11.9,0,0,1,3.8-1.6A4.7,4.7,0,0,1,1231.8,20.4Z"/>
                        <path class="ft-8" d="M1242.8,22.2c-4.6,3.3-10.4,3.2-12.9-.4s-1-9.1,3.6-12.4,10.3-3.1,12.9.4S1247.3,18.9,1242.8,22.2Z"/>
                    </g>
                    <g class="ft-ballon2">
                        <path class="ft-9" d="M1177.2,77.6l.3.2a.4.4,0,0,1,.1.7.5.5,0,0,1-.7.1h-.1v.2c-.2,1.3-.8,3.8-3.4,8.1a42.3,42.3,0,0,1-9.5,11.2c-3.6,3-7.8,5-11.6,4.3a.6.6,0,0,1-.5-.6.8.8,0,0,1,.6-.4c3.5.6,7.3-1.1,10.9-4a43.3,43.3,0,0,0,9.3-11.1c2.4-4.2,3-6.5,3.2-7.7v-.3h0v-.5c.1-.1.1-.3.4-.4a.4.4,0,0,1,.5.1h.2l.2.2Z"/>
                        <path class="ft-10" d="M1188.3,79.4c-5,3.6-11.3,3.4-14.1-.5s-1.1-10,3.9-13.6,11.3-3.4,14.1.5S1193.3,75.7,1188.3,79.4Z"/>
                    </g>

                    <g class="ft-ballon3">  
                        <path class="ft-9" d="M1228.8,55.9a3.2,3.2,0,0,1,2.6-.5.5.5,0,0,1,.3.7.6.6,0,0,1-.7.2c-.3-.1-.8,0-1.7.5a8.4,8.4,0,0,0-2.4,2.3,14.8,14.8,0,0,0-3.2,8.7c-.1,4.5-.6,8.5-2.1,11.4a8.8,8.8,0,0,1-7.7,5.2c-.2.1-.5-.1-.5-.4a.7.7,0,0,1,.4-.6,8,8,0,0,0,6.9-4.6c1.4-2.7,1.9-6.5,2-11a15.6,15.6,0,0,1,3.4-9.3A10.8,10.8,0,0,1,1228.8,55.9Z"/>
                        <path class="ft-8" d="M1241.8,54.2c-3.7,4.6-9.7,6-13.3,3.1s-3.4-9.1.3-13.7,9.8-5.9,13.3-3S1245.6,49.6,1241.8,54.2Z"/>
                        
                    </g>
                </g>
                <!-- 雲霄飛車 -->
                <g>  
                    <!-- 雲霄飛車下面 -->
                    
                    <path class="ft-11" d="M177,137V255h-2V137Z"/>
                    <path class="ft-11" d="M187.9,99.7V254.8h-2V99.7Z"/>
                    <path class="ft-11" d="M230.2,101.3V253.5h-2V101.3Z"/>
                    <path class="ft-11" d="M272.8,132.1V253.5h-2V132.1Z"/>
                    <path class="ft-11" d="M315.6,141.8V252.2h-2V141.8Z"/>
                    <path class="ft-11" d="M357.8,130.5v123h-2v-123Z"/>
                    <path class="ft-11" d="M208.6,93.7V253.5h-2V93.7Z"/>
                    <path class="ft-11" d="M251.5,115.1V251.4h-2V115.1Z"/>
                    <path class="ft-11" d="M294.1,153.4v99h-2v-99Z"/>
                    <path class="ft-11" d="M336.4,137.1V251.5h-2V137.1Z"/>
                    <path class="ft-11" d="M379.2,132.1V252.4h-2V132.1Z"/>
                    <path class="ft-11" d="M198.6,95.7V254.8h-2V95.7Z"/>
                    <path class="ft-11" d="M240.8,107.7V253.5h-2V107.7Z"/>
                    <path class="ft-11" d="M283.4,141.7V253.5h-2V141.7Z"/>
                    <path class="ft-11" d="M325.7,140.5V252.2h-2V140.5Z"/>
                    <path class="ft-11" d="M368.6,132.1V253.5h-2V132.1Z"/>
                    <path class="ft-11" d="M219.6,98.1V253.5h-2.1V98.1Z"/>
                    <path class="ft-11" d="M262.1,123.6V252.4h-2V123.6Z"/>
                    <path class="ft-11" d="M304.9,145.8V252.2h-2V145.8Z"/>
                    <path class="ft-11" d="M347.1,134.5v117h-2v-117Z"/>
                    <path class="ft-11" d="M389.9,134.3V252.4h-2.1V134.3Z"/>
                    <path class="ft-11" d="M400.5,141.7V252.4h-2V141.7Z"/>
                    <path class="ft-12" d="M162.1,251.4H413.3V262H162.1Z"/>
                    <path class="ft-11" d="M400.5,196H177v-2H400.5Z"/>
                    <path class="ft-11" d="M400,210H175v-2H400Z"/>
                    <path class="ft-11" d="M267.5,129.8H173.9v-2h93.6Z"/>
                    <!-- 雲霄飛車上面 -->
                    <path class="ft-13" d="M293,151.9c38.8,32.1,83.9,24.2,102,11.6,4.8-3.3,6.7-6.4,7.3-8.9a10.3,10.3,0,0,0-1.8-7.6c-3.4-5.3-10.3-9.6-14.5-11.3-15-6-31.8-3.4-53.1,3.1-7.2,2.1-14.9,4.7-23.2,7.5Zm-4-4.3a311.3,311.3,0,0,0-38.1-35.1c-8.4-6.4-17-12.1-25.3-16s-16.4-6.2-23.6-5.3c-5.5.6-13.7,1.6-20.4,6.6s-11.8,13.9-11.8,29c0,7.7,5.5,20.7,18.8,29.8s34.8,14.2,66.5,6.3c11.5-2.8,22.2-6,32.3-9.2l1.3,1.5v.2h.1c40.9,34.3,89.1,26.3,109.2,12.4,5.4-3.8,8.4-7.8,9.4-12.1a15.2,15.2,0,0,0-2.5-11.7c-4.2-6.6-12.2-11.4-17-13.4-16.9-6.7-35.3-3.5-56.7,2.9-7.5,2.3-15.3,5-23.7,7.8Zm-5.6,1.8a317.7,317.7,0,0,0-35.8-32.7c-8.2-6.2-16.5-11.7-24.3-15.4s-14.9-5.5-20.7-4.8-12.4,1.6-17.8,5.6-9.6,10.9-9.6,24.7c0,5.7,4.4,17.1,16.5,25.4s31.5,13.1,62.1,5.6C264.4,155.1,274.2,152.3,283.4,149.4Z"/>

                    <!-- 雲霄飛車的車 -->
                    <rect width="20" height="10" x="0" y="-10" fill="#398590">

                    <animateMotion dur="10s" path=M293,151.9c38.8,32.1,83.9,24.2,102,11.6,4.8-3.3,6.7-6.4,7.3-8.9a10.3,10.3,0,0,0-1.8-7.6c-3.4-5.3-10.3-9.6-14.5-11.3-15-6-31.8-3.4-53.1,3.1-7.2,2.1-14.9,4.7-23.2,7.5Zm-4-4.3a311.3,311.3,0,0,0-38.1-35.1c-8.4-6.4-17-12.1-25.3-16s-16.4-6.2-23.6-5.3c-5.5.6-13.7,1.6-20.4,6.6s-11.8,13.9-11.8,29c0,7.7,5.5,20.7,18.8,29.8s34.8,14.2,66.5,6.3c11.5-2.8,22.2-6,32.3-9.2l1.3,1.5v.2h.1c40.9,34.3,89.1,26.3,109.2,12.4,5.4-3.8,8.4-7.8,9.4-12.1a15.2,15.2,0,0,0-2.5-11.7c-4.2-6.6-12.2-11.4-17-13.4-16.9-6.7-35.3-3.5-56.7,2.9-7.5,2.3-15.3,5-23.7,7.8Zm-5.6,1.8a317.7,317.7,0,0,0-35.8-32.7c-8.2-6.2-16.5-11.7-24.3-15.4s-14.9-5.5-20.7-4.8-12.4,1.6-17.8,5.6-9.6,10.9-9.6,24.7c0,5.7,4.4,17.1,16.5,25.4s31.5,13.1,62.1,5.6C264.4,155.1,274.2,152.3,283.4,149.4Z repeatCount="indefinite" rotate="auto" /> 

                    </rect>
                </g>
                <!-- 樹 -->
                <g id="tree">
                    <g>
                        <path class="ft-1" d="M1246.6,234.6h4.8l1.9,42.1H1244Z"/>
                        <path class="ft-14" d="M1275.9,208.4c0,18.5-12.3,33.4-27.4,33.4s-27.5-14.9-27.5-33.4,12.3-33.4,27.5-33.4S1275.9,190,1275.9,208.4Z"/>
                    </g>
                    <g>
                        <path class="ft-1" d="M1187.9,198h4.1l1.7,36h-8Z"/>
                        <path class="ft-15" d="M1213,175.6c0,15.8-10.5,28.6-23.5,28.6s-23.5-12.8-23.5-28.6,10.5-28.6,23.5-28.6S1213,159.8,1213,175.6Z"/>
                    </g>
    
                    <g>
                        <path class="ft-1" d="M525.3,194.5h3.9l1.6,33.9h-7.5Z"/>
                        <path class="ft-2" d="M549,173.4c0,14.9-9.9,26.9-22.1,26.9s-22.1-12-22.1-26.9,9.9-26.9,22.1-26.9S549,158.6,549,173.4Z"/>
                    </g>
    
                    <g>
                        
                        <path class="ft-1" d="M904.9,157.4h3.2l1.3,27.9h-6.2Z"/>
                        <path class="ft-2" d="M924.3,140.1c0,12.2-8.1,22.1-18.1,22.1S888,152.3,888,140.1s8.1-22.1,18.2-22.1S924.3,127.9,924.3,140.1Z"/>
                    </g>
                    <g>
                        
                        <path class="ft-1" d="M1093.8,162.5h2.8l1.1,24.4h-5.4Z"/>
                        <path class="ft-2" d="M1110.8,147.4c0,10.6-7.1,19.3-15.9,19.3S1079,158,1079,147.4s7.1-19.4,15.9-19.4S1110.8,136.7,1110.8,147.4Z"/>
                    </g>
                    <g>
                        
                        <path class="ft-1" d="M956,134.7h3.8l1.5,33H954Z"/>
                        <path class="ft-2" d="M979,114.2c0,14.4-9.6,26.1-21.5,26.1S936,128.6,936,114.2,945.6,88,957.5,88,979,99.7,979,114.2Z"/>
                    </g>
                    <g>
                        
                        <path class="ft-1" d="M624.5,181.3h3.8l1.6,33.9h-7.5Z"/>
                        <path class="ft-2" d="M647.7,160.1c0,14.9-9.7,27-21.7,27s-21.8-12.1-21.8-27,9.8-26.9,21.8-26.9S647.7,145.3,647.7,160.1Z"/>
                    </g>
    
                    <g>
                        
                        <path class="ft-1" d="M692.8,173.4h2.9l1.1,24.6h-5.5Z"/>
                        <path class="ft-2" d="M710,158.1c0,10.8-7.2,19.5-16.1,19.5s-16-8.7-16-19.5,7.2-19.6,16-19.6S710,147.3,710,158.1Z"/>
                    </g>
    
                    <g>
                        
                        <path class="ft-1" d="M497.8,223.4H502l1.7,36.8h-8.2Z"/>
                        <path class="ft-15" d="M523.4,200.5c0,16.2-10.7,29.2-24,29.2s-23.9-13-23.9-29.2,10.7-29.1,23.9-29.1S523.4,184.4,523.4,200.5Z"/>
                    </g>
                    <g>
                        
                        <path class="ft-1" d="M649.3,212.3h3.9l1.5,34h-7.4Z"/>
                        <path class="ft-15" d="M672.6,191.2c0,14.9-9.7,27-21.8,27s-21.7-12.1-21.7-27,9.7-26.9,21.7-26.9S672.6,176.3,672.6,191.2Z"/>
                    </g>
                    <g>
                        
                        <path class="ft-1" d="M589.6,174.3h5.2l2,44.8h-9.9Z"/>
                        <path class="ft-14" d="M620.8,146.5c0,19.6-13,35.5-29.2,35.5s-29.1-15.9-29.1-35.5,13-35.5,29.1-35.5S620.8,126.9,620.8,146.5Z"/>
                    </g>
                    <g>
                        
                        <path class="ft-1" d="M872.9,205.8h4l1.6,34.6h-7.7Z"/>
                        <path class="ft-14" d="M897,184.4c0,15.1-10.1,27.4-22.5,27.4S852,199.5,852,184.4,862.1,157,874.5,157,897,169.3,897,184.4Z"/>
                    </g>
                    <g>
                        <path class="ft-1" d="M129,252.4h3.5l1.5,30.4h-6.8Z"/>
                        <path class="ft-2" d="M150.2,233.5c0,13.3-8.8,24.1-19.8,24.1s-19.8-10.8-19.8-24.1,8.9-24.1,19.8-24.1S150.2,220.1,150.2,233.5Z"/>
                        
                    </g>
    
                    <g>
                        
                        <path class="ft-1" d="M164.8,275.1h3.8l1.5,32.9h-7.3Z"/>
                        <path class="ft-15" d="M187.8,254.6c0,14.4-9.6,26.1-21.5,26.1s-21.5-11.7-21.5-26.1,9.6-26.2,21.5-26.2S187.8,240.2,187.8,254.6Z"/>
                    </g>
                    <g>
                        
                        <path class="ft-1" d="M72.3,241.7h6.3l2.6,55H69Z"/>
                        <path class="ft-14" d="M110.6,207.6c0,24-16,43.5-35.8,43.5S39,231.6,39,207.6,55,164,74.8,164,110.6,183.5,110.6,207.6Z"/>
                    </g>
                    <g>
                        
                        <path class="ft-1" d="M1140.7,203.6h5.8l2.4,50.7h-11.3Z"/>
                        <path class="ft-2" d="M1176,172.2c0,22.1-14.8,40.1-33,40.1s-33-18-33-40.1,14.8-40.2,33-40.2S1176,150,1176,172.2Z"/>
                    </g>
                    
                </g>
                <!-- 摩天輪 -->
                <g id="ft-wheel">
                    <!-- 三角形 -->
                    <path class="ft-16" d="M1021.5,101l-26.8,54.8h53.6Zm0,4.5-23.6,48.3h47.2Z"/>
                    <!-- 底 -->
                    <path class="ft-4" d="M993,157a2.9,2.9,0,0,1,3-3h51a3,3,0,0,1,0,6H996A2.9,2.9,0,0,1,993,157Z"/>
                    <!-- 大圈 -->
                    <path class="ft-16" d="M1021.2,138.1a46.4,46.4,0,1,0-46.3-46.3A46.3,46.3,0,0,0,1021.2,138.1Zm0,3a49.4,49.4,0,1,0-49.3-49.3A49.4,49.4,0,0,0,1021.2,141.1Z"/>
                    <!-- 軸 -->
                    <g style="transform-box:fill-box; transform-origin:center;">
                        <path class="ft-17" d="M1021,140.7V42h1v98.7Z"/>
                        <path class="ft-17" d="M986.3,126.6l69.8-69.8.7.7L987,127.3Z"/>
                        <path class="ft-17" d="M1070.6,91.8H971.9v-1h98.7Z"/>
                        <path class="ft-17" d="M1056.1,126.6,986.3,56.8l.7-.7,69.8,69.8Z"/>

                        <animateTransform attributeName="transform"
                        attributeType="XML"
                        type="rotateX"
                        from="0"
                        to="360"
                        dur="5s"
                        repeatCount="indefinite"/>
                        
                    </g>
                    <!-- 中圈 -->
                    <circle class="ft-18" cx="1021" cy="90.7" r="32.5"/>
                    <!-- 所有車廂 -->
                    <g id="all-car" style="transform-box:fill-box; transform-origin:center;">

                        <animateTransform attributeName="transform"
                        attributeType="XML"
                        type="rotateX"
                        from="0"
                        to="360"
                        dur="5s"
                        repeatCount="indefinite"/>
                        <!-- 車廂1 -->
                        <g class="ft-car">
                            <path class="ft-5" d="M1033.5,43c0,6.1-5.2,11-11.7,11S1010,49.1,1010,43s5.3-11,11.8-11S1033.5,36.9,1033.5,43Z"/>
                            <path class="ft-19" d="M1029.7,42a.3.3,0,0,0,.1-.2,8,8,0,0,0-16,0V42Z"/>
                        </g>
                        <!-- 車廂2 -->
                        <g class="ft-car">
                            <path class="ft-7" d="M997.7,58.7c0,6.1-5.3,11-11.8,11s-11.7-4.9-11.7-11,5.2-11,11.7-11S997.7,52.6,997.7,58.7Z"/>
                            <path class="ft-19" d="M993.9,57.7v-.2a8,8,0,0,0-16,0,.3.3,0,0,1,.1.2Z"/>
                        
                            
                        </g>
                        <!-- 車廂3 -->
                        <g class="ft-car">
                            <path class="ft-5" d="M981.5,91c0,6.1-5.2,11-11.7,11S958,97.1,958,91s5.3-11,11.8-11S981.5,84.9,981.5,91Z"/>
                            <path class="ft-19" d="M977.7,90v-.2a7.6,7.6,0,0,0-7.9-7.5,7.7,7.7,0,0,0-8,7.5V90Z"/>
                            
                        </g>
                        <!-- 車廂4 -->
                        <g class="ft-car">
                            <path class="ft-7" d="M997.7,127c0,6.1-5.3,11-11.8,11s-11.7-4.9-11.7-11,5.2-11,11.7-11S997.7,120.9,997.7,127Z"/>
                            <path class="ft-19" d="M993.9,126v-.2a8,8,0,0,0-16,0v.2Z"/>
                            
                            
                        </g>
                        <!-- 車廂5 -->
                        <g class="ft-car">
                            <path class="ft-5" d="M1033.5,141c0,6.1-5.2,11-11.7,11s-11.8-4.9-11.8-11,5.3-11,11.8-11S1033.5,134.9,1033.5,141Z"/>
                            <path class="ft-19" d="M1029.7,140v-.2a8,8,0,0,0-16,0v.2Z"/>
                            
                        </g>

                        <!-- 車廂6 -->
                        <g class="ft-car">
                            <path class="ft-7" d="M1068.5,127c0,6.1-5.2,11-11.7,11s-11.8-4.9-11.8-11,5.3-11,11.8-11S1068.5,120.9,1068.5,127Z"/>
                            <path class="ft-19" d="M1064.7,126a.3.3,0,0,0,.1-.2,8,8,0,0,0-16,0v.2Z"/>
                            
                        </g>
                        <!-- 車廂7 -->
                        <g class="ft-car">
                            <path class="ft-5" d="M1082.5,91c0,6.1-5.2,11-11.7,11S1059,97.1,1059,91s5.3-11,11.8-11S1082.5,84.9,1082.5,91Z"/>
                            <path class="ft-19" d="M1078.7,90a.3.3,0,0,0,.1-.2,8,8,0,0,0-16,0V90Z"/>
                
                            
                        </g>
                        <!-- 車廂8 -->

                        <g class="ft-car">
                            <path class="ft-7" d="M1068.5,58.7c0,6.1-5.2,11-11.7,11s-11.8-4.9-11.8-11,5.3-11,11.8-11S1068.5,52.6,1068.5,58.7Z"/>
                            <path class="ft-19" d="M1064.7,57.7a.3.3,0,0,0,.1-.2,8,8,0,0,0-16,0v.2Z"/>
                            
                            
                        </g>
                    </g>
                

                    <!-- 小圈 -->
                    <path class="ft-20" d="M1034.1,90.5A12.6,12.6,0,1,1,1021.5,78,12.6,12.6,0,0,1,1034.1,90.5Z"/>
                    <path class="ft-21" d="M1021.5,100.1a9.6,9.6,0,1,0-9.5-9.6A9.6,9.6,0,0,0,1021.5,100.1Zm0,3A12.6,12.6,0,1,0,1009,90.5,12.6,12.6,0,0,0,1021.5,103.1Z"/>
                        
                </g>
            
<!-- 
                <path class="ft-1" d="M430.9,200h5.9l2.4,51.1H427.8Z"/>
                <path class="ft-14" d="M466.5,168.3c0,22.4-14.9,40.5-33.3,40.5S400,190.7,400,168.3s14.9-40.4,33.2-40.4S466.5,146,466.5,168.3Z"/>
                <path class="ft-1" d="M1049.8,182.6h3.4l1.4,29.4H1048Z"/>
                <path class="ft-14" d="M1070.3,164.3c0,12.9-8.6,23.3-19.1,23.3s-19.2-10.4-19.2-23.3,8.6-23.3,19.2-23.3S1070.3,151.4,1070.3,164.3Z"/> -->
        </svg>
    <!-- 最後文字 -->
      <div class="final">
          <p>© EAGLE THEME PARK</p>
      </div>
    </div>

</footer>


<!-- js 電腦版導覽列滾輪 機器人&top -->
<script>
    window.addEventListener("load",function(){  

        document.addEventListener("scroll",function(){
            let ScrollNum = document.documentElement.scrollTop;
            let screenHeight = screen.height;
            console.log(screenHeight)
            let robot = document.getElementById("robot");
            let top = document.getElementById("top");

            console.log(ScrollNum)
                if(ScrollNum>screenHeight){
                    robot.classList.remove("hide");
                    robot.classList.add("flex");
                    top.classList.remove("hide");
                    top.classList.add("flex");
                }else{
                    robot.classList.remove("flex");
                    robot.classList.add("hide");
                    top.classList.remove("flex");
                    top.classList.add("hide");
                }


        }, false);

    });
</script>



<!-- gsap footer氣球 -->

<script>

    gsap.to(".ft-ballon1",{
       x:100,
       y:-20,
       duration:2,
       repeat:-1,
       ease: "power2.inOut",
   });
   
   gsap.to(".ft-ballon2",{
       x:160,
       y:-40,
       duration:2,
       repeat:-1,
       ease: "power2.inOut",
   });

   gsap.to(".ft-ballon3",{
       x:140,
       y:-30,
       duration:2,
       repeat:-1,
       ease: "power2.inOut",
   });




</script>