
<!-- footer -->
<footer>
  <a href="" class="top-bottom">
      TOP
  </a>
  <div class="container wrap">
      <div class="inf">
          <div class="logo">
              <img src="/images/logo.svg" alt="">
          </div>
          <p>台灣 32041 桃園市中壢區復興路46號9樓</p>
          <p>03-303-3033</p>
          <p>eagle_theme_park@gmail.com</p>
      </div>
      <nav>
          <ul>
              <a href="">主題園區</a>
              <li>
                  <a href="">紐約都會</a>
              </li>
              <li>
                  <a href="">西部農莊</a>
              </li>
              <li>
                  <a href="">印安部落</a>
              </li>
          </ul>
          <ul>
              <a href="">最新消息</a>
              <li>
                  <a href="">活動專區</a>
              </li>
          </ul>
          <ul>
              <a href="">購票指南</a>
              <li>
                  <a href="">票價資訊</a>
              </li>
              <li>
                  <a href="">交通資訊</a>
              </li>
          </ul>
          <ul>
              <a href="">伊果商城</a>
          </ul>
          <ul>
              <a href="">饗食餐廳</a>
          </ul>
          <ul>
              <a href="">遊客體驗</a>
          </ul>
      </nav>
      <div class="icon">
          <a href="">
              <img src="/images/Facebook.svg" alt="">
          </a>
          <a href="">
              <img src="/images/Instagram.svg" alt="">
          </a>
          <a href="">
              <img src="/images/Twitter.svg" alt="">
          </a>
          <a href=""> 
              <img src="/images/YouTube Logo.svg" alt="">
          </a>

      </div>
  </div>

  </div>
  <div class="down">
      <div class="pic">
          <img src="/images/footer.svg" alt="">
      </div>
      <div class="final">
          <p>© EAGLE THEME PARK</p>
      </div>
  </div>

</footer>