<!-- 客服機器人 -->
<div class="robot" id="robot">
    <img src="../images/eagleRobot.png" alt="">
</div>

<!-- top -->
<a href="" class="top-bottom" id="top">
    <i class="fa-solid fa-angle-up"></i>
    <p>TOP</p>
</a>

<!-- footer -->
<footer>
    <div class="container wrap">
        <div class="inf">
            <div class="logo">
                <img src="/images/logo.svg" alt="">
            </div>
            <p>台灣 32041 桃園市中壢區復興路46號9樓</p>
            <div class="time">
                <p>伊果樂園基本營業時間</p>
                <p>【平日】09：30～17：00</p>
                <p>【假日】09：00～17：00</p>
            </div>
        </div>

        <nav>
            <ul>
                <a href="">主題園區</a>
                <li>
                    <a href="">紐約都會</a>
                </li>
                <li>
                    <a href="">西部農莊</a>
                </li>
                <li>
                    <a href="">印安部落</a>
                </li>
            </ul>
            <ul>
                <a href="news.html">最新消息</a>
                <li>
                    <a href="">活動專區</a>
                </li>
            </ul>
            <ul>
                <a href="ticket.html">購票指南</a>
                <li>
                    <a href="">票價資訊</a>
                </li>
                <li>
                    <a href="">交通資訊</a>
                </li>
            </ul>
            <ul>
                <a href="">伊果商城</a>
            </ul>
            <ul>
                <a href="food.html">饗食餐廳</a>
            </ul>
            <ul>
                <a href="">遊客體驗</a>
            </ul>
        </nav>

        <div class="icon">
            <a href="">
                <img src="/images/Facebook.svg" alt="">
            </a>
            <a href="">
                <img src="/images/Instagram.svg" alt="">
            </a>
            <a href="">
                <img src="/images/Twitter.svg" alt="">
            </a>
            <a href=""> 
                <img src="/images/YouTube Logo.svg" alt="">
            </a>

        </div>
    </div>

    </div>
        <div class="down">
      <div class="pic">
          <img src="/images/footer.svg" alt="">
      </div>
      <div class="final">
          <p>© EAGLE THEME PARK</p>
      </div>
    </div>

</footer>


<!-- js 電腦版導覽列滾輪 機器人&top -->
<script>
    window.addEventListener("load",function(){  

        document.addEventListener("scroll",function(){
            let ScrollNum = document.documentElement.scrollTop;
            let screenHeight = screen.height;
            console.log(screenHeight)
            let robot = document.getElementById("robot");
            let top = document.getElementById("top");

            console.log(ScrollNum)
                if(ScrollNum>screenHeight){
                    robot.classList.remove("hide");
                    robot.classList.add("flex");
                    top.classList.remove("hide");
                    top.classList.add("flex");
                }else{
                    robot.classList.remove("flex");
                    robot.classList.add("hide");
                    top.classList.remove("flex");
                    top.classList.add("hide");
                }


        }, false);

    });
</script>