<!-- @@include('login.html') -->
<h1>EAGLE THEME PARK</h1>
<header>
    <div class="left-back">

    </div>
    <!-- HEADER MAIN 開始 -->
    <div class="wrap">
        <div class="logo">
            <img src="/images/logo.svg" alt="">
        </div>
        <!-- 電腦版nav -->
        <nav class="pc-nav">
            <div class="icon">
                <a href="">
                    <img src="/images/Vector.svg" alt="">
                </a>
                <a href="">
                    <img src="/images/Basket.svg" alt="">
                </a>
            </div>
            <ul>
                <li>
                    <a href="">
                        主題園區
                    </a>
                </li>
                <li>
                    <a href="">
                        主題園區
                    </a>
                </li>
                <li>
                    <a href="">
                        購票指南
                    </a>
                </li>
                <li>
                    <a href="">
                        伊果商城
                    </a>
                </li>
                <li>
                    <a href="">
                        饗食餐飲
                    </a>
                </li>
                <li>
                    <a href="">
                        遊客體驗
                    </a>
                </li>
            </ul>
        </nav>
      
    </div>
    <!-- HEADER MAIN 結束 -->
    <div class="right-back">
          <!-- 手機板nav漢堡 -->
        <div class="hbg">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <a href="" class="ticket">
        <img src="/images/ticket.svg" alt="">
    </a>
    <div class="bottom-back">
        <div class="bcg-front"></div>
    </div>
</header>