
<h1>EAGLE THEME PARK</h1>
<header  id="header" class="@@class">
    <div class="left-back">
        <!-- 手機板上方 -->
        <div class="mobile-icon">
            <a href="">
                <img src="/images/Vector2.svg" alt="">
            </a>
            <a href="shoppingCart.html">
                <img src="/images/Basket2.png" alt="">
            </a>
        </div>

    </div>
    <!-- HEADER MAIN 開始 -->
    <div class="wrap">
        <div class="logo">
            <a href="homepage.html">
                <img src="/images/logo.svg" alt="">
            </a>

        </div>
        <!-- 電腦版nav -->
        <nav class="pc-nav" id="pc-nav">
            <div class="icon">
                <a href="">
                    <img src="/images/Vector.svg" alt="">
                </a>
                <a href="shoppingCart.html">
                    <img src="/images/Basket.svg" alt="">
                </a>
            </div>
            <ul>
                <li>
                    <div>
                        <a href="themePark_NewYork.html" class="main-nav">
                            主題園區
                        </a>
                    </div>
                    <div class="sec-nav">
                        <a href="themePark_NewYork.html" id="nav-nw">紐約都會</a>
                    
                        <a href="themePark_West.html" >西部農莊</a>
                 
                        <a href="themePark_Indian.html">印安部落</a>
                    </div>             
                </li>
                <li>
                    <a href="news.html" class="main-nav">
                        最新消息
                    </a>
                </li>
                <li>
                    <a href="ticket.html" class="main-nav">
                        園區資訊
                    </a>
                </li>
                <li>
                    <a href="shop.html" class="main-nav">
                        伊果商城
                    </a>
                </li>
                <li>
                    <a href="food.html" class="main-nav">
                        饗食餐飲
                    </a>
                </li>
                <li>
                    <a href="visitor_experience.html" class="main-nav">
                        遊客體驗
                    </a>
                </li>
            </ul>
        </nav>
      
    </div>
    <!-- HEADER MAIN 結束 -->
    <div class="right-back">
        <!-- 手機板nav漢堡 -->
        <label class="hbg" v-on:click="show = !show">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <!-- 手機板選單 -->
    <nav class="mobile-nav" v-if="show">
        <div class="top-block">
            <img src="../images/logo.svg" alt="">
            <div class="close" v-on:click="show = !show">
                <span></span>
                <span></span>
            </div>
        </div>
        <ul>
            <li class="mobile-nav-li bd">
                <img src="/images/navHome.svg" alt="">
                <a href="homepage.html">
                    伊果樂園
                </a>
            </li>

            <div class="mobile-nav-li mobile_nav_themePark">
                <li class="mobile-nav-li">
                    <img src="/images/navThemePark.svg" alt="">
                    <div>
                        主題園區
                    </div>
                </li>
                <li class="mobile-nav-second">
                    <a href="themePark_NewYork.html">紐約都會</a>
                    <a href="themePark_West.html">西部農莊</a>
                    <a href="themePark_Indian.html">印安部落</a>
                </li>
            </div>

            <li class="mobile-nav-li">
                <img src="/images/navNew.svg"alt="">
                <a href="news.html">
                    最新消息
                </a>
            </li>
            <li class="mobile-nav-li">
                <img src="/images/navTicket.svg" alt="">
                <a href="./ticket.html">
                    園區資訊
                </a>
            </li>
            <li class="mobile-nav-li">
                <img src="/images/Shopify.svg" alt="">
                <a href="shop.html">
                    伊果商城
                </a>
            </li>
            <li class="mobile-nav-li">
                <img src="/images/navFastfood.svg" alt="">
                <a href="food.html">
                    饗食餐飲
                </a>
            </li>
            <li class="mobile-nav-li">
                <img src="/images/navConversation.svg" alt="">
                <a href="visitor_experience.html">
                    遊客體驗
                </a>
            </li>
        </ul>
    </nav>
    <!-- 小票券 -->
    <a href="ticket.html" class="ticket">
        <img src="/images/ticket.svg" alt="">
    </a>
    <div class="bottom-back">
        <div class="bcg-front"></div>
    </div>


    <script src="../js/hbg.show.js">
    </script>

</header>
