<!-- @@include('login.html') -->
<h1>EAGLE THEME PARK</h1>
<header id="hbg">
    <div class="left-back">

    </div>
    <!-- HEADER MAIN 開始 -->
    <div class="wrap">
        <div class="logo">
            <img src="/images/logo.svg" alt="">
        </div>
        <!-- 電腦版nav -->
        <nav class="pc-nav">
            <div class="icon">
                <a href="">
                    <img src="/images/Vector.svg" alt="">
                </a>
                <a href="">
                    <img src="/images/Basket.svg" alt="">
                </a>
            </div>
            <ul>
                <li>
                    <a href="">
                        主題園區
                    </a>
                </li>
                <li>
                    <a href="">
                        最新消息
                    </a>
                </li>
                <li>
                    <a href="">
                        園區資訊
                    </a>
                </li>
                <li>
                    <a href="">
                        伊果商城
                    </a>
                </li>
                <li>
                    <a href="">
                        饗食餐飲
                    </a>
                </li>
                <li>
                    <a href="">
                        遊客體驗
                    </a>
                </li>
            </ul>
        </nav>
      
    </div>
    <!-- HEADER MAIN 結束 -->
    <div class="right-back">
        <!-- 手機板nav漢堡 -->
        <label class="hbg" @click="isShow = false">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <!-- 手機板選單 -->
    <nav class="mobile-nav" v-show="isShow">
        <div class="top-block">
            <div class="close">
                <span></span>
                <span></span>
            </div>
        </div>
        <ul>

            <li>
                <img src="/images/navHome.svg" alt="">
                <a href="">
                    主題園區
                </a>
            </li>
            <li>
                <img src="/images/navThemePark.png"alt="">
                <a href="">
                    最新消息
                </a>
            </li>
            <li>
                <img src="/images/navNew.svg" alt="">
                <a href="">
                    園區資訊
                </a>
            </li>
            <li>
                <img src="/images/navTicket.svg" alt="">
                <a href="">
                    伊果商城
                </a>
            </li>
            <li>
                <img src="/images/navFastfood.svg" alt="">
                <a href="">
                    饗食餐飲
                </a>
            </li>
            <li>
                <img src="/images/navConversation.svg" alt="">
                <a href="">
                    遊客體驗
                </a>
            </li>
        </ul>
    </nav>

    <a href="" class="ticket">
        <img src="/images/ticket.svg" alt="">
    </a>
    <div class="bottom-back">
        <div class="bcg-front"></div>
    </div>
</header>



<!-- vue -->
<script>

    new Vue({
        el: '#hbg',
        data: {     // 變數放這裡!
            message: '',
        },
        methods: {  // 函數大部分放這裡!
           
        },
        computed: { 
        },
        mounted(){

        }
    });
</script>