<!-- ===============登入燈箱=============== -->

<div class="full-screen hide" id="full-screen">
    
    <div class="login-lightbox both-lightbox lightbox-bdr hide" id="login-lightbox">
        <div class="lightbox-container">
            <div class="pic-area lightbox-bdr-up">
                <img src="./images/cloud.jpg" alt="" class="lightbox-bdr-up">
            </div>
            <div class="login lightbox-bdr-down">
                <form action="">
                    <div class="up">
                        <div>
                            <label for="">帳號</label>
                            <input type="text">
                        </div>
                        <div>
                            <label for="">密碼</label>
                            <input type="password">
                        </div>
                    </div>

                    <div class="down">
                        <a href="member-info.html" class="bgBtn-login">登入</a>
                        <!-- <button href="member-info.html" class="bgBtn-login">登入</button> -->
                        <span>
                            <span href="">忘記密碼</span>
                            <p>|</p>
                            <span id="register-btn">立即註冊</span>
                        </span>
                    </div>
                </form>
            </div>
            <div class="logo">
                <img src="./images/logo.svg" alt="">
            </div>
            <div class="close">
                <i class="fa-solid fa-xmark"></i>
    
            </div>
        </div>
    </div>
</div>