<!-- ===============登入燈箱=============== -->

<div class="full-screen" v-show="loginBoxShow" id="loginBox"> 
    
    <div class="login-lightbox both-lightbox lightbox-bdr">
        <!-- 照片區 -->
        <div class="pic-area">
            <img src="./images/cloud.jpg" alt="" class="lightbox-bdr-up">
        </div>
        <!-- 登入區塊 -->
        <div class="login">
            <form action="">
                <div class="up">
                    <div>
                        <label for="">帳號</label>
                        <input type="text" placeholder="請輸入15碼內英文及數字" id="username">
                    </div>
                    <div>
                        <label for="">密碼</label>
                        <input type="password" placeholder="請輸入大小寫英文及數字8~12碼" id="userpassword" >
                    </div>
                </div>
                <div class="down">
                    <a href="member-info.html" class="bgBtn-login" id="loginBtn">登入</a>
                    <!-- <button href="member-info.html" class="bgBtn-login" id="register">登入</button> -->
                    <!-- <input type="button" class="bgBtn-login" value="登入" id="register"> -->
                    <span>
                        <span href="">忘記密碼</span>
                        <p>|</p>
                        <span @click="loginBoxShow = !loginBoxShow ,RegisterBoxShow = !RegisterBoxShow">立即註冊</span>
                    </span>
                </div>
            </form>
        </div>
        <!-- logo -->
        <div class="logo">
            <img src="./images/logo.svg" alt="">
        </div>
        <!-- xx -->
        <div class="close" @click="loginBoxShow = !loginBoxShow">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>

</div>
