<!-- ===============登入燈箱=============== -->
<div class="login-lightbox both-lightbox lightbox-bdr hide">
    <div class="eagle">
        <img src="./images/login-eagle.svg" alt="">
    </div>
    <div class="lightbox-container">
        <div class="pic-area lightbox-bdr-up">
            <img src="./images/cloud.jpg" alt="" class="lightbox-bdr-up">
        </div>
        <div class="login lightbox-bdr-down">
            <form action="">
                <div>
                    <label for="">帳號</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">密碼</label>
                    <input type="text">
                </div>
                <button class="bgBtn-login">登入</button>
                <span>
                    <a href="">忘記密碼</a>
                    <p>|</p>
                    <a href="">立即註冊</a>
                </span>
            </form>
        </div>
        <div class="logo">
            <img src="./images/logo.svg" alt="">
        </div>
        <div class="close">
            <i id="close" class="fa-solid fa-xmark"></i>

        </div>
    </div>
</div>
