<div class="wrap food-wrap">
    <div class="text">
        <h2>@@foodTitleh2</h2>
        <p>@@foodContp</p>
    </div>
    <div class="carousel">
        <div class="carousel_cards">
            <div class="carousel_card">
                <img class="carousel_img" src="@@foodimg1">
            </div>
            <div class="carousel_card">
                <img class="carousel_img" src="@@foodimg2">
            </div>
            <div class="carousel_card">
                <img class="carousel_img" src="@@foodimg3">
            </div>
            <div class="carousel_card">
                <img class="carousel_img" src="@@foodimg4">
            </div>
            <div class="carousel_card">
                <img class="carousel_img" src="@@foodimg5">
            </div>
            <div class="carousel_card">
                <img class="carousel_img" src="@@foodimg6">
            </div>
            <div class="carousel_card">
                <img class="carousel_img" src="@@foodimg7">
            </div>
            <div class="carousel_card">
                <img class="carousel_img" src="@@foodimg8">
            </div>
        </div>
        <div class="carousel_control">
            <button class="carousel_btn Back"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="carousel_btn Next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div>

